<div style="width:100%" style=position:relative;>

        <div class="footer text-center footnav" style="text-align:center;background-color: #64767f; position:fixed;bottom:0px;width:100%">
            <div style="width:100%;height:40px; padding-top:7px; color:#fff">
                <a (click)="gotoAU()" style="cursor:pointer" class="col-sm-offset-1" style="color:#fff">About US </a>
                <a (click)="gotoTeam()" style="cursor:pointer" class="col-sm-offset-1" style="color:#fff">Team </a>
                <a (click)="gotoProducts()" style="cursor:pointer" class="col-sm-offset-1" style="color:#fff">Products</a>
                <a (click)="gotoOS()" style="cursor:pointer" class="col-sm-offset-1" style="color:#fff">Our Services</a>
            </div>
            <div style="width:100%;height: 50px;background-color: #f2f2f2;">
                <div class="" style="list-style-position:inside; padding-top:7px; width:80%;">
                    <div class="col-sm-offset-3 pull-left  ">@Copyright 2017</div>
                    <div (click)="gotoCU()" style="cursor:pointer" class="col-sm-offset-1 pull-left ">Contact US</div>
                    <div (click)="gotoFaq()" style="cursor:pointer" class="col-sm-offset-1 pull-left ">Faq</div>
                    <div (click)="gotoProd()" style="cursor:pointer" class="col-sm-offset-1 pull-left ">Producer</div>

                    <div class="pull-right" style="margin-left:1%">
                        <a href="#"><img src="assets/images/norton.svg" width="80px"></a>
                    </div>

                    <div class="pull-right">
                        <a href="#"><img src="assets/images/g-plus.svg" width="27px"></a>
                        <a href="#"><img src="assets/images/fb.svg" width="27px"></a>
                        <a href="#"><img src="assets/images/linkedin.svg" width="27px"></a>
                        <a href="#"><img src="assets/images/twitter.svg" width="27px"></a>
                    </div>

                </div>
            </div>
        </div>


    </div>
