<div class="main-wrapper">
	<app-top-navbar></app-top-navbar>
</div>

<div class="content-wrapper">

	<div class="container-fluid">
		<div class="row page-title-div">
			<div class="col-md-6">
				<h4 class="title">Sales & M2M Position</h4>
				<p class="sub-title"></p>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6 right-side"></div>
			<!-- /.col-sm-6 text-right -->
		</div>
		<!-- /.row -->
		<div class="row breadcrumb-div">
			<div class="col-sm-6">
				<ul class="breadcrumb">
					<li>
						<a  style="cursor: pointer">
							<i class="fa fa-home"></i> Dashboard</a> / Add Custom Fields
					</li>
				</ul>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6 text-right">
				<a style="cursor: pointer">
					<i class="fa fa-comments"></i> Talk to us</a>

				<a class="pl-20" style="cursor: pointer">
					<i class="fa fa-newspaper-o"></i> Subscription</a>
			</div>
			<!-- /.col-sm-6 -->
		</div>
		<!-- /.row -->
	</div>

	<section class="section pt-10">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel" data-panel-control>
						<div class="panel-heading">
							<app-ngr-entity-display></app-ngr-entity-display>
						</div>

						<!--add crop year start here -->
						<div class="col-md-12">
							<div class="content clearfix">
								<!--add crop year-->
								<div class="row">
									<div class="col-md-10 ">
										<div class="panel1">
											<div class="panel-body1">

												<form #userform="ngForm">
													<div class="row">
														<div>
															<input type="text" [(ngModel)]="crop_year"  name="abn" #abn="ngModel" style="float:left;margin-right:30px">
															<button type="button" class="btn btn-primary"  (click)="addCropYear()">Add Crop Year</button>
														</div>
													</div>

												</form>
											</div>
										</div>

									</div>

								</div>


								<!--storage-->
								<div class="row">
									<div class="col-md-10 ">
										<div class="panel1">
											<div class="panel-body1">

												<form #userform="ngForm">
													<div class="row">
														<div>
															<input type="text" [(ngModel)]="StorageType_name"  name="abn" #abn="ngModel" style="float:left;margin-right:30px">
															<button type="button" class="btn btn-primary"  (click)="addStorageType()">Add Storage</button>
														</div>
													</div>

												</form>
											</div>
										</div>

									</div>

								</div>


								<!--coommodity-->
								<div class="row">
									<div class="col-md-10 ">
										<div class="panel1">
											<div class="panel-body1">

												<form #userform="ngForm">
													<div class="row">
														<div>
															<input type="text" [(ngModel)]="Commodity_name"  name="abn" #abn="ngModel" style="float:left;margin-right:30px">
															<button type="button" class="btn btn-primary"  (click)="addCommodityType()">Add Commodity</button>
														</div>
													</div>

												</form>
											</div>
										</div>

									</div>

								</div>


								<!--chemical-->
								<div class="row">
									<div class="col-md-10 ">
										<div class="panel1">
											<div class="panel-body1">

												<form #userform="ngForm">
													<div class="row">
														<div>
															<input type="text" [(ngModel)]="Chemical_Name"  name="abn" #abn="ngModel" style="float:left;margin-right:30px">
															<button type="button" class="btn btn-primary"  (click)="addChemicalName()">Add Chemical </button>
														</div>
													</div>

												</form>
											</div>
										</div>

									</div>

								</div>


								<!--country-->
								<div class="row">
									<div class="col-md-10 ">
										<div class="panel1">
											<div class="panel-body1">

												<form #userform="ngForm">
													<div class="row">
														<div>
															<input type="text" [(ngModel)]="Country_name"  name="abn" #abn="ngModel" style="float:left;margin-right:30px">
															<button type="button" class="btn btn-primary"  (click)="addCountrName()">Add Country </button>
														</div>
													</div>

												</form>
											</div>
										</div>

									</div>

								</div>

							</div>
						</div>









					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-md-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.section -->


	<!--<section class="section pt-10">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1">
					<div class="panel" data-panel-control>
						<div class="panel-heading">
							<app-ngr-entity-display></app-ngr-entity-display>
						</div>

						&lt;!&ndash;add storagestart here &ndash;&gt;
						<div class="col-md-12">
							<div class="content clearfix">
								<div class="row">
									<div class="col-md-10 ">
										<div class="panel1">
											<div class="panel-body1">

												<form #userform="ngForm">
													<div class="row">
														<div>
															<input type="text" [(ngModel)]="StorageType_name"  name="abn" #abn="ngModel" style="float:left;margin-right:30px">
															<button type="button" class="btn btn-primary"  (click)="addStorageType()">Add Storage</button>
														</div>
													</div>

												</form>
											</div>
										</div>

									</div>

								</div>

							</div>
						</div>









					</div>
					&lt;!&ndash; /.panel &ndash;&gt;
				</div>
				&lt;!&ndash; /.col-md-6 &ndash;&gt;
			</div>
			&lt;!&ndash; /.row &ndash;&gt;
		</div>
		&lt;!&ndash; /.container-fluid &ndash;&gt;
	</section>-->
	<!-- /.section -->
</div>
