<div class="main-wrapper">
  <app-top-navbar></app-top-navbar>
  <div class="content-wrapper">


    <div class="container-fluid">

      <div class="row page-title-div">
        <div class="col-md-6">
          <h4 class="title">Add Quality</h4>
          <p class="sub-title"></p>
        </div>
        <!-- /.col-sm-6 -->
        <div class="col-sm-6 right-side">
        </div>
        <!-- /.col-sm-6 text-right -->
      </div>
      <!-- /.row -->
      <div class="row breadcrumb-div">
        <div class="col-sm-6">
          <ul class="breadcrumb">
            <li>
              <a (click)="gotoHome()" style="cursor:pointer">
                <i class="fa fa-home"></i> Dashboard</a> / Add Quality</li>
          </ul>
        </div>
        <!-- /.col-sm-6 -->
        <div class="col-sm-6 text-right hidden-xs">
          <a style="cursor: pointer">
            <i class="fa fa-comments"></i> Talk to us</a>
          <a class="pl-20" style="cursor: pointer">
            <i class="fa fa-newspaper-o"></i> Subscription</a>
        </div>
        <!-- /.col-sm-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

    <section class="section pt-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="panel border-primary no-border border-3-top" data-panel-control>
              <div class="panel-heading">
                <div class="panel-title text-center">
                  <h5>Add Quality </h5>
                </div>
              </div>
              <div class="panel-body">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Quality
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="height: 65vh; overflow: auto;">
                      <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                          Add Quality
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </h4>
                      </div>
                      <div class="modal-body">
                        <div class="panel-body">
                          <!-- <div class="alert alert-success" *ngIf="submitCommodity">
                            <strong>{{submitCommodity}}</strong>
                          </div> -->
                          <form #addQualityForm="ngForm" class="form-horizontal">
                              <div class="form-group" >
																	<label for="default" class="col-sm-3 control-label">Quality</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':quality.invalid && !quality.pristine}">
																		<input required type="text" #quality='ngModel' name="quality"
																			[(ngModel)]="qualty.quality" 
																			class="form-control" id="default" placeholder="">
																			<p *ngIf="quality.invalid && !quality.pristine" class="help-block">Quality is required.</p>
																			<!-- <div [hidden]="sccarea.valid || sccarea.pristine"
																			class="help-block">
																				<div [hidden]="!sccarea.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="sccarea.hasError('required')">Field is required</div>
																				<div [hidden]="!sccarea.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="default" class="col-sm-3 control-label">Quality Value</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':qualityval.invalid && !qualityval.pristine}">
																		<input required type="number" #qualityval='ngModel' name="qualityval"
																			[(ngModel)]="qualty.qualityval"
																			class="form-control" id="default" placeholder="">
																			<p *ngIf="qualityval.invalid && !qualityval.pristine" class="help-block">Quality Value is required.</p>
																			<!-- <div [hidden]="yield.valid || yield.pristine"
																			class="help-block">
																				<div [hidden]="!yield.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!yield.hasError('required')">Field is required</div>
																				<div [hidden]="!yield.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
                          </form>
                        </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default"
                            data-dismiss="modal">Close</button>
                          <button type="button" (click)="addQuality()" [disabled]="addQualityForm.form.invalid"
                            class="btn btn-primary">Add</button>
                        </div>
                    </div>
                  </div>
                </div>
                <!-- Modal -->
              </div>
              <div class="panel-body">
                <!-- <div id="prod-chart" [style.width.%]="100" [style.height.px]="500"></div> -->
                <app-add-quality-grid></app-add-quality-grid>
              </div>
            </div>
            <!-- /.panel -->
          </div>
          <!-- /.col-md-6 -->

          <!--  <div class="col-md-6">
                  <div class="panel border-primary no-border border-3-top" data-panel-control>
                      <div class="panel-heading">
                          <div class="panel-title">
                              <h5>Production Forecast<small>over years</small></h5>
                          </div>
                      </div>
                      <div class="panel-body">
                          <div id="traffic-chart" [style.width.%]="100" [style.height.px]="500"></div>
                      </div>
                  </div>
                  /.panel
              </div>
              /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.section -->


  </div>

</div>