<div class="main-wrapper">
	<app-top-navbar></app-top-navbar>
</div>
<div class="content-wrapper">
	<div class="container-fluid">
		<div class="row page-title-div">
			<div class="col-md-12 p-l0">
				<h4 class="title">Contractors On Farm</h4>
				<p class="sub-title">One stop solution for farmers!</p>
			</div>
			<!-- /.col-sm-6 -->
			<!-- <div class="col-sm-6 right-side"></div> -->
			<!-- /.col-sm-6 text-right -->
		</div>
		<!-- /.row -->
		<div class="row breadcrumb-div p-l0">
			<div class="col-md-6">
				<ul class="breadcrumb">
					<li>
						<a (click)="gotoHome()" style="cursor: pointer">
							<i class="fa fa-home"></i> Dashboard
						</a> / Contractors On Farm</li>
				</ul>
			</div>
			<!-- /.col-md-6 -->
			<div class="col-md-6 text-right hidden-xs">
				<a style="cursor: pointer">
					<i class="fa fa-comments"></i> Talk to us</a>
				<a class="pl-20" style="cursor: pointer">
					<i class="fa fa-newspaper-o"></i> Subscription</a>
			</div>
			<!-- /.col-md-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->

	<section class="section">
		<div class="container-fluid">
			<!--first row starts here-->
			<app-ngr-entity-display></app-ngr-entity-display>
			
			<!--first row ends here-->

			<!--second row starts here-->
            <div class="row">
              <div class="col-md-12">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" (click)="openAddContractors()">Add Contractors
				</button>
				<button type="button" class="btn btn-primary" (click)="openAddCommMovementRecord()">Add Commodity Movement Record
				</button>	
			  </div>
			</div>
			<!--second row ends here-->
			<div class="row">   
				<div class="col-md-12">
						<div class="alert alert-success" *ngIf="addcontractmessage">
								<strong>{{addcontractmessage}}</strong>
							</div>
				</div>  
			
			</div>
			<div class="row">   
					<div class="col-md-12">
							<div class="alert alert-success" *ngIf="addmovmentrecmessage">
									<strong>{{addmovmentrecmessage}}</strong>
								</div>
					</div>  
			
			</div>
            <!--third row starts here-->
            <div class="row">
			  <div class="col-md-12">
				<h4>Contractor Details</h4>
			  </div>	
			</div>
			<!--third row ends here-->
			
			<!--forth row starts here-->
            <div class="row">
			  <div class="col-md-12">
				<app-contractor-details-grid></app-contractor-details-grid>   	  
			  </div>	
			</div>
			<!--forth row ends here-->
			
			<!--fifth row starts here-->
            <div class="row">
				<div class="col-md-12">
					<h4>Commodity Movement Records</h4>
				</div>	
			</div>
            <!--fifth row ends here-->
			
			<!--sixth row starts here-->
            <div class="row">
				<div class="col-md-12">
					<app-commodity-movement-grid></app-commodity-movement-grid>  	  
				</div>	
			</div>
			<!--sixth row ends here-->

			<!--popup's starts here-->
			  <!--addContractorsModal-->
			  <div class="modal fade bd-example-modal-lg" id="addContractorsModal" tabindex="-1" bsModal #addContractorsModal="bs-modal"
			  role="dialog" aria-labelledby="myModalLabel">
				 <div class="modal-dialog modal-lg" role="document">
					 <div class="modal-content">
						 <div class="modal-header">
							 <h4 class="modal-title" id="myModalLabel">
								 Add Contractors
								 <button type="button" class="close" (click)="closeAddContractors()" aria-label="Close">
									 <span aria-hidden="true">&times;</span>
								 </button>
							 </h4>
						 </div>
						 <div class="modal-body">
							 <div class="panel-body p-b0">
								 <tabset [justified]="true">
									 <tab heading="Contractor Details" [active]="tabs[0].active">
										 <form #addContractorsForm="ngForm" class="form-horizontal m-t25">
												 <div class="form-group">
														 <label for="default" class="col-sm-3 control-label">Date Commenced
															 <span class="field-wrapper required-field"></span>
														 </label>
														 <div class="col-sm-6" [ngClass]="{'has-error':dateCommenced.invalid && !dateCommenced.pristine}">
															 <input class="form-control" type="text" [(ngModel)]="addContractors.DateCommenced" placeholder="Date Commenced" name="DateCommenced"
															 bsDatepicker #dp1="bsDatepicker" #dateCommenced='ngModel' required>
															 <p *ngIf="dateCommenced.invalid && !dateCommenced.pristine" class="help-block">Date Commenced required.</p>
														 </div>
														 <div class="col-sm-2">
															 <button class="btn btn-success" (click)="dp1.toggle()">
																 <i class="glyphicon glyphicon-calendar"></i>
															 </button>
														 </div>
													 </div>
													 
											 <div class="form-group">
													 <label for="default" class="col-sm-3 control-label">Contractor Company Name
														 <span class="field-wrapper required-field"></span>
													 </label>
													 <div class="col-sm-9" [ngClass]="{'has-error':contractorCompName.invalid && !contractorCompName.pristine}">
														 <input class="form-control" type="text" [(ngModel)]="addContractors.ContractorCompName" placeholder="Contractor Company Name"
														  name="ContractorCompName" #contractorCompName='ngModel' required>
														 <p *ngIf="contractorCompName.invalid && !contractorCompName.pristine" class="help-block">Contractor Company Name required.</p>
													 </div>

												 </div>
												 
											 <div class="form-group">
													 <label for="default" class="col-sm-3 control-label">Company Address
														 <span class="field-wrapper required-field"></span>
													 </label>
													 <div class="col-sm-9" [ngClass]="{'has-error':compAdd.invalid && !compAdd.pristine}">
														 <input class="form-control" type="text" [(ngModel)]="addContractors.CompAdd" placeholder="Company Address" name="CompAdd"
														  #compAdd='ngModel' required>
														 <p *ngIf="compAdd.invalid && !compAdd.pristine" class="help-block">Company Address required.</p>
													 </div>

												 </div>
											 
											 
											 <div class="form-group">
												 <label for="default" class="col-sm-3 control-label">Company Contact Details
													 <span class="field-wrapper required-field"></span>
												 </label>
												 <div class="col-sm-9" [ngClass]="{'has-error':compContactDetails.invalid && !compContactDetails.pristine}">
													 <input class="form-control" type="text" [(ngModel)]="addContractors.CompContactDetails" placeholder="Company Contact Details"
													  name="CompContactDetails" #compContactDetails='ngModel' required>
													 <p *ngIf="compContactDetails.invalid && !compContactDetails.pristine" class="help-block">Company Contact Details required.</p>
												 </div>

											 </div>
											 <div class="form-group">
												 <label for="default" class="col-sm-3 control-label">Phone
													 <span class="field-wrapper required-field"></span>
												 </label>
												 <div class="col-sm-9" [ngClass]="{'has-error':phone.invalid && !phone.pristine}">
													 <input class="form-control" type="text" [(ngModel)]="addContractors.Phone" placeholder="Phone" 
													 name="Phone" #phone='ngModel' required>
													 <p *ngIf="phone.invalid && !phone.pristine" class="help-block">Phone required.</p>
												 </div>

											 </div>
											 <div class="form-group">
												 <label for="default" class="col-sm-3 control-label">Email
													 <span class="field-wrapper required-field"></span>
												 </label>
												 <div class="col-sm-9" [ngClass]="{'has-error':email.invalid && !email.pristine}">
													 <input class="form-control" type="text" [(ngModel)]="addContractors.Email" placeholder="Email" 
													 name="Email" #email='ngModel' required>
													 <p *ngIf="email.invalid && !email.pristine" class="help-block">Email required.</p>
												 </div>

											 </div>
											 <div class="form-group">
												 <label for="default" class="col-sm-3 control-label">Key Contact
													 <span class="field-wrapper required-field"></span>
												 </label>
												 <div class="col-sm-9" [ngClass]="{'has-error':keyContact.invalid && !keyContact.pristine}">
													 <input class="form-control" type="text" [(ngModel)]="addContractors.KeyContact" placeholder="Key Contact" name="KeyContact"
													  #keyContact='ngModel' required>
													 <p *ngIf="keyContact.invalid && !keyContact.pristine" class="help-block">Key Contact required.</p>
												 </div>

											 </div>
											 
											 <div class="form-group">
												 <label for="default" class="col-sm-3 control-label">Operator Phone
													 <span class="field-wrapper required-field"></span>
												 </label>
												 <div class="col-sm-9" [ngClass]="{'has-error':operatorPhone.invalid && !operatorPhone.pristine}">
													 <input class="form-control" type="text" [(ngModel)]="addContractors.OperatorPhone" placeholder="Operator Phone" name="OperatorPhone"
													  #operatorPhone='ngModel' required>
													 <p *ngIf="operatorPhone.invalid && !operatorPhone.pristine" class="help-block">Operator Phone required.</p>
												 </div>

											 </div>

											 <div class="form-group">
												 <label for="autocomplete" class="col-sm-3 control-label">Operator UHF</label>
												 <div class="col-sm-9" [ngClass]="{'has-error':operatorUHF.invalid && !operatorUHF.pristine}">
													 <input required type="text" #operatorUHF='ngModel' name="OperatorUHF" [(ngModel)]="addContractors.OperatorUHF" max="100"
													  min="0" class="form-control" id="autocomplete" placeholder="Operator UHF" autocomplete="off">
													 <p *ngIf="operatorUHF.invalid && !operatorUHF.pristine" class="help-block">Operator UHF required.</p>

												 </div>
											 </div>
											 
											 <div class="form-group">
												 <label for="autocomplete" class="col-sm-3 control-label">Job/Task</label>
												 <div class="col-sm-9" [ngClass]="{'has-error':jobortask.invalid && !jobortask.pristine}">
													 <input required type="text" #jobortask='ngModel' name="Jobortask" [(ngModel)]="addContractors.Jobortask" max="100" min="0"
													  class="form-control" id="autocomplete" placeholder="Job/Task" autocomplete="off">
													 <p *ngIf="jobortask.invalid && !jobortask.pristine" class="help-block">Job/Task required.</p>

												 </div>
											 </div>
											 <div class="form-group">
												 <label for="autocomplete" class="col-sm-3 control-label">Fields/Location of Job/Task</label>
												 <div class="col-sm-7" [ngClass]="{'has-error':fieldsLocation.invalid && !fieldsLocation.pristine}">

													 <select class="form-control " name="FieldsLocation" #fieldsLocation='ngModel' [(ngModel)]="addContractors.FieldsLocation"
													  id="State" title="Select State">
														 <option *ngFor="let fald of farmFieldAndLocDetails" [ngValue]="fald">{{fald.field_name}}</option>

													 </select>
													 <!-- <p *ngIf="fieldsLocation.invalid && !fieldsLocation.pristine" class="help-block">Fields/Location of Job/Task required.</p> -->

												 </div>
												 <div class="col-sm-1">
													 <button class="btn btn-success" (click)="openAddFieldsModal()">Add Fields</button>
												 </div>
											 </div>
											 <div class="form-group">
												 <label for="autocomplete" class="col-sm-3 control-label">Hectares completed</label>
												 <div class="col-sm-9" [ngClass]="{'has-error': hectarescompleted.invalid && !hectarescompleted.pristine}">
													 <input required type="text" #hectarescompleted='ngModel' name="hectarescompleted" [(ngModel)]="addContractors.Hectarescompleted"
													  max="100" min="0" class="form-control" id="autocomplete" placeholder="Hectares completed" autocomplete="off">
													 <p *ngIf="hectarescompleted.invalid && !hectarescompleted.pristine" class="help-block">Hectares completed required.</p>

												 </div>
											 </div>
											 <div class="form-group">
												 <label for="autocomplete" class="col-sm-3 control-label">Date completed</label>
												 <div class="col-sm-7" [ngClass]="{'has-error':datecompleted.invalid && !datecompleted.pristine}">
													 <input required type="text" #datecompleted='ngModel' name="datecompleted" [(ngModel)]="addContractors.Datecompleted"
													  bsDatepicker #dp2="bsDatepicker" class="form-control" id="autocomplete" placeholder="Date completed" autocomplete="off">
													 <p *ngIf="datecompleted.invalid && !datecompleted.pristine" class="help-block">Date completed is required.</p>

												 </div>
												 <div class="col-sm-2">
													 <button class="btn btn-success" (click)="dp2.toggle()">
														 <i class="glyphicon glyphicon-calendar"></i>
													 </button>
												 </div>
											 </div>
											 <div class="form-group">
												 <label for="autocomplete" class="col-sm-3 control-label">Notes</label>
												 <div class="col-sm-9" [ngClass]="{'has-error':notes.invalid && !notes.pristine}">
													 <input required type="text" #notes='ngModel' name="Notes" [(ngModel)]="addContractors.Notes" max="100" min="0" class="form-control"
													  id="autocomplete" placeholder="Notes" autocomplete="off">
													 <p *ngIf="notes.invalid && !notes.pristine" class="help-block">Notes required.</p>
												 </div>
											 </div>
											 <!-- <div>
												 
											 </div> -->

										 </form>

                                         <div class="modal-footer p-b0">
											<button type="button" class="btn btn-primary pull-right" [disabled]="addContractorsForm.form.invalid" (click)='selectNextTab(1)'>Next</button>
											<button type="button" class="btn btn-default pull-right m-r20" (click)="closeAddContractors()">Cancel</button> 
										 </div>

									 </tab>
									 <tab heading="Machinery Details" [active]="tabs[1].active" [disabled]="tabs[1].disabled">
										 <form #addMachineryForm="ngForm" class="form-horizontal">
											 <div class="form-group">
												 <label for="default" class="col-sm-3 control-label">Delivery Company Name
													 <span class="field-wrapper required-field"></span>
												 </label>
												 <div class="col-sm-9" [ngClass]="{'has-error':deliveryCompNm.invalid && !deliveryCompNm.pristine}">
													 <input required class="form-control" type="text" [(ngModel)]="machineryDetails.DeliveryCompNm" placeholder="Delivery Company Name"
													  name="DeliveryCompNm" #deliveryCompNm='ngModel'>
													  <p *ngIf="deliveryCompNm.invalid && !deliveryCompNm.pristine" class="help-block">Delivery Company Name required.</p>
												 </div>
												 
											 </div>
											 <div class="form-group">
												 <label for="default" class="col-sm-3 control-label">Driver Name
													 <span class="field-wrapper required-field"></span>
												 </label>
												 <div class="col-sm-9" [ngClass]="{'has-error':driverName.invalid && !driverName.pristine}">
													 <input required class="form-control" type="text" [(ngModel)]="machineryDetails.DriverName" placeholder="Driver Name" name="driverName"
													  #driverName='ngModel'>
													  <p *ngIf="driverName.invalid && !driverName.pristine" class="help-block">Driver Name required.</p>
												 </div>
												 
											 </div>
											 <div class="form-group">
												 <label for="default" class="col-sm-3 control-label">Machinery Registration No.
													 <span class="field-wrapper required-field"></span>
												 </label>
												 <div class="col-sm-9" [ngClass]="{'has-error':machineryReg.invalid && !machineryReg.pristine}">
													 <input required class="form-control" type="text" [(ngModel)]="machineryDetails.MachineryReg" placeholder="Regn number" name="MachineryReg"
													  #machineryReg='ngModel'>
													  <p *ngIf="machineryReg.invalid && !machineryReg.pristine" class="help-block">Machinery Registration No required.</p>
												 </div>
												 
											 </div>
											 <div class="form-group">
												 <label for="default" class="col-sm-3 control-label">Carrier Rating
													 <span class="field-wrapper required-field"></span>
												 </label>
												 <div class="col-sm-9">
													 <select class="form-control " name="Carrierrating" #carrierrating='ngModel' [(ngModel)]="addContractors.Carrierrating" title="">
														 <option *ngFor="let rating of [1,2,3,4,5]" [ngValue]="rating">{{rating}}</option>
													 </select>
												 </div>
												 
											 </div>
											 <div class="form-group">
												 <label for="default" class="col-sm-3 control-label">Comments
													 <span class="field-wrapper required-field"></span>
												 </label>
												 <div class="col-sm-9" [ngClass]="{'has-error':comments.invalid && !comments.pristine}">
													 <input required class="form-control" type="text" #comments='ngModel' name="comments" [(ngModel)]="machineryDetails.comments"
													  placeholder="Comments">
													 <p *ngIf="comments.invalid && !comments.pristine" class="help-block">Comments required.</p>
												 </div>
											 </div>
											 <div>
												 <button type="button" class="btn btn-primary pull-right" (click)="addContractDetails()">Add</button>					
												 <button type="button" class="btn btn-default pull-right m-r20" (click)="closeAddContractors()">Cancel</button>
											 </div>

										 </form>
									 </tab>
								 </tabset>
							 </div>
						 </div>													
						 <!-- <div class="modal-footer"> -->
							 <!-- <button type="button" class="btn btn-default" (click)="closeAddContractors()">Cancel</button>
							 <button type="button" class="btn btn-primary">Next</button> -->
						 <!-- </div> -->
					 </div>
				 </div>
			  </div>
			  <!--addContractorsModal-->

			  <!--addCommMoveRecModal-->
              <div class="modal fade fade bd-example-modal-lg" id="addCommMoveRecModal" tabindex="-1" bsModal #addCommMoveRecModal="bs-modal"
										 role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content" style="height: 95vh; overflow: auto;">
							<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel">
									Add Commodity Movement Record
									<button type="button" class="close" (click)="closeAddCommMovementRecord()" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</h4>
							</div>
							<div class="modal-body">
								<div class="panel-body">
									<form #addCommMoveRecForm="ngForm" class="form-horizontal">
										<div class="form-group">
											<label for="default" class="col-sm-3 control-label">Collection Date
												<span class="field-wrapper required-field"></span>
											</label>
											<div class="col-sm-7" [ngClass]="{'has-error':collectionDate.invalid && !collectionDate.pristine}">
												<input class="form-control" type="text" [(ngModel)]="addCommMovmtRec.CollectionDate" placeholder="Collection Date" name="CollectionDate"
												bsDatepicker #dp3="bsDatepicker" #collectionDate='ngModel' required>
												<p *ngIf="collectionDate.invalid && !collectionDate.pristine" class="help-block">Collection Date required.</p>
											</div>
											<div class="col-sm-2">
												<button class="btn btn-success" (click)="dp3.toggle()">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</div>

										</div>
										<div class="form-group">
											<label for="default" class="col-sm-3 control-label">Storage Type
												<span class="field-wrapper required-field"></span>
											</label>
											<div class="col-sm-9" >
												<select class="form-control " name="contractorCompName" #contractorCompName='ngModel' [(ngModel)]="addCommMovmtRec.StorageType"
													id="State" title="Select State" (change)="callSelectedWHType()">
													<option *ngFor="let type of WarehouseTypes"
													[ngValue]="type.T_ID">{{type.T_NAME}}</option>
												</select>
												
											</div>

										</div>
										<div class="form-group">
											<label for="default" class="col-sm-3 control-label">Storage Name
												<span class="field-wrapper required-field"></span>
											</label>
											<div class="col-sm-9" [ngClass]="{'has-error':compAdd.invalid && !compAdd.pristine}">
												<select class="form-control " name="FieldsLocation" #compAdd='ngModel' [(ngModel)]="addCommMovmtRec.StorageName" 
												id="State" title="Select State" (change)="callSelectedStrgNameDetails()">
													<option *ngFor="let store of storageNames" [ngValue]="store">{{store.STORAGE_NAME}}</option>

												</select>
												
											</div>

										</div>
										<div class="form-group">
											<label for="default" class="col-sm-3 control-label">Storage Distance from nearest City/Town/Suburb
												<span class="field-wrapper required-field"></span>
											</label>
											<div class="col-sm-9" [ngClass]="{'has-error':compContactDetails.invalid && !compContactDetails.pristine}">
												<input class="form-control" type="text" [(ngModel)]="addCommMovmtRec.StorageDistance" placeholder="Storage Distance"
													name="CompContactDetails" #compContactDetails='ngModel' required>
												<p *ngIf="compContactDetails.invalid && !compContactDetails.pristine" class="help-block">Storage Distance required.</p>
											</div>

										</div>
										<div class="form-group">
											<label for="default" class="col-sm-3 control-label">Storage Direction from nearest City/Town/Suburb
												<span class="field-wrapper required-field"></span>
											</label>
											<div class="col-sm-9" [ngClass]="{'has-error':phone.invalid && !phone.pristine}">
												<input class="form-control" type="text" [(ngModel)]="addCommMovmtRec.StorageDirection" placeholder="Storage Direction" 
												name="Phone" #phone='ngModel' required>
												<p *ngIf="phone.invalid && !phone.pristine" class="help-block">Storage Direction required.</p>
											</div>

										</div>
										<div class="form-group">
											<label for="default" class="col-sm-3 control-label">City/Town/Suburb
												<span class="field-wrapper required-field"></span>
											</label>
											<div class="col-sm-9" [ngClass]="{'has-error':citytown.invalid && !citytown.pristine}">
												<input class="form-control" type="text" [(ngModel)]="addCommMovmtRec.citytown" placeholder="City/Town/Suburb" 
												name="citytown" #citytown='ngModel' required>
												<p *ngIf="citytown.invalid && !citytown.pristine" class="help-block">City/Town/Suburb required.</p>
											</div>

										</div>
										<div class="form-group">
											<label for="default" class="col-sm-3 control-label">State
												<span class="field-wrapper required-field"></span>
											</label>
											<div class="col-sm-9" [ngClass]="{'has-error':state.invalid && !state.pristine}">
												<input class="form-control" type="text" [(ngModel)]="addCommMovmtRec.state" placeholder="State" name="state"
													#state='ngModel' required>
												<p *ngIf="state.invalid && !state.pristine" class="help-block">State required.</p>
											</div>

										</div>
										<div class="form-group">
											<label for="default" class="col-sm-3 control-label">Add Contract No
											</label>
											<div class="col-sm-2">
												<button class="btn btn-success" (click)="openSelectSaleModal()">Select Contract No</button>
											</div>
											<div class="col-sm-6 m-l20" [ngClass]="{'has-error':selectContractNo.invalid && !selectContractNo.pristine}">
												<input class="form-control" type="text" [(ngModel)]="addCommMovmtRec.SelectContractNo" placeholder="Select Contract No" name="selectContractNo"
													#selectContractNo='ngModel' required>
												<p *ngIf="selectContractNo.invalid && !selectContractNo.pristine" class="help-block">Select Contract No required.</p>
											</div>

										</div>
										<div class="form-group">
											<label for="default" class="col-sm-3 control-label">Buyer
												<span class="field-wrapper required-field"></span>
											</label>
											<div class="col-sm-9" [ngClass]="{'has-error':buyer.invalid && !buyer.pristine}">
												<input class="form-control" type="text" [(ngModel)]="addCommMovmtRec.Buyer" placeholder="Buyer" name="buyer"
													#buyer='ngModel' required>
												<p *ngIf="buyer.invalid && !buyer.pristine" class="help-block">Buyer required.</p>
											</div>

										</div>

										<div class="form-group">
											<label for="autocomplete" class="col-sm-3 control-label">Commodity Collected</label>
											<div class="col-sm-9" [ngClass]="{'has-error':commCollected.invalid && !commCollected.pristine}">
												<input required type="text" #commCollected='ngModel' name="commCollected" [(ngModel)]="addCommMovmtRec.CommCollected" max="100"
													min="0" class="form-control" id="autocomplete" placeholder="Commodity Collected" autocomplete="off">
												<p *ngIf="commCollected.invalid && !commCollected.pristine" class="help-block">Commodity Collected required.</p>

											</div>
										</div>
										<div class="form-group">
											<label for="autocomplete" class="col-sm-3 control-label">Grade</label>
											<div class="col-sm-9" [ngClass]="{'has-error':grade.invalid && !grade.pristine}">
												<input required type="text" #grade='ngModel' name="grade" [(ngModel)]="addCommMovmtRec.Grade" max="100" min="0" class="form-control"
													id="autocomplete" placeholder="Grade" autocomplete="off">
												<p *ngIf="grade.invalid && !grade.pristine" class="help-block">Grade required.</p>

											</div>
										</div>
										<div class="form-group">
											<label for="autocomplete" class="col-sm-3 control-label">Truck Type</label>
											<div class="col-sm-9" [ngClass]="{'has-error':fieldsLocation.invalid && !fieldsLocation.pristine}">

												<select class="form-control " name="FieldsLocation" #fieldsLocation='ngModel' [(ngModel)]="addCommMovmtRec.TruckType"
													id="State" title="Select State">
													<option *ngFor="let truck of truckTypes" [ngValue]="truck.TRUCK_TYPE">{{truck.TRUCK_TYPE}}</option> 

												</select>																	

											</div>
										</div>
										<div class="form-group">
											<label for="autocomplete" class="col-sm-3 control-label">
												Estimated Weight
											</label>
											<div class="col-sm-9" [ngClass]="{'has-error':estWeight.invalid && !estWeight.pristine}">

												<input required type="text" #estWeight='ngModel' name="estWeight" [(ngModel)]="addCommMovmtRec.EstWeight" max="100" min="0"
													class="form-control" id="autocomplete" placeholder="Estimated Weight" autocomplete="off">
												<p *ngIf="estWeight.invalid && !estWeight.pristine" class="help-block">Estimated Weight required.</p>

											</div>
										</div>
										<div class="form-group">
											<label for="autocomplete" class="col-sm-3 control-label">
												Delivery Company Name
											</label>
											<div class="col-sm-9" [ngClass]="{'has-error': deliveryCompName.invalid && !deliveryCompName.pristine}">
												<input required type="text" #deliveryCompName='ngModel' name="deliveryCompName" [(ngModel)]="addCommMovmtRec.DeliveryCompName"
													max="100" min="0" class="form-control" id="autocomplete" placeholder="Delivery Company Name" autocomplete="off">
												<p *ngIf="deliveryCompName.invalid && !deliveryCompName.pristine" class="help-block">Delivery Company Name required.</p>

											</div>
										</div>
										<div class="form-group">
											<label for="autocomplete" class="col-sm-3 control-label">Driver Name</label>
											<div class="col-sm-9">
												<input required type="text" #driverName='ngModel' name="driverName" [(ngModel)]="addCommMovmtRec.DriverName" max="100"
													min="0" class="form-control" id="autocomplete" placeholder="Driver Name" autocomplete="off">
												<!-- <p *ngIf="driverName.invalid && !driverName.pristine" class="help-block">Driver Name required.</p> -->

											</div>
										</div>
										<div class="form-group">
											<label for="autocomplete" class="col-sm-3 control-label">Truck Registration Number</label>
											<div class="col-sm-9">
												<input required type="text" #truckRegNumber='ngModel' name="truckRegNumber" [(ngModel)]="addCommMovmtRec.TruckRegNumber" max="100" min="0" class="form-control"
													id="autocomplete" placeholder="Truck Registration Number" autocomplete="off">
												<!-- <p *ngIf="truckRegNumber.invalid && !truckRegNumber.pristine" class="help-block">Truck Registration Number required.</p> -->
											</div>
										</div>
										<div class="form-group">
											<label for="autocomplete" class="col-sm-3 control-label">Comments</label>
											<div class="col-sm-9" [ngClass]="{'has-error':comments.invalid && !comments.pristine}">
												<input required type="text" #comments='ngModel' name="comments" [(ngModel)]="addCommMovmtRec.Comments" max="100" min="0" class="form-control"
													id="autocomplete" placeholder="Comments" autocomplete="off" >
												<p *ngIf="comments.invalid && !comments.pristine" class="help-block">Comments required.</p>
											</div>
										</div>
										<div class="form-group">
											<button class="btn btn-success m-l15" (click)="addTruckLoad()">Add Truck Load</button>
										</div>
										<h4>Summary of Added Truck Loads</h4>
										
											<ag-grid-angular id="grid1" #agGrid style="height:300px;width:99%;" [enableFilter]="true" [enableSorting]="true" [enableColResize]="true"
												class="ag-blue" [gridOptions]="gridOptionsTruck" [defaultColDef]="defaultColDef" [columnDefs]="columnDefs" [getRowNodeId]="getRowNodeId"
												[groupUseEntireRow]="true" (gridReady)="onGridReadyTruck($event)">  </ag-grid-angular>
										
									</form>

								</div>
							</div>
							<!-- [disabled]="addFavouritesForm.form.invalid" -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default" (click)="closeAddCommMovementRecord()">Cancel</button>
								<button type="button" class="btn btn-primary" (click)="addCommMovmtRecord()">Add</button>
							</div>
						</div>
					</div>
				</div>
			  <!--addCommMoveRecModal-->

			  <!--addFarmAndFieldsModal-->
			  <div class="modal fade fade" id="addFarmAndFieldsModal" tabindex="-1" bsModal #addFarmAndFieldsModal="bs-modal" role="dialog"
										 aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content" style="height: 55vh; overflow: auto;">
							<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel">
									Add Farm & Fields
									<button type="button" class="close" (click)="closeAddFieldsModal()" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</h4>
							</div>
							<div class="modal-body">
								<div class="panel-body">
									<form #addFarmAndFieldsForm="ngForm" class="form-horizontal">
										<div class="form-group">
											<label for="default" class="col-sm-3 control-label">Farm Name
												<span class="field-wrapper required-field"></span>
											</label>
											<div class="col-sm-9">
												<input *ngIf="newfarm" name="newfarm1" #farmname='ngModel' type="text" class="form-control" [(ngModel)]="addFarmAndFields.FarmName" /> 
												<select *ngIf="!newfarm"  class="form-control" (change)="setFarmArea($event)" name="farmName" #farmname='ngModel' [(ngModel)]="addFarmAndFields.FarmNameAuto">
													<option *ngFor="let farm of farmDetails"  [ngValue]="farm">{{farm.farm_name}}</option>

												</select>
												
											</div>

										</div>
										
										<div class="form-group">
											<label for="default" class="col-sm-3 control-label">Farm Area(ha)
												<span class="field-wrapper required-field"></span>
											</label>
											<div class="col-sm-9" [ngClass]="{'has-error':farmArea.invalid && !farmArea.pristine}">
												<input class="form-control" type="text" [(ngModel)]="addFarmAndFields.FarmArea" placeholder="Farm Area"  name="FarmArea" #farmArea='ngModel' required>
												<p *ngIf="farmArea.invalid && !farmArea.pristine" class="help-block">Farm Area(ha) required.</p>
											</div>

										</div>
										<div class="form-group">
											
											<div class="col-md-3 col-md-offset-3">
												<button class="btn btn-success" *ngIf="!newfarm" (click)="newfarm=!newfarm;addFarmAndFields.FarmName='';addFarmAndFields.FarmArea=''">Add New Farm</button>
											</div>
											<div class="col-md-3 col-md-offset-3">
												<button class="btn btn-success" *ngIf="newfarm" (click)="!newfarm=!newfarm">Add Existing Farm</button>
											</div>
											</div>

										<div class="form-group" *ngFor="let obj of fieldsArray;  let i = index">
											<div class="row" >

												<div class="col-sm-4" [ngClass]="{'has-error':fm.invalid && !fm.pristine}">
													<label for="default">Field Name
														<!-- <span class="required-field"></span> -->
													</label>
													<input class="form-control" type="text" [(ngModel)]="obj.field_name" placeholder="Field Name" name="fm{{i}}"
														#fm='ngModel' required>
													<p *ngIf="fm.invalid && !fm.pristine" class="help-block">Farm Name required.</p>
												</div>


												<div class="col-sm-4" [ngClass]="{'has-error':fa.invalid && !fa.pristine}">
													<label for="default">Field Area
														<!-- <span class="required-field"></span> -->
													</label>

													<input class="form-control" required type="text" [(ngModel)]="obj.field_area" placeholder="Field Area" name="fa{{i}}" #fa='ngModel'>
													<p *ngIf="fa.invalid && !fa.pristine" class="help-block">Field Area required.</p>
												</div>
												<div class="col-sm-2 m-t25" *ngIf="i==0">
													<button class="btn btn-success" (click)="addFields(obj,i)">Add Fields</button>

												</div>
												<div class="col-sm-2 m-t25" *ngIf="i>0">
														<button class="btn btn-success" (click)="removeFields(obj, i)">Remove</button>
													</div>
											</div>
			
										</div>


									</form>



								</div>
							</div>
							<!-- [disabled]="addFavouritesForm.form.invalid" -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default" (click)="closeAddFieldsModal()">Cancel</button>
								<button type="button" class="btn btn-primary" (click)="submitFarmsAndFields()">Submit</button>
							</div>
						</div>
					</div>
				</div>
			  <!--addFarmAndFieldsModal-->

			  <!--selectSaleModal-->
              <div class="modal fade fade bd-example-modal-lg" id="selectSaleModal" tabindex="-1" bsModal #selectSaleModal="bs-modal" role="dialog"
										 aria-labelledby="myModalLabel">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content" style="height: 95vh; overflow: auto;">
							<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel">
									Sale History
									<button type="button" class="close" (click)="closeSelectSaleModal()" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</h4>
							</div>
							<div class="modal-body">
								<div class="panel-body">
									<div class="alert alert-success" *ngIf="submitBrkevenForcast">
										<strong>{{submitSalesAndPurchaseMsg}}</strong>
									</div>
									<form #selectSaleForm="ngForm" class="form-horizontal">

										<h4>Select the sale that you want to associate the inventory</h4>
										<div class="form-group">
											<ag-grid-angular id="grid1" #agGrid style="height:300px;width:99%;" [enableFilter]="true" [enableSorting]="true" [enableColResize]="true"
												class="ag-blue" [gridOptions]="gridOptionsSales" (rowSelected)="onSelectionSale($event)" [defaultColDef]="defaultColDef" [columnDefs]="selectSaleColumnDefs"
												[getRowNodeId]="getRowNodeId"  (gridReady)="onGridReadySH($event)" [rowSelection]="rowSelection" [rowData]="saleHistoryData" [groupUseEntireRow]="true">
											</ag-grid-angular>
										</div>
									</form>

								</div>
							</div>
							<!-- [disabled]="addFavouritesForm.form.invalid" -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default" (click)="openSalesAndPurchaseModal()">New Sale</button>
								<button type="button" (click)="setContractNo()" [disabled]="enableNext" class="btn btn-primary">Next</button>
							</div>
						</div>
					</div>
				</div>
			  <!--selectSaleModal-->

			  <!--salesAndPurchaseModal-->
			  <div class="modal fade fade" id="salesAndPurchaseModal" tabindex="-1" bsModal #salesAndPurchaseModal="bs-modal" role="dialog"
			  aria-labelledby="myModalLabel">
				 <div class="modal-dialog modal-lg" role="document">
					 <div class="modal-content" style="height: 95vh; overflow: auto;">
						 <div class="modal-header">
							 <h4 class="modal-title" id="myModalLabel">
								 Sales & Purchases
								 <button type="button" class="close" (click)="closeSalesAndPurchaseModal()" aria-label="Close">
									 <span aria-hidden="true">&times;</span>
								 </button>
							 </h4>
						 </div>
						 <div class="modal-body">
							 <div class="panel-body">
								 <form #salesAndPurchaseModalForm="ngForm" class="form-horizontal">
									 <div class="form-group">
										 <label for="default" class="col-sm-3 control-label">Date
											 <span class="field-wrapper required-field"></span>
										 </label>
										 <div class="col-sm-7" [ngClass]="{'has-error':dte.invalid && !dte.pristine}">
											 <input class="form-control" bsDatepicker #dp4="bsDatepicker" type="text" [(ngModel)]="salesPurchase.date" placeholder="Date" 
											 name="dte" #dte='ngModel' required>
											 <p *ngIf="dte.invalid && !dte.pristine" class="help-block">Date required.</p>
										 </div>
										 <div class="col-sm-2">
											 <button class="btn btn-success" (click)="dp4.toggle()">
												 <i class="glyphicon glyphicon-calendar"></i>
											 </button>
										 </div>

									 </div>
									 <div class="form-group">
										 <label for="default" class="col-sm-3 control-label">Sale Type
											 <span class="field-wrapper required-field"></span>
										 </label>
										 <div class="col-sm-9">

											 <select class="form-control " name="stype" #stype='ngModel'  [(ngModel)]="salesPurchase.SaleType">
												 <option *ngFor="let st of salesTypeList" [ngValue]="st">{{st.Name}}</option>

											 </select>
											 
										 </div>

									 </div>
									 <div class="form-group">
										 <label for="default" class="col-sm-3 control-label">Sale Origin/Destination
											 <span class="field-wrapper required-field"></span>
										 </label>
										 <div class="col-sm-9" >

											 <select class="form-control " name="SaleOrigin" (change)="showCommDestination()" #saleorigin='ngModel' [(ngModel)]="salesPurchase.saleOrigin">
												 <option *ngFor="let sodl of salesOriginDestList" [ngValue]="sodl">{{sodl.Name}}</option>

											 </select>
											 
										 </div>

									 </div>
									 <div class="form-group">
										 <label for="default" class="col-sm-3 control-label">Commodity
											 <span class="field-wrapper required-field"></span>
										 </label>
										 <div class="col-sm-9" >

											 <select class="form-control "(change)="callGrades()"  name="Commodity" #comm='ngModel' [(ngModel)]="salesPurchase.commodity">
												 <option *ngFor="let comm of commodities" [ngValue]="comm.C_ID">{{comm.C_NAME}}</option>

											 </select>
											 
										 </div>

									 </div>


									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" >
												 <label for="default">Buyer Trading Name
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <input class="form-control" type="text" [(ngModel)]="salesPurchase.buyerTradingName" placeholder="Buyer Trading Name" 
                            						name="buyertradingName" #buyertradingName='ngModel' required>
												 
											 </div>

											 <div class="col-sm-6">
												 <label for="default">Seller Trading Name
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <select class="form-control " (change)="callSellerRepresents()" name="SellerTradingName" #sellertradingName='ngModel' [(ngModel)]="salesPurchase.sellerTradingName">
													<option *ngFor="let sellerName of sellerTradingNames" [ngValue]="sellerName">{{sellerName}}</option>

												 </select>
												 
											 </div>

										 </div>


									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" >
												 <label for="default">Seller Representative
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <select class="form-control"  (change)="saleOriginChange()" name="SellerRepresentative" #sellerrepresentative='ngModel' [(ngModel)]="salesPurchase.sellerRepresentative">
													 <option *ngFor="let member  of sellerRepresentatives" [ngValue]="member">{{member.UserName}}</option> 

												 </select>
												 
											 </div>


											 <div class="col-sm-6" >
												<div *ngIf="showNTPDetails">
													<label for="default">NTP Name
														<!-- <span class="required-field"></span> -->
													  </label>
							   
													  <select class="form-control " name="ntpNameList" (change)="getNTPNominatedSiteList()" #ntpNameList='ngModel' [(ngModel)]="salesPurchase.ntpNameList">
														<option *ngFor="let sprl of ntpSiteListData" [ngValue]="sprl">{{sprl.Site_Name}}</option>
							   
													  </select>
													  <label for="default">NTP Nominates Site
														  <span class="required-field"></span>
														</label>
								 
														<select class="form-control " name="ntpNomList" (change)="getLocDiff()" #ntpNomList='ngModel' [(ngModel)]="salesPurchase.ntpNomSiteList">
														  <option *ngFor="let nomsite of ntpNominatedSiteListData" [ngValue]="nomsite">{{nomsite.NominatedSite_Name}}</option>
								 
														</select>
														<div>
														  <button class="btn btn-success m-l15" (click)="addNTPSites()">Add Sites</button>
														</div>
														<ag-grid-angular id="grid1" #agGrid style="height:100px;width:99%;" [enableFilter]="true" [enableSorting]="true" [enableColResize]="true"
														class="ag-blue" [gridOptions]="gridOptionsNTP" [defaultColDef]="defaultColDef" [columnDefs]="columnDefsNTPDetails" [getRowNodeId]="getRowNodeId"
														[groupUseEntireRow]="true" (gridReady)="onGridReadyNTP($event)">  </ag-grid-angular>
											
						
												 </div>
												 <div *ngIf="showTolerance">
												 <label for="default">Tolerance
													 <!-- <span class="required-field"></span> -->
												 </label>

												 <select class="form-control " name="ToleranceList" #tolerancelist='ngModel' [(ngModel)]="salesPurchase.toleranceList">
													 <option *ngFor="let sprl of tolaranceRefDataList" [ngValue]="sprl.Id">{{sprl.Value}}</option>

												 </select>
												</div>
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" [ngClass]="{'has-error':buyersrepresentative.invalid && !buyersrepresentative.pristine}">
												 <label for="default">Buyers Representative
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <input class="form-control" type="text" [(ngModel)]="salesPurchase.buyersRepresentative" placeholder="Buyers Representative"
												  name="BuyersRepresentative"
												  #buyersrepresentative='ngModel' required>
												 <p *ngIf="buyersrepresentative.invalid && !buyersrepresentative.pristine" class="help-block">Buyers Representative required.</p>
											 </div>
											 <div class="col-sm-6" >
												 <label for="default">Delivery Terms
													 <!-- <span class="required-field"></span> -->
												 </label>

												 <select class="form-control " name="DelvTerms" #delvterms='ngModel' [(ngModel)]="salesPurchase.delvTerms">
													 <option *ngFor="let del of deliveryTermsRefData" [ngValue]="del.Id">{{del.Value}}</option>

												 </select>
												 
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" >
												 <label for="default">Business Credited to
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <select class="form-control " name="BusinessCreditedTo" #businesscreditedTo='ngModel' [(ngModel)]="salesPurchase.businessCreditedTo">
													 <option *ngFor="let bcTo of businessCreditRefData" [ngValue]="bcTo.Value">{{bcTo.Value}}</option> -->

												 </select>
												 
											 </div>


											 <div class="col-sm-6" >
												 <label for="default">Payment Terms
													 <!-- <span class="required-field"></span> -->
												 </label>

												 <select class="form-control " name="PaytermsrefData" #paytermsrefData='ngModel' [(ngModel)]="salesPurchase.payTermsRefData">
													 <option *ngFor="let payTerms of paymentTermsRefData" [ngValue]="payTerms.Id">{{payTerms.Value}}</option>

												 </select>
												 
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" >
												 <label for="default">Office Credited to
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <select class="form-control " name="bo"
																			 
												 [(ngModel)]="salesPurchase.brokerOffice" id="boffice"
												 title="Select Broker Office">
												 <option *ngFor="let bo of brokerOffices"
													 [ngValue]="bo.office_name">{{bo.office_name}}</option>

											 </select>
												 
											 </div>


											 <div class="col-sm-6">
												 <label for="default">Commodity Origin
													 <!-- <span class="required-field"></span> -->
												 </label>

												 <select class="form-control " name="CommodityOrigin" #commodityorigin='ngModel' [(ngModel)]="salesPurchase.commodityOrigin">
													 <option *ngFor="let commorigin of commodityOriginList" [ngValue]="commorigin">{{commorigin}}</option>

												 </select>
												 
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" [ngClass]="{'has-error':prodcr.invalid && !prodcr.pristine}">
												 <label for="default">Producer
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <input class="form-control" type="text" [(ngModel)]="salesPurchase.producer" placeholder="Producer" 
												 name="Producer"
												  #prodcr='ngModel' required>
												 <p *ngIf="prodcr.invalid && !prodcr.pristine" class="help-block">Producer required.</p>
											 </div>


											 <div class="col-sm-6">
												 <label for="default">Bunker 1
													 <!-- <span class="required-field"></span> -->
												 </label>

												 <input class="form-control" type="text" [disabled]="true" [(ngModel)]="salesPurchase.bunker1" placeholder="Bunker 1" 
												 name="Bunker1" #bnkr1='ngModel' >
												 
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" [ngClass]="{'has-error':refnumber.invalid && !refnumber.pristine}">
												 <label for="default">Refrence Number
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <input class="form-control" type="text" disabled [(ngModel)]="salesPurchase.refNumber" placeholder="Refrence Number" 
												 name="RefNumber"
												  #refnumber='ngModel' required>
												 <p *ngIf="refnumber.invalid && !refnumber.pristine" class="help-block">Refrence Number required.</p>
											 </div>


											 <div class="col-sm-6" >
												 <label for="default">Commodity Destination
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <div>
												 <input *ngIf="showCommDestInput" class="form-control" type="text" [(ngModel)]="salesPurchase.commodityDestination" placeholder="Commodity Destination" 
												 name="commDest"
												  #commDest='ngModel' required>
												</div>
												<!-- <div  *ngShow="showCommDestDDL">		 -->
												 <select *ngIf="showCommDestDDL" class="form-control " name="CommodityDestination"  #commoditydestination='ngModel' [(ngModel)]="salesPurchase.commodityDestination">
													 <option *ngFor="let commdest of commodityDestination" [ngValue]="commdest.Site_ID">{{commdest.Site_Name}}</option>

												 </select>
												<!-- </div> -->
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" [ngClass]="{'has-error':ffs.invalid && !ffs.pristine}">
												 <label for="default">Fee for Service Rate/Unit
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <input class="form-control" type="text" disabled [(ngModel)]="salesPurchase.FFS" placeholder="Fee for Service Rate/Unit"
												  name="FFSRate"
												  #ffs='ngModel' required>
												 <p *ngIf="ffs.invalid && !ffs.pristine" class="help-block">Fee for Service Rate/Unit required.</p>
											 </div>


											 <div class="col-sm-6" >
												 <label for="default">Farming Region
													 <!-- <span class="required-field"></span> -->
												 </label>

												 <select class="form-control " name="FarmRegion" #farmregion='ngModel' [(ngModel)]="salesPurchase.farmRegion" >
													<option *ngFor="let famRegion of farmingRegions" [ngValue]="famRegion.FarmingRegion_Name">{{famRegion.FarmingRegion_Name}}</option>

												 </select>
												 
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" >
												 <label for="default">FFS Invoiced To
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <select class="form-control " name="FFSInvoice" #ffsinvoice='ngModel' [(ngModel)]="salesPurchase.FFSInvoiced" id="State" title="Select Farm">
													 <option *ngFor="let ffs of ffsInvoice" [ngValue]="ffs.name">{{ffs.name}}</option>

												 </select>
												 
											 </div>


											 <div class="col-sm-6" [ngClass]="{'has-error':addfreight.invalid && !addfreight.pristine}">
												 <label for="default">Additional Freight
													 <!-- <span class="required-field"></span> -->
												 </label>

												 <input class="form-control" type="text" [(ngModel)]="salesPurchase.addFreight" placeholder="Additional Freight" 
												 name="AddFreight" #addfreight='ngModel' required>
												 <p *ngIf="addfreight.invalid && !addfreight.pristine" class="help-block">Additional Freight required.</p>
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" [ngClass]="{'has-error':vrty.invalid && !vrty.pristine}">
												 <label for="default">Variety
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <input class="form-control" type="text" [(ngModel)]="salesPurchase.variety" placeholder="Variety" name="Variety"
												  #vrty='ngModel' required>
												 <p *ngIf="vrty.invalid && !vrty.pristine" class="help-block">Variety required.</p>
											 </div>


											 
												 

												 <div class=" col-sm-2" [ngClass]="{'has-error':delperiodfrom.invalid && !delperiodfrom.pristine}">
													 <label for="default">Delivery Period
														 
													 </label>
													 <label>From 
														 <!-- <span
														 class="required-field"></span> -->
													 </label>
													 <input type="text" class="form-control"
														 [(ngModel)]="salesPurchase.delPeriodFrom"
														 name="DelPeriodFrom"
														 placeholder="From"
														 bsDatepicker #dp5="bsDatepicker"
														 #delperiodfrom='ngModel'
														 required />
														  <p *ngIf="delperiodfrom.invalid && !delperiodfrom.pristine" class="help-block">From date required.</p>
												 </div>
												 <div class="col-sm-1 m-t50">
													 <button class="btn btn-success"
														 (click)="dp5.toggle()">
														 <i class="glyphicon glyphicon-calendar"></i>
													 </button>
												 </div>
												 <div class=" col-sm-2 m-t25" [ngClass]="{'has-error':delperiodto.invalid && !delperiodto.pristine}"
													 >
													 <label for="default" class="">To
														 <!-- <span class="required-field"></span> -->
													 </label>
													 

													 <input type="text" class="form-control"
														 [(ngModel)]="salesPurchase.delPeriodTo"
														 name="DelPeriodTo"
														 placeholder="To"
														 bsDatepicker #dp6="bsDatepicker"
														 #delperiodto='ngModel'
														 required/>

													 <p *ngIf="delperiodto.invalid && !delperiodto.pristine" class="help-block">To date required.</p>

													 
												 </div>
												 <div class="col-sm-1 m-t50">
													 <button class="btn btn-success"
														 (click)="dp6.toggle()">
														 <i class="glyphicon glyphicon-calendar"></i>
													 </button>
												 </div>
												 
												 
											 

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" >
												 <label for="default">Grade
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <select class="form-control " name="Grade" #grd='ngModel' [(ngModel)]="salesPurchase.grade">
													 <option *ngFor="let grd of grades" [ngValue]="grd.CG_ID">{{grd.CG_NAME}}</option>

												 </select>
												 
											 </div>


											 <div class="col-sm-6" >
												 <label for="default">Weight Terms
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <select class="form-control " name="WeightTerms" #weightterms='ngModel' [(ngModel)]="salesPurchase.weightTerms">
													 <option *ngFor="let wtref of weightTermsRefData" [ngValue]="wtref.Id">{{wtref.Value}}</option>

												 </select>																			
											 </div>
										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" >
												 <label for="default">Crop Year
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <select class="form-control " name="CropYear" #cropyear='ngModel' [(ngModel)]="salesPurchase.cropYear">
													 <option *ngFor="let cyl of cropYearList" [ngValue]="cyl.Crop_ID">{{cyl.Crop_year}}</option>

												 </select>
												 
											 </div>


											 <div class="col-sm-6" >
												 <label for="default">Rules & Arbitration
													 <!-- <span class="required-field"></span> -->
												 </label>

												 <select class="form-control " name="RulesArb" #rulesarb='ngModel' [(ngModel)]="salesPurchase.rulesArb">
													 <option *ngFor="let arbrule of arbitrationRuleRefData" [ngValue]="arbrule.Id">{{arbrule.Value}}</option>

												 </select>
												 
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" [ngClass]="{'has-error':contractno.invalid && !contractno.pristine}">
												 <label for="default">Contract No
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <input class="form-control" type="text" [(ngModel)]="salesPurchase.contractNo" placeholder="Contract No" name="ContractNo"
												  #contractno='ngModel' required>
												 <p *ngIf="contractno.invalid && !contractno.pristine" class="help-block">Contract No required.</p>
											 </div>


											 <div class="col-sm-6" >
												 <label for="default">Grade Standards
													 <!-- <span class="required-field"></span> -->
												 </label>

												 <select class="form-control " name="GradeStd" #gradestd='ngModel' [(ngModel)]="salesPurchase.gradeStd">
													 <option *ngFor="let gsrefdata of gradeStandardsRefData" [ngValue]="gsrefdata.Id">{{gsrefdata.Value}}</option>

												 </select>
												 
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" >
												 <label for="default">Contract Type
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <select class="form-control " name="ContractType" #contracttype='ngModel' [(ngModel)]="salesPurchase.contractType">
													 <option *ngFor="let ctrefdata of contractTypeRefData" [ngValue]="ctrefdata.Id">{{ctrefdata.Value}}</option>

												 </select>
												 
											 </div>


											 <div class="col-sm-6" >
												 <label for="default">GTA Contract No
													 <!-- <span class="required-field"></span> -->
												 </label>

												 <select class="form-control " name="GtaContractno" #gtacontractno='ngModel' [(ngModel)]="salesPurchase.gtaContractNo" id="State" title="Select Farm">
													 <option *ngFor="let gtarefdata of gTAContractRefData" [ngValue]="gtarefdata.Id">{{gtarefdata.Value}}</option>

												 </select>
												 
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" >
												 <label for="default">Quantity
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <input class="form-control" type="text" [(ngModel)]="salesPurchase.quantity" placeholder="Quantity" 
												 name="Quantity" #qty='ngModel' required>							
												 
											 </div>


											 <div class="col-sm-6" >
												 <label for="default">GST
													 <!-- <span class="required-field"></span> -->
												 </label>

												 <select class="form-control " name="GST" #gt='ngModel' [(ngModel)]="salesPurchase.gst" >
													 <option *ngFor="let gstrefdata of gSTRefData" [ngValue]="gstrefdata.Id">{{gstrefdata.Value}}</option>

												 </select>
												 
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" [ngClass]="{'has-error':contractprice.invalid && !contractprice.pristine}">
												 <label for="default">Contract Price
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <input class="form-control" type="text" [(ngModel)]="salesPurchase.contractPrice" placeholder="Contract Price" 
												 name="ContractPrice" #contractprice='ngModel' >
												 <p *ngIf="contractprice.invalid && !contractprice.pristine" class="help-block">Contract Price required.</p>
											 </div>


											 <div class="col-sm-6">
												 <label for="default">Recipient Created Tax Invoice (RCTI)
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <div>
													 <input type="checkbox" [(ngModel)]="salesPurchase.buyerRCTI" name="buyerrcti"/>
													 <span>Buyer will supply Recipient Created Tax Invoice</span>
												 </div>
												 <div>
													 <input type="checkbox" [(ngModel)]="salesPurchase.sellerRCTI" name="sellerrcti"/>
													 <span>Seller to provide Tax Invoice to Buyer</span>
												 </div>
											 </div>

										 </div>
									 </div>
									 <!-- <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" >
												 <label for="default">Discounts
													 <span class="required-field"></span>
												 </label>
												 <input class="form-control" type="text" [(ngModel)]="salesPurchase.discounts" placeholder="Discounts" 
												 name="Discounts" #discount='ngModel' >								
												 
											 </div>


											 <div class="col-sm-6">
												 <label for="default">Transfer to be done by
													 <span class="required-field"></span>
												 </label>
												 <select class="form-control " name="TranstobedoneBy" #transtobedoneBy='ngModel' [(ngModel)]="salesPurchase.transtobedoneby" id="State" title="Select Farm">
													 <option *ngFor="let trfdnbyrefdata of transferDoneByRefDataList" [ngValue]="trfdnbyrefdata.Id">{{trfdnbyrefdata.Value}}</option>

												 </select>
												 
											 </div>
										 </div>
									 </div> -->
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" >
												 <label for="default">Increments
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <input class="form-control" type="text" [(ngModel)]="salesPurchase.increment" placeholder="Increments" 
												 name="Increments" #increments='ngModel' >	
												 												 
											 </div>


											 <div class="col-sm-6">
												 <label for="default">Vendor Declarations
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <div>
													 <input type="checkbox" [(ngModel)]="salesPurchase.vendorDecl" name="vendorDecl"/>
													 <span>Vendor declaration form required ?</span>
												 </div>

											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" [ngClass]="{'has-error':areahec.invalid && !areahec.pristine}">
												 <label for="default">Area(hectares)
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <input class="form-control" type="text" [(ngModel)]="salesPurchase.areaHec" placeholder="Area(hectares)" name="Areahec"
												  #areahec='ngModel' required>
												 <p *ngIf="areahec.invalid && !areahec.pristine" class="help-block">Area(hectares) required.</p>
											 </div>


											 <div class="col-sm-6" >
												 <label for="default">Disclosures
													 
												 </label>
												 <label for="default">Is any of the crop refered to in this contract subject to
													 <!-- <span class="required-field"></span> -->
												 </label>
												 
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 
											 <div class=" col-sm-3" [ngClass]="{'has-error':minyuphec.invalid && !minyuphec.pristine}">
												 <label for="default">Yield- units per hectare
													 
												 </label>
												 
												 <label>Minimum 
													 <!-- <span
													 class="required-field"></span> -->
												 </label>
												 
													 <input type="text" class="form-control"
													 [(ngModel)]="salesPurchase.minyupHec"
													 name="MinyupHec"
													 placeholder="Minimum"
													 #minyuphec='ngModel'
													 required/>
													  <p *ngIf="minyuphec.invalid && !minyuphec.pristine" class="help-block">Minimum required.</p>
											 </div>
											 <!-- </div> -->
											 <div class=" col-sm-3 m-t25" [ngClass]="{'has-error':maxyuphec.invalid && !maxyuphec.pristine}"
												 >
												 <label for="default" class="">Maximum<span class="required-field"></span>
												 </label>
												 

												 <input type="text" class="form-control"
													 [(ngModel)]="salesPurchase.maxyupHec"
													 name="MaxyupHec"
													 placeholder="Maximum"
													 #maxyuphec='ngModel'
													 required />

												 <p *ngIf="maxyuphec.invalid && !maxyuphec.pristine" class="help-block">Maximum required.</p>

											 
											 </div>
											 
											 <div class="col-sm-6" >
												 
												 <div>
													 <input type="checkbox" [(ngModel)]="salesPurchase.mortgage" name="mortgage"/>
													 <span>A Mortgage</span>
												 </div>
												 <div>
													 <input type="checkbox" [(ngModel)]="salesPurchase.encumb" name="encumb"/>
													 <span>Encumbrance</span>
												 </div>
												 <div>
													 <input type="checkbox" [(ngModel)]="salesPurchase.plactBreedRight" name="plactBreedRight"/>
													 <span>Plant Breeders Right</span>
												 </div>
												 <div>
													 <input type="checkbox" [(ngModel)]="salesPurchase.endPointsLib" name="endPointsLib"/>
													 <span>End Point Libilities</span>
												 </div>
												 <div>
													 <input type="checkbox" [(ngModel)]="salesPurchase.regUnregSecIntrst" name="regUnregSecIntrst"/>
													 <span>Registred or Unregistered Security Interest</span>
												 </div>
												 
												 

											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class=" col-sm-3" [ngClass]="{'has-error':minquantity.invalid && !minquantity.pristine}">
												 <label for="default">Quantity- total units
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <label>Minimum 
													 <!-- <span
													 class="required-field"></span> -->
												 </label>
												 <input type="text" class="form-control"
													 [(ngModel)]="salesPurchase.minQuantity"
													 name="MinQuantity"
													 placeholder="Minimum"
													 #minquantity='ngModel'
													 required/>
													  <p *ngIf="minquantity.invalid && !minquantity.pristine" class="help-block">Minimum required.</p>
											 </div>
											 <!-- </div> -->
											 <div class=" col-sm-3 m-t25" [ngClass]="{'has-error':qnttotunmax.invalid && !qnttotunmax.pristine}"
												 >
												 <label for="default" class="">Maximum
													 <!-- <span class="required-field"></span> -->
												 </label>
												 
												 <input type="text" class="form-control"
													 [(ngModel)]="addContractors.qntTotunMax"
													 name="QntTotUnMax"
													 placeholder="Maximum"
													 #qnttotunmax='ngModel'
													 required/>

												 <p *ngIf="qnttotunmax.invalid && !qnttotunmax.pristine" class="help-block">Maximum required.</p>
												 
											 </div>
											 
											 <div class="col-sm-6 m-t25" [ngClass]="{'has-error':briefdetails.invalid && !briefdetails.pristine}">
												 
												 <label for="default" class="">If yes, Please provide brief details
													 <!-- <span class="required-field"></span> -->
												 </label>
												 
												 <input type="text" class="form-control"
													 [(ngModel)]="salesPurchase.briefDetails"
													 name="BriefDetails"
													 placeholder="Brief Details"
													 #briefdetails='ngModel'
													  />

												 <p *ngIf="briefdetails.invalid && !briefdetails.pristine" class="help-block">Brief details required.</p>
												 
											 
												 

											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 
													<div class="col-sm-6" >
															<label for="default">Discounts
																<!-- <span class="required-field"></span> -->
															</label>
															<input class="form-control" type="text" [(ngModel)]="salesPurchase.discounts" placeholder="Discounts" 
															name="Discounts" #discount='ngModel' >								
															
														</div>
												 
											 
											 
											 
											 <div class="col-sm-6" [ngClass]="{'has-error':inctradeanddispresrule.invalid && !inctradeanddispresrule.pristine}">
												 
												 <label for="default" class="">Incorporation of Trade and Dispute Resolution Rules
													 <!-- <span class="required-field"></span> -->
												 </label>																			

												 <input type="text" class="form-control"
													 [(ngModel)]="salesPurchase.incTradeAndDispResRule"
													 name="IncTradeAndDispResRule"
													 placeholder="Incorporation rules"
													 #inctradeanddispresrule='ngModel'
													 required />

												 <p *ngIf="inctradeanddispresrule.invalid && !inctradeanddispresrule.pristine" class="help-block">Incorporation of Trade and Dispute Resolution Rules is required.</p>
																														 
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class=" col-sm-6" >																		
												 
											 </div>
																													 
											 <div class="col-sm-6" [ngClass]="{'has-error':contractcondtn.invalid && !contractcondtn.pristine}">
												 
												 <label for="default" class="">Contract Conditions
													 <!-- <span class="required-field"></span> -->
												 </label>
												 

												 <input type="text" class="form-control"
													 [(ngModel)]="salesPurchase.contractCondtn"
													 name="ContractCondtn"
													 placeholder="Conditions"
													 #contractcondtn='ngModel'
													 required />

												 <p *ngIf="contractcondtn.invalid && !contractcondtn.pristine" class="help-block">Contract Conditions is required.</p>
																							 
											 </div>

										 </div>
									 </div>
									 <div style="text-align: center; border-top: 1px solid black">
											 <div style="display: inline-block; position: relative; top: -10px; background-color: white; padding: 0px 10px">Check List</div>
									 </div>

									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" >
												 <label for="default">Status
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <select class="form-control " name="Status" #stts='ngModel' [(ngModel)]="salesPurchase.status" id="State">
													 <option *ngFor="let st of statusList" [ngValue]="st.key">{{st.value}}</option>

												 </select>
												 
												 
											 </div>


																			
												<div class="col-sm-6">
														<label for="default">Transfer to be done by
															<!-- <span class="required-field"></span> -->
														</label>
														<select class="form-control " name="TranstobedoneBy" #transtobedoneBy='ngModel' [(ngModel)]="salesPurchase.transtobedoneby" id="State" title="Select Farm">
															<option *ngFor="let trfdnbyrefdata of transferDoneByRefDataList" [ngValue]="trfdnbyrefdata.Id">{{trfdnbyrefdata.Value}}</option>
	   
														</select>
														
													</div>
												 
											 

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6">
												 
												 <div>
													 <input type="checkbox" [(ngModel)]="salesPurchase.okToProcess" name="okToProcess"/>
													 <span>OK to process</span>
												 </div>								
												 
											 </div>

											 <div class="col-sm-6" [ngClass]="{'has-error':transconfirmby.invalid && !transconfirmby.pristine}">
												 <label for="default">Transfer confirm by
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <select class="form-control " name="TransConfirmBy" #transconfirmby='ngModel' [(ngModel)]="salesPurchase.transConfirmBy" id="State" title="Select Farm">
													 <option *ngFor="let trnsconf of transferredConfirmedByRefDataList" [ngValue]="trnsconf.Id">{{trnsconf.Value}}</option>

												 </select>
												 
												 <p *ngIf="transconfirmby.invalid && !transconfirmby.pristine" class="help-block">Field Area required.</p>
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" [ngClass]="{'has-error':confirmrevenue.invalid && !confirmrevenue.pristine}">
												 <label for="default">Confirm Revenue
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <input class="form-control" type="text" [(ngModel)]="salesPurchase.confirmRevenue" placeholder="Confirm Revenue"
												  name="Confirmrevenue"
												  #confirmrevenue='ngModel' required>
												 
												 <p *ngIf="confirmrevenue.invalid && !confirmrevenue.pristine" class="help-block">Confirm Revenue required.</p>
											 </div>


											 <div class="col-sm-6" [ngClass]="{'has-error':unitsdelvtobuyer.invalid && !unitsdelvtobuyer.pristine}">
												 <label for="default">Units Delivered to Buyer
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <input class="form-control" type="text" [(ngModel)]="salesPurchase.unitsDelvToBuyer" placeholder="Units Delivered to Buyer" 
												 name="UnitsDelvToBuyer"
												  #unitsdelvtobuyer='ngModel' required>
												 
												 <p *ngIf="unitsdelvtobuyer.invalid && !unitsdelvtobuyer.pristine" class="help-block">Units Delivered to Buyer required.</p>
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
										 <div class="row">

											 <div class="col-sm-6" [ngClass]="{'has-error':bankdetailstoseller.invalid && !bankdetailstoseller.pristine}">
												 <label for="default">RCTI & Bank Details Sent to Seller
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <select class="form-control " name="BankDetailsToSeller" #bankdetailstoseller='ngModel' [(ngModel)]="salesPurchase.bankDetailsToSeller" id="State" title="Select Farm">
														 <option *ngFor="let rcti of rCTIRefDataList" [ngValue]="rcti.Id">{{rcti.Value}}</option>

													 </select>
												 
												 <p *ngIf="bankdetailstoseller.invalid && !bankdetailstoseller.pristine" class="help-block">Farm Name required.</p>
											 </div>


											 <div class="col-sm-4" [ngClass]="{'has-error':finaldelvdate.invalid && !finaldelvdate.pristine}">
												 <label for="default">Final Delivery Date
			 
													 <!-- <span class="required-field"></span> -->
												 </label>
												 <input class="form-control" bsDatepicker #dp7="bsDatepicker" type="text" [(ngModel)]="salesPurchase.finalDelvDate" placeholder="Final Delivery Date" name="FinalDelvDate"
												  #finaldelvdate='ngModel' required>
												 
												 <p *ngIf="finaldelvdate.invalid && !finaldelvdate.pristine" class="help-block">Final Delivery Date required.</p>
											 </div>
											 <div class="col-sm-2 m-t25">
													 <button class="btn btn-success" (click)="dp7.toggle()">
														 <i class="glyphicon glyphicon-calendar"></i>
													 </button>
											 </div>

										 </div>
									 </div>
									 <div class="form-group">
											 <div class="row">

												 <div class="col-sm-6" >
													 
													 <div>
														 <input type="checkbox" [(ngModel)]="salesPurchase.confirmationRecFrmSeller" name="confirmationRecFrmSeller"/>
														 <span>Signed Confirmation Received From Seller</span>
													 </div>
													 
													 
												 </div>


												 <div class="col-sm-6" >
													 
													 <div>
															 <input type="checkbox" [(ngModel)]="salesPurchase.okToInvoice" name="okToInvoice"/>
															 <span>OK to Invoice</span>
													 </div>
													 
													 
												 </div>

											 </div>
									 </div>
									 <div class="form-group">
											 <div class="row">

												 <div class="col-sm-6" >
													 
													 <div>
														 <input type="checkbox" [(ngModel)]="salesPurchase.sellerRCTIReturnBuyer" name="sellerRCTIReturnBuyer"/>
														 <span>Seller RCTI & Bank Details Returned to Buyer</span>
													 </div>
													 
													 
												 </div>


												 <div class="col-sm-6" [ngClass]="{'has-error':confrmRevenueexclGST.invalid && !confrmRevenueexclGST.pristine}">
													 <label for="default">Confirmation Revenue Exclusive of GST
														 <!-- <span class="required-field"></span> -->
													 </label>
													 <div>
													 <input class="form-control" type="text" [(ngModel)]="salesPurchase.confrmRevenueExclGST" placeholder="Revenue GST" 
													 name="ConfrmRevenueExclGST"
													  #confrmRevenueexclGST='ngModel' required>
													 </div>
													 
													 <p *ngIf="confrmRevenueexclGST.invalid && !confrmRevenueexclGST.pristine" class="help-block">Revenue GST required.</p>
												 </div>

											 </div>
									 </div>
									 <div class="form-group">
											 <div class="row">

												 <div class="col-sm-6" >
													 
													 <div>
														 <input type="checkbox" [(ngModel)]="salesPurchase.contractRecFrmBuyer" name="contractRecFrmBuyer"/>
														 <span>Contract Received From Buyer</span>
													 </div>																			
													 
												 </div>

												 <div class="col-sm-6" [ngClass]="{'has-error':confrmrevenueinclGST.invalid && !confrmrevenueinclGST.pristine}">
													 <label for="default">Confirmation Revenue Inclusive of GST
														 <!-- <span class="required-field"></span> -->
													 </label>
													 <div>
													 <input class="form-control" type="text" [(ngModel)]="salesPurchase.confrmRevenueInclGST" placeholder="Revenue Inclusive of GST"
													  name="ConfrmRevenueInclGST"
													  #confrmrevenueinclGST='ngModel' required>
													 </div>
													 
													 <p *ngIf="confrmrevenueinclGST.invalid && !confrmrevenueinclGST.pristine" class="help-block">Revenue Inclusive of GST required.</p>
												 </div>

											 </div>
									 </div>
									 <div class="form-group">
											 <div class="row">

												 <div class="col-sm-6">
																					 
													 <label for="default">Contract Sent to Seller
														 <!-- <span class="required-field"></span> -->
													 </label>
																	 <select class="form-control " name="RCTISent" #rctisent='ngModel' [(ngModel)]="salesPurchase.contractSentToSeller">
																			 <option *ngFor="let rcti of rCTIRefDataList" [ngValue]="rcti.Id">{{rcti.Value}}</option>

																		 </select>								
												 </div>

												 <div class="col-sm-6" [ngClass]="{'has-error':invoiceno.invalid && !invoiceno.pristine}">
													 <label for="default">Invoice No.
														 <!-- <span class="required-field"></span> -->
													 </label>
													 <div>
													 <input class="form-control" type="text" [(ngModel)]="salesPurchase.invoiceNo" placeholder="Invoice No" name="InvoiceNo"
													  #invoiceno='ngModel' required>
													 </div>
													 
													 <p *ngIf="invoiceno.invalid && !invoiceno.pristine" class="help-block">Field Area required.</p>
												 </div>

											 </div>
									 </div>
									 <div class="form-group">
											 <div class="row">

												 <div class="col-sm-6">
													 
													 <div>
														 <input type="checkbox" [(ngModel)]="salesPurchase.recContractFrmSeller" name="recContractFrmSeller"/>
														 <span>Signed Contract Received From Seller</span>
													 </div>																			
													 
												 </div>

												 <div class="col-sm-4" [ngClass]="{'has-error':invoicedate.invalid && !invoicedate.pristine}">
													 <label for="default">Invoice Date
														 <!-- <span class="required-field"></span> -->
													 </label>
													 <div>
													 <input class="form-control " bsDatepicker #dp8="bsDatepicker" type="text" [(ngModel)]="salesPurchase.invoiceDate" placeholder="Invoice Date"
													  name="InvoiceDate"
													  #invoicedate='ngModel' required>
													 </div>
													 
													 <p *ngIf="invoicedate.invalid && !invoicedate.pristine" class="help-block">Invoice Date required.</p>
												 </div>
												 <div class="col-sm-2 m-t25">
														 <button class="btn btn-success" (click)="dp8.toggle()">
															 <i class="glyphicon glyphicon-calendar"></i>
														 </button>
												 </div>

											 </div>
									 </div>
									 
									 <div class="form-group">
											 <div class="row">

												 <div class="col-sm-6">
																															 
													 
												 </div>

												 <div class="col-sm-6">
													 
													 
															 <div>
																	 <input type="checkbox" [(ngModel)] = "salesPurchase.invoiceReceivedAndClosed" name="invoiceReceivedAndClosed"/>
																	 <span>Invoice Received & Closed</span>
															 </div>
												 </div>
											 
											 </div>
									 </div>
								 </form>

							 </div>
						 </div>
						 <!-- [disabled]="addFavouritesForm.form.invalid" -->
						 <div class="modal-footer">
							 <button type="button" class="btn btn-default" (click)="closeSalesAndPurchaseModal()">Cancel</button>
							 <button type="button" class="btn btn-primary" (click)="submitSalesAndPurchase()">Submit</button>
						 </div>
					 </div>
				 </div>
			 </div>
			  <!--salesAndPurchaseModal-->

            <!--popup's ends here-->

		</div>

	</section>
</div>