<app-top-navbar></app-top-navbar>
<div class="content-wrapper">
  <div class="container-fluid">
    <article id="post-3491" class="left-only post-3491 page type-page status-publish hentry">
      <h2>
        <span style="color: #000000;">Contact Us</span>
      </h2>
      
        
        <h5>
          <span style="color: #000000;">AgVantage Commodities &#8211; Narrabri</span>
        </h5>
        <p>
          <span style="color: #000000;">PO Box 395,</span>
          <br />
          <span style="color: #000000;">Narrabri NSW 2390</span>
        </p>
        <p>
          <span style="color: #000000;">Phone: 02 6792 2962</span>
        </p>
        <p>
          <span style="color: #000000;">Please choose the most relevant email contact from the list below;</span>
        </p>
        <p>
          <span style="color: #3366ff;">
            <a href="mailto:marketers@agvantagecommodities.com.au">
              <span style="color: #3366ff;">marketers@agvantagecommodities.com.au</span>
            </a>
          </span>
        </p>
        <p>
          <span style="color: #3366ff;">
            <a href="mailto:admin@agvantagecommodities.com.au">
              <span style="color: #3366ff;">admin@agvantagecommodities.com.au</span>
            </a>
          </span>
        </p>
        <p>
          <span style="color: #3366ff;">
            <a href="mailto:accounts@agvantagecommodities.com.au">
              <span style="color: #3366ff;">accounts@agvantagecommodities.com.au</span>
            </a>
          </span>
        </p>
        <p>
          <span style="color: #3366ff;">
            <a href="mailto:careers@agvantagecommodities.com.au">
              <span style="color: #3366ff;">careers@agvantagecommodities.com.au</span>
            </a>
            <span style="color: #000000;">&#8211; a confidential email address only received by management</span>
          </span>
        </p>
       

    </article>
  </div>
</div>
<app-footer></app-footer>