<div class="alert alert-success" *ngIf="saveMessage">
    <strong>{{saveMessage}}</strong>
  </div>
  
   <ag-grid-angular id="grid1" #agGrid style="height:300px;width:99%;"
   [enableFilter]="true" [enableSorting]="true" [enableColResize]="true"
     class="ag-blue" [gridOptions]="gridOptions" [defaultColDef]="defaultColDef" 
     [columnDefs]="columnDefs" [getRowNodeId]="getRowNodeId" [context]="context" (gridReady)="onGridReady($event)"
     [rowData]="rowData" [groupUseEntireRow]="true"  [frameworkComponents]="frameworkComponents"> </ag-grid-angular>
   