<!-- ========== TOP NAVBAR ========== -->
<nav class="navbar top-navbar bg-white box-shadow">
	<div class="container-fluid">
		<div class="row">
			<div class="navbar-header no-padding">
				<a class="navbar-brand" style="cursor:pointer">
					<!-- <img src="assets/images/AgVantage-Logo1.png" alt="Options - Admin Template" class="logo"> -->
					<img src="assets/images/AgVantage-Logo1.png" width="100px" height="100px"
					style="cursor:pointer" alt="" class="img-responsive" routerLink="/dashboard">
				</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-ellipsis-v"></i>
				</button>
				<button type="button" class="navbar-toggle mobile-nav-toggle">
					<i class="fa fa-bars"></i>
				</button>
			</div>
			<!-- /.navbar-header -->

			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<!-- <ul class="nav navbar-nav" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <li class="hidden-sm hidden-xs"><a href="#" class="user-info-handle"><i class="fa fa-user"></i></a></li>
                    <li class="hidden-sm hidden-xs"><a href="#" class="full-screen-handle"><i class="fa fa-arrows-alt"></i></a></li>
                    <li class="hidden-sm hidden-xs"><a href="#"><i class="fa fa-search"></i></a></li>
    				<li class="hidden-xs hidden-xs"><a href="#">My Tasks</a></li>
                    <li class=""><a href="#" class="color-primary"><i class="fa fa-diamond"></i> Upgrade</a></li>
    			</ul> -->
				<!-- /.nav navbar-nav -->

				<ul class="nav navbar-nav navbar-right" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
					<li class="dropdown" dropdown>
						<a href="#" dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" (click)="stopPro($event)" aria-haspopup="true"
						 aria-expanded="false">Menu
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" *dropdownMenu>
							<!-- <li class="dropdown" dropdown>
								<a  style="cursor:pointer" dropdownToggle class="dropdown-toggle"
								data-toggle="dropdown" role="button" (click)="stopPro($event)" aria-expanded="true">
									<i class="fa fa-plus-square-o"></i>
									<a (click)="gotoPC()">Production & Cost</a>
								</a> -->
								<!-- <ul class="dropdown-menu" *dropdownMenu>
									<li><a  style="cursor: pointer">Sub menu Page 1-1</a></li>
									<li><a  style="cursor: pointer">Sub menu page 1-2</a></li>
									<li><a  style="cursor: pointer">Sub menu Page 1-3</a></li>
								</ul> -->
							<!-- </li> -->

							<!-- <li class="dropdown" dropdown>
								<a style="cursor:pointer" dropdownToggle class="dropdown-toggle"
								data-toggle="dropdown" role="button" (click)="stopPro($event)" aria-expanded="true">
									<i class="fa fa-plus-square-o"></i>
									<a (click)="gotoMS()">Marketable Sales</a>
								</a>
								<ul class="dropdown-menu" *dropdownMenu>
										<li><a  style="cursor: pointer">Sub menu Page 2-1</a></li>
										<li><a  style="cursor: pointer">Sub menu Page 2-2</a></li>
										<li><a  style="cursor: pointer">Sub menu Page 2-3</a></li>
								</ul>
							</li> -->
							<li  role="menuitem" class="dropdown" dropdown placement="left" container="body" [hidden]="widgetSuperAdmin">
								<a style="cursor:pointer" dropdownToggle class="dropdown-item dropdown-toggle"
								data-toggle="dropdown" role="button" (click)="stopPro($event)" aria-expanded="true">
									<i class="fa fa-plus-square-o"></i>
									<a (click)="gotoSI()">Storage & Inventory</a>
								</a>
									<ul class="dropdown-menu" *dropdownMenu role="menu">
											<li *ngIf="role.getRole() === 'superadmin'"><a  style="cursor: pointer" (click)="gotoAQ()">Add Quality</a></li>
											<!-- <li><a  style="cursor: pointer">Sub menu Page 3-2</a></li>
											<li><a  style="cursor: pointer">Sub menu Page 3-3</a></li> -->
									</ul>
							</li>
							<li>
								<a (click)="gotoCF()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Contacts </a>
							</li>
							<!-- <li *ngIf="role.getRole() === 'superadmin'">
								<a (click)="gotoAC()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Add commodity</a>
							</li> -->
							<!-- <li *ngIf="role.getRole() === 'superadmin'">
								<a (click)="gotoAC()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Add Warehouse</a>
							</li> -->
							<!-- <li *ngIf="role.getRole() !='superadmin'">
								<a (click)="gotoAC()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Manage Commodities</a>
							</li> -->
						<!-- 	<li>
								<a (click)="gotoBEF()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Breakeven Forecast</a>
							</li> -->
							<li [hidden]="widgetSuperAdmin">
								<a (click)="gotoPCB()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Production,Costs and Breakeven</a>
							</li>
							<!-- <li>
								<a (click)="gotoFC()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Freight Calculator</a>
							</li> -->
							<li [hidden]="widgetSuperAdmin">
								<a (click)="gotoSM2MPos()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Sales & M2m Position</a>
							</li>
							<li [hidden]="widgetSuperAdmin">
								<a (click)="gotoSalesPurchase()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Sales & Purchase</a>
							</li>
							<li >
								<a (click)="gotoFavourites()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Favourites</a>
							</li>
							<li [hidden]="widgetSuperAdmin">
								<a (click)="gotoPSF()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Production and Sales Forecast</a>
							</li>
							<li [hidden]="widgetSuperAdmin">
								<a (click)="gotoConOnFarm()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Contractors On Farm</a>
							</li>
							<li [hidden]="widgetSuperAdmin">
								<a (click)="gotoProfMatrix()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Profitability Matrix</a>
							</li>
							<li >
								<a (click)="gotoDocuments()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Documents</a>
							</li>
							<li [hidden]="!widgetSuperAdmin">
								<a (click)="gotoSuperadmin()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Superadmin</a>
							</li>
							<li [hidden]="!widgetSuperAdmin">
								<a (click)="gotoAddNewFields()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Add New Fields </a>
							</li>
							<!-- <li role="separator" class="divider"></li> -->
							<!-- <li>
								<a (click)="gotoMap()" style="cursor:pointer">
									<i class="fa fa-plus-square-o"></i> Direction</a>
							</li> -->
							<!-- <li><a href="#">Create Order</a></li>
                						<li role="separator" class="divider"></li>
                						<li><a href="#">Generate Report</a></li> -->
						</ul>
					</li>
					<!-- <li class="dropdown" dropdown>
    					<a href="#" dropdownToggle class="dropdown-toggle bg-primary" data-toggle="dropdown" role="button" (click)="stopPro($event)"><i class="fa fa-plus-circle"></i> Utility <span class="caret"></span></a>
    					<ul class="dropdown-menu" *dropdownMenu role="menu">
    						<li><a href="#"><i class="fa fa-plus-square-o"></i> Customer</a></li>
                            <li><a href="#"><i class="fa fa-plus-square-o"></i> Employee</a></li>
    						<li><a href="#"><i class="fa fa-plus-square-o"></i> Estimate</a></li>
                            <li><a href="#"><i class="fa fa-plus-square-o"></i> Task</a></li>
    						<li><a href="#"><i class="fa fa-plus-square-o"></i> Team Member</a></li>
    						<li role="separator" class="divider"></li>
    						<li><a href="#">Create Order</a></li>
    						<li role="separator" class="divider"></li>
    						<li><a href="#">Generate Report</a></li>
    					</ul>
    				</li>

                     -->
					<!-- /.dropdown -->

					<!-- <li><a href="#" class=""><i class="fa fa-bell"></i><span class="badge badge-danger">6</span></a></li>
    				<li><a href="#" class=""><i class="fa fa-comments"></i><span class="badge badge-warning">2</span></a></li> -->
					<li class="dropdown" dropdown>
						<a href="#" dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" (click)="stopPro($event)">
							<span [hidden]="widgetSuperAdmin">{{currentUser.USER.U_FNAME}}</span>
							<span [hidden]="!widgetSuperAdmin">Super Admin</span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu profile-dropdown" *dropdownMenu role="menu">
							<li class="profile-menu bg-gray">
								<div class="">
									<img src="http://placehold.it/60/c2c2c2?text=User" alt="Steve Dalton" class="img-circle profile-img">
									<div class="profile-name" [hidden]="widgetSuperAdmin ">
										<h6>{{currentUser.USER.U_FNAME}}</h6>
										<a style="cursor:pointer">View Profile</a>
									</div>
									<div class="profile-name" [hidden]="!widgetSuperAdmin">
										<h6>{{currentUser.USER.U_FNAME}}</h6>
										<a style="cursor:pointer">View Profile</a>
									</div>
									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<a style="cursor:pointer" (click)="goToSettingPage()">
									<i class="fa fa-cog"></i> Settings</a>
							</li>
							<li>
								<a (click)="gotoADG()" style="cursor:pointer">
									<i class="fa fa-sliders"></i> Account Details</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a (click)="gotoLogin()" style="cursor:pointer" class="color-danger text-center">
									<i class="fa fa-sign-out"></i> Logout</a>
							</li>
						</ul>
					</li>
					<!-- /.dropdown -->
					<li>
						<a style="cursor:pointer" class="hidden-xs hidden-sm open-right-sidebar">
							<i class="fa fa-ellipsis-v"></i>
						</a>
					</li>
				</ul>
				<!-- /.nav navbar-nav navbar-right -->
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</nav>
