<div class="main-wrapper">
	<app-top-navbar></app-top-navbar>
</div>

<div class="content-wrapper">


	<div class="container-fluid">

		<div class="row page-title-div">
			<div class="col-md-6">
				<h4 class="title">Manage Commodity</h4>
				<p class="sub-title">List Your Product</p>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6 right-side"></div>
			<!-- /.col-sm-6 text-right -->
		</div>
		<!-- /.row -->
		<div class="row breadcrumb-div">
			<div class="col-sm-6">
				<ul class="breadcrumb">
					<li><a (click)="gotoHome()" style="cursor: pointer"><i
							class="fa fa-home"></i> Dashboard</a> / Manage Commodity</li>
				</ul>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6 text-right">
				<a  style="cursor: pointer"><i class="fa fa-comments"></i> Talk to us</a>
			
				<a  class="pl-20" style="cursor: pointer"><i class="fa fa-newspaper-o"></i> Subscription</a>
			</div>
			<!-- /.col-sm-6 -->
		</div>
		<!-- /.row -->
	</div>


	<section class="section pt-10">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel border-primary no-border"
						data-panel-control>
						<div class="panel-heading">
							<div class="panel-title text-center">
								<h4>Manage Commodity</h4>
							</div>
						</div>

						<div class="panel-body">
							<div class="panel">
								<div class="panel-heading p-l0">
									<div class="col-md-12 p-l0">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary"
											data-toggle="modal" data-target="#myModal">Add
											Commodity</button>

										<!-- Modal -->
										<div class="modal fade" id="myModal" tabindex="-1"
											role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog" role="document">
												<div class="modal-content"
													style="height: 95vh; overflow: auto;">
													<div class="modal-header">
														<h4 class="modal-title" id="myModalLabel">
															Add Commodity
															<button type="button" class="close" data-dismiss="modal"
																aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</h4>
													</div>
													<div class="modal-body">

														<div class="panel-body">
															<div class="alert alert-success" *ngIf="submitCommodity">
																<strong>{{submitCommodity}}</strong>
															</div>
															<form #addCommodityForm="ngForm" class="form-horizontal">

																<div class="form-group">
																	<label for="default" class="col-sm-3 control-label">Commodity<span
																		class="field-wrapper required-field"></span></label>
																	<div class="col-sm-9">
																		<select class="form-control " name="selectedCommodity"
																			(change)="callGrades()"
																			[(ngModel)]="commodity.SCC_C_ID" id="Commodity"
																			placeholder="eg. wheat,Malt Barley">
																			<option *ngFor="let commodity of commodities"
																				[ngValue]="commodity.C_ID">{{commodity.C_NAME}}</option>

																		</select>
																	</div>
																</div>
																<div class="form-group">
																	<label for="default" class="col-sm-3 control-label">Grade
																		<span class="field-wrapper required-field"></span>
																	</label>
																	<div class="col-sm-9">

																		<select class="form-control" name="grade1"
																			[(ngModel)]="grade" id="Grade"
																			placeholder="Grade of the Crop">
																			<option *ngFor="let grade of grades"
																				[ngValue]="grade.CG_ID">{{grade.CG_NAME}}</option>

																		</select>
																	</div>
																</div>
																<div class="form-group">
																	<label for="default" class="col-sm-3 control-label">Crop
																		Year<span class="field-wrapper required-field"></span>
																	</label>
																	

																			<div class="col-sm-9">

																					<select class="form-control" name="cropyear" title="Select Crop Year"
																						[(ngModel)]="commodity.SCC_CROP_YR" id="cropyr" 
																						>
																						<option *ngFor="let crpyr of cropYearList"
																								[ngValue]="crpyr.Crop_year">{{crpyr.Crop_year}}</option>
																					</select>
																				</div>
																	
																</div>
																<div class="form-group" >
																	<label for="default" class="col-sm-3 control-label">Area
																		(ha.)</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':sccarea.invalid && !sccarea.pristine}">
																		<input required type="number" #sccarea='ngModel' name="sccarea"
																			[(ngModel)]="commodity.SCC_AREA_H" 
																			class="form-control" id="default" placeholder="Area(ha.)">
																			<p *ngIf="sccarea.invalid && !sccarea.pristine" class="help-block">Area is required.</p>
																			<!-- <div [hidden]="sccarea.valid || sccarea.pristine"
																			class="help-block">
																				<div [hidden]="!sccarea.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="sccarea.hasError('required')">Field is required</div>
																				<div [hidden]="!sccarea.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="default" class="col-sm-3 control-label">Yield/ha.</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':yield.invalid && !yield.pristine}">
																		<input required type="number" #yield='ngModel' name="yield"
																			[(ngModel)]="commodity.SCC_YIELD_PER_H"
																			class="form-control" id="default" placeholder="Yield/ha">
																			<p *ngIf="yield.invalid && !yield.pristine" class="help-block">Yield/ha is required.</p>
																			<!-- <div [hidden]="yield.valid || yield.pristine"
																			class="help-block">
																				<div [hidden]="!yield.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!yield.hasError('required')">Field is required</div>
																				<div [hidden]="!yield.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="text" class="col-sm-3 control-label"
																		tooltip="Removed Amount (your sharefarmer %)"
																		placement="top">Sharefarmer %</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':remamt.invalid && !remamt.pristine}">
																		<input required type="number" #remamt='ngModel' name="remamt"
																			[(ngModel)]="commodity.SCC_REM_AMT" placeholder="Removed Amount (your sharefarmer %)"
																			class="form-control" id="text">
																			<p *ngIf="remamt.invalid && !remamt.pristine" class="help-block">Removed Amount (your sharefarmer %) is required.</p>
																			<!-- <div [hidden]="remamt.valid || remamt.pristine"
																			class="help-block">
																				<div [hidden]="!remamt.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!remamt.hasError('required')">Field is required</div>
																				<div [hidden]="!remamt.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="text" class="col-sm-3 control-label">Stock
																		on farm</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':avlstr.invalid && !avlstr.pristine}">
																		<input required type="number" #avlstr='ngModel' name="avlstr"
																			[(ngModel)]="commodity.SCC_AVL_STRG_PER"
																			class="form-control" id="text"
																			placeholder="Storage Available - on farm (mt)">
																			<p *ngIf="avlstr.invalid && !avlstr.pristine" class="help-block">Stock on farm is required.</p>
																			<!-- <div [hidden]="avlstr.valid || avlstr.pristine"
																			class="help-block">
																				<div [hidden]="!avlstr.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!avlstr.hasError('required')">Field is required</div>
																				<div [hidden]="!avlstr.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="text" class="col-sm-3 control-label">Stock
																		in market</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':oldcrop.invalid && !oldcrop.pristine}">
																		<input required type="number" #oldcrop='ngModel' name="oldcrop"
																			[(ngModel)]="commodity.SCC_OLD_CRP_LFT"
																			class="form-control" id="text"
																			placeholder="Old crop left to market (tonnes/bales)">
																			<p *ngIf="oldcrop.invalid && !oldcrop.pristine" class="help-block">Stock in market is required.</p>
																			<!-- <div [hidden]="oldcrop.valid || oldcrop.pristine"
																			class="help-block">
																				<div [hidden]="!oldcrop.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!oldcrop.hasError('required')">Field is required</div>
																				<div [hidden]="!oldcrop.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="default" class="col-sm-3 control-label">Labour
																		charge</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':scclbr.invalid && !scclbr.pristine}">
																		<input required type="number" #scclbr='ngModel' name="scclbr"
																			[(ngModel)]="commodity.SCC_LBR" class="form-control"
																			id="default" placeholder="Hired Labour incl wages">
																			<p *ngIf="scclbr.invalid && !scclbr.pristine" class="help-block">Labour charge is required.</p>
																			<!-- <div [hidden]="scclbr.valid || scclbr.pristine"
																			class="help-block">
																				<div [hidden]="!scclbr.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!scclbr.hasError('required')">Field is required</div>
																				<div [hidden]="!scclbr.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="default" class="col-sm-3 control-label">Repairs
																		null</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':sccmaint.invalid && !sccmaint.pristine}">
																		<input required type="number" #sccmaint='ngModel' name="sccmaint"
																			[(ngModel)]="commodity.SCC_MAINT"
																			class="form-control" id="default" placeholder="Repairs null">
																			<p *ngIf="sccmaint.invalid && !sccmaint.pristine" class="help-block">Repairs null is required.</p>
																			<!-- <div [hidden]="yield.valid || yield.pristine"
																			class="help-block">
																				<div [hidden]="!sccmaint.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!sccmaint.hasError('required')">Field is required</div>
																				<div [hidden]="!sccmaint.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="default" class="col-sm-3 control-label"
																		tooltip="Operating-Interest">Operating-In..</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':sccopr.invalid && !sccopr.pristine}">
																		<input required type="number" #sccopr='ngModel' name="sccopr"
																			[(ngModel)]="commodity.SCC_OPER_INTRST"
																			class="form-control" id="default" placeholder="Operating-Interest">
																			<p *ngIf="sccopr.invalid && !sccopr.pristine" class="help-block">Operating-Interest is required.</p>
																			<!-- <div [hidden]="sccopr.valid || sccopr.pristine"
																			class="help-block">
																				<div [hidden]="!sccopr.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!sccopr.hasError('required')">Field is required</div>
																				<div [hidden]="!sccopr.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="autocomplete"
																		class="col-sm-3 control-label">Other-Interest</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':othintrst.invalid && !othintrst.pristine}">
																		<input required type="number" #othintrst='ngModel' name="othintrst"
																			[(ngModel)]="commodity.SCC_OTH_INTRST"
																			class="form-control" id="autocomplete" placeholder="Other-Interest"
																			autocomplete="on">
																			<p *ngIf="othintrst.invalid && !othintrst.pristine" class="help-block">Other-Interest is required.</p>
																			<!-- <div [hidden]="othintrst.valid || othintrst.pristine"
																			class="help-block">
																				<div [hidden]="!othintrst.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!othintrst.hasError('required')">Field is required</div>
																				<div [hidden]="!othintrst.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="textarea" class="col-sm-3 control-label">Rent/Mortgage</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':sccrent.invalid && !sccrent.pristine}">
																		<textarea required class="form-control" #sccrent='ngModel' name="sccrent"
																			[(ngModel)]="commodity.SCC_RENT" id="textarea"
																			placeholder="Rent/Mortgage" rows="5"></textarea>
																			<p *ngIf="sccrent.invalid && !sccrent.pristine" class="help-block">Rent/Mortgage is required.</p>
																			<!-- <div [hidden]="sccrent.valid || sccrent.pristine"
																			class="help-block">
																				<div [hidden]="!sccrent.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!sccrent.hasError('required')">Field is required</div>
																				<div [hidden]="!sccrent.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="autocomplete"
																		class="col-sm-3 control-label">Seed</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':sccseed.invalid && !sccseed.pristine}">
																		<input required type="number" #sccseed='ngModel' name="sccseed"
																			[(ngModel)]="commodity.SCC_SEED" class="form-control"
																			id="autocomplete" placeholder="Seed" autocomplete="off">
																			<p *ngIf="sccseed.invalid && !sccseed.pristine" class="help-block">Seed is required.</p>
																			<!-- <div [hidden]="sccseed.valid || sccseed.pristine"
																			class="help-block">
																				<div [hidden]="!sccseed.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!sccseed.hasError('required')">Field is required</div>
																				<div [hidden]="!sccseed.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>

																<div class="form-group">
																	<label for="autocomplete"
																		class="col-sm-3 control-label">Fertilizer</label>
																	<div class="col-sm-9"  [ngClass]="{'has-error':frtilizer.invalid && !frtilizer.pristine}">
																		<input required type="number" #frtilizer='ngModel' name="frtilizer"
																			[(ngModel)]="commodity.SCC_FRTLZR"
																			class="form-control" id="autocomplete"
																			placeholder="Fertilizer" autocomplete="off">
																			<p *ngIf="frtilizer.invalid && !frtilizer.pristine" class="help-block">Fertilizer is required.</p>
																			<!-- <div [hidden]="frtilizer.valid || frtilizer.pristine"
																			class="help-block">
																				<div [hidden]="!frtilizer.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!frtilizer.hasError('required')">Field is required</div>
																				<div [hidden]="!frtilizer.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="autocomplete"
																		class="col-sm-3 control-label">Chemicals</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':chem.invalid && !chem.pristine}">
																		<input required type="number" #chem='ngModel' name="chem"
																			[(ngModel)]="commodity.SCC_CHEM" class="form-control"
																			id="autocomplete" placeholder="Chemicals" autocomplete="off">
																			<p *ngIf="chem.invalid && !chem.pristine" class="help-block">Chemicals is required.</p>
																			<!-- <div [hidden]="chem.valid || chem.pristine"
																			class="help-block">
																				<div [hidden]="!chem.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!chem.hasError('required')">Field is required</div>
																				<div [hidden]="!chem.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group"  >
																	<label for="autocomplete"
																		class="col-sm-3 control-label"
																		tooltip="Machine Hire/Contracting">Machine
																		Hi..</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':cmntr.invalid && !cmntr.pristine}">
																		<input required type="number" #cmntr='ngModel' name="cmntr"
																			[(ngModel)]="commodity.SCC_MCN_CNTR"
																			class="form-control" id="autocomplete" placeholder="Machine Hire/Contracting"
																			autocomplete="off">
																			<p *ngIf="cmntr.invalid && !cmntr.pristine" class="help-block">Machine Hire/Contracting is required.</p>
																			<!-- <div [hidden]="cmntr.valid || cmntr.pristine"
																			class="help-block">
																				<div [hidden]="!cmntr.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!cmntr.hasError('required')">Field is required</div>
																				<div [hidden]="!cmntr.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="autocomplete"
																		class="col-sm-3 control-label">Supplies/sundries</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':suuplier.invalid && !suuplier.pristine}">
																		<input required type="number" #suuplier='ngModel' name="suuplier"
																			[(ngModel)]="commodity.SCC_SUPPLIERS"
																			class="form-control" id="autocomplete" placeholder="Supplies/sundries"
																			autocomplete="off">
																			<p *ngIf="suuplier.invalid && !suuplier.pristine" class="help-block">Supplies/sundries is required.</p>
																			<!-- <div [hidden]="suuplier.valid || suuplier.pristine"
																			class="help-block">
																				<div [hidden]="!suuplier.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!suuplier.hasError('required')">Field is required</div>
																				<div [hidden]="!suuplier.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="autocomplete"
																		class="col-sm-3 control-label">Gas/Fuel/Oil</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':fuel.invalid && !fuel.pristine}">
																		<input required type="number" #fuel='ngModel' name="fuel"
																			[(ngModel)]="commodity.SCC_FUEL" class="form-control"
																			id="autocomplete" placeholder="Gas/Fuel/Oil" autocomplete="off">
																			<p *ngIf="fuel.invalid && !fuel.pristine" class="help-block">Gas/Fuel/Oil is required.</p>
																			<!-- <div [hidden]="fuel.valid || fuel.pristine"
																			class="help-block">
																				<div [hidden]="!fuel.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!fuel.hasError('required')">Field is required</div>
																				<div [hidden]="!fuel.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="autocomplete"
																		class="col-sm-3 control-label">Taxes</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':taxes.invalid && !taxes.pristine}">
																		<input required type="number" #taxes='ngModel' name="taxes"
																			[(ngModel)]="commodity.SCC_TAXES"
																			class="form-control" id="autocomplete" placeholder="Taxes"
																			autocomplete="off">
																			<p *ngIf="taxes.invalid && !taxes.pristine" class="help-block">Taxes is required.</p>
																			<!-- <div [hidden]="taxes.valid || taxes.pristine"
																			class="help-block">
																				<div [hidden]="!taxes.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!taxes.hasError('required')">Field is required</div>
																				<div [hidden]="!taxes.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="autocomplete"
																		class="col-sm-3 control-label">Insurance</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':insrns.invalid && !insrns.pristine}">
																		<input required type="number" #insrns='ngModel' name="insrns"
																			[(ngModel)]="commodity.SCC_INSRNS"
																			class="form-control" id="autocomplete" placeholder="Insurance"
																			autocomplete="off">
																			<p *ngIf="insrns.invalid && !insrns.pristine" class="help-block">Insurance is required.</p>
																			<!-- <div [hidden]="insrns.valid || insrns.pristine"
																			class="help-block">
																				<div [hidden]="!insrns.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!insrns.hasError('required')">Field is required</div>
																				<div [hidden]="!insrns.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="autocomplete"
																		class="col-sm-3 control-label">Utilities</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':utlt.invalid && !utlt.pristine}">
																		<input required type="number" #utlt='ngModel' name="utlt"
																			[(ngModel)]="commodity.SCC_UTLT" class="form-control"
																			id="autocomplete" placeholder="Utilities" autocomplete="off">
																			<p *ngIf="utlt.invalid && !utlt.pristine" class="help-block">Utilities is required.</p>
																			<!-- <div [hidden]="utlt.valid || utlt.pristine"
																			class="help-block">
																				<div [hidden]="!utlt.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!utlt.hasError('required')">Field is required</div>
																				<div [hidden]="!utlt.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="autocomplete"
																		class="col-sm-3 control-label">Marketing</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':mrkt.invalid && !mrkt.pristine}">
																		<input required type="number" #mrkt='ngModel' name="mrkt"
																			[(ngModel)]="commodity.SCC_MRKT" class="form-control"
																			id="autocomplete" placeholder="Marketing" autocomplete="off">
																			<p *ngIf="mrkt.invalid && !mrkt.pristine" class="help-block">Marketing is required.</p>
																			<!-- <div [hidden]="mrkt.valid || mrkt.pristine"
																			class="help-block">
																				<div [hidden]="!mrkt.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!mrkt.hasError('required')">Field is required</div>
																				<div [hidden]="!mrkt.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>
																<div class="form-group" >
																	<label for="autocomplete"
																		class="col-sm-3 control-label">Freight</label>
																	<div class="col-sm-9" [ngClass]="{'has-error':freight.invalid && !freight.pristine}">
																		<input required type="number" #freight='ngModel' name="freight"
																			[(ngModel)]="commodity.SCC_FREIGHT"
																			class="form-control" id="autocomplete" placeholder="Freight"
																			autocomplete="off">
																			<p *ngIf="freight.invalid && !freight.pristine" class="help-block">Freight is required.</p>
																			<!-- <div [hidden]="freight.valid || freight.pristine"
																			class="help-block">
																				<div [hidden]="!freight.hasError('minlength')">Field should be 5 digits</div>
																				<div [hidden]="!freight.hasError('required')">Field is required</div>
																				<div [hidden]="!freight.hasError('pattern')">Field should be only numbers</div>
																			</div> -->
																	</div>
																</div>

															</form>

														</div>


													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Close</button>
														<button type="button" (click)="addCommodity()" [disabled]="addCommodityForm.form.invalid"
															class="btn btn-primary">Add</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel-body">
									<!-- <div id="prod-chart" [style.width.%]="100" [style.height.px]="500"></div> -->
									<!-- <app-addedcommoditylist></app-addedcommoditylist> -->
								</div>
								<app-addedcommoditylist></app-addedcommoditylist>
							</div>
						</div>
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-md-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.section -->

</div>