
<ag-grid-angular id="grid1" #agGrid style="height:300px;" [enableFilter]="true" [enableSorting]="true" [enableColResize]="true"
	class="ag-blue" [gridOptions]="gridOptions" [defaultColDef]="defaultColDef" [columnDefs]="columnDefs" [getRowNodeId]="getRowNodeId" (gridReady)="onGridReady($event)"
	[rowData]="rowData"  [groupUseEntireRow]="true"> </ag-grid-angular>
	
	<ag-grid-angular id="grid2" #agGrid1 style="height:400px;" [enableFilter]="true" [enableSorting]="true" [enableColResize]="true"
	class="ag-blue" [gridOptions]="gridOptions1" [defaultColDef]="defaultColDef1" [columnDefs]="columnDefs1"  (gridReady)="onGridReady1($event)"
	[rowData]="rowData1"  > </ag-grid-angular>

<!-- <div style="position: absolute; top: 0px; left: 0px;">
    <button (click)="setPriceOnToyota()">Set Price on Toyota</button>
    <button (click)="setDataOnFord()">Set Data on Ford</button>
    &nbsp;
    &nbsp;
    &nbsp;
    <button (click)="updateSort()">Sort</button>
    <button (click)="updateFilter()">Filter</button>
</div> -->