.m-t{
    margin-top: 50px;
}

.m-t25{
    margin-top: 25px;
}
.m-t0{
    margin-top: 0;
}
.m-l{
    margin-left: 10px;
}

.m-r{
    margin-right: 15px;
}

.t-al{
    text-align: left;
}

.p-l0{
    padding-left:0;
}

.p-t5{
    padding-top: 5px;
}

