<div class="alert alert-success" *ngIf="saveMessage">
	<strong>{{saveMessage}}</strong>
</div>

<div class="row">
	<div class="col-md-12">
		<h5 class="m-t0">Inventory Storage</h5>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<ag-grid-angular id="grid4" #agGrid style=" height: 220px;width:99%;"
			class="ag-blue" [gridOptions]="gridOptions1"
			(cellClicked)="onCellClicked($event)" 
			[columnDefs]="columnDefs" [getRowNodeId]="getRowNodeId"
			[enableFilter]="true" [enableSorting]="true"
			[autoGroupColumnDef]="autoGroupColumnDef"
			[groupIncludeFooter]="true"
			
			[toolPanelSuppressPivots]="true"
			[toolPanelSuppressPivotMode]="true"
			[rowSelection]="rowSelection" (gridReady)="onGridReady($event)"
			[enableColResize]="true"
			(selectionChanged)="onSelectionChanged($event)"
			[rowData]="rowData" [context]="context"
			[frameworkComponents]="frameworkComponents">
		</ag-grid-angular>
	</div>
</div>

<!-- <div class="row">
  <div class="col-md-12 m-t25">
	<div class="col-md-1 p-l0">
		<label for="default" class="control-label p-l0 p-t5">
			Total Unsold
		</label>
	</div>
	<div class="col-md-4 p-l0">
		<input type="text"
		name="TotalUnsold"
		class="form-control"
		placeholder="Total Unsold Quantity" required />	
	</div>  
  </div>
</div>

<div class="row">
	<div class="col-md-12 m-t25">
		<div class="col-md-1 p-l0">
			<label for="default" class="control-label p-l0 p-t5">
				Total Sold
			</label>
		</div>
		<div class="col-md-4 p-l0">
			<input type="text"
			name="TotalSold"
			class="form-control"
			placeholder="Total Sold Quantity" required />	
		</div>  
	</div>
</div>
 -->
<div class="row">
	<div class="col-md-12 m-t25">
		<h5 class="m-t0">Storage Record</h5>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<ag-grid-angular id="grid5" #agGrid1 style="height:300px;width:99%;"
		class="ag-blue" [gridOptions]="gridOptions" [columnDefs]="columnDefs1"  (gridReady)="onGridReady1($event)"
		[rowData]="rowData1" [enableFilter]="true"  [enableSorting]="true"  [groupUseEntireRow]="true"> </ag-grid-angular>
	</div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" bsModal
	#noBDModal="bs-modal" [config]="{backdrop: false}">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal3Label">
					Update Inventory
					<button type="button" class="close" (click)="noBDModal.hide()"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</h4>
			</div>
			<div class="modal-body">
				<!-- Work in progress.{{inventoryObj|json}} -->
				<div class="panel-body">
					<!-- <div class="alert alert-success" *ngIf="submitCommodity">
						<strong>{{submitInventory}}</strong>
					</div> -->
					<form #addInventoryForm="ngForm" class="form-horizontal">
						<div class="form-group">
							<label for="default" class="col-sm-2 control-label">Storage
								Type<span class="field-wrapper required-field"></span>
							</label>
							<div class="col-sm-9">
								<select class="form-control" name="selectedWarehouseType"
									(change)="callSelectedType()"
									[(ngModel)]="inventory.WarehouseType" id="WarehouseType"
									placeholder="eg. wheat,Malt Barley">
									<option *ngFor="let type of WarehouseTypes"
										[ngValue]="type.T_ID">{{type.T_NAME}}</option>
								</select>
							</div>
						</div>
						
						<div class="form-group" *ngIf="showExfarm">
							<label for="default" class="col-sm-2 control-label">Ex
								Farm<span class="field-wrapper required-field"></span>
							</label>
							<div class="col-sm-8">
								<select class="form-control" name="selectedExfarm"
									(change)="callSelectedInhouse()" [(ngModel)]="inventory.Exfarm"
									id="Exfarm" placeholder="eg. wheat,Malt Barley">
									<option *ngFor="let exfarm of ExfarmList"
										[ngValue]="exfarm.IH_ID">{{exfarm.IH_NAME}}</option>
								</select>
							</div>
							<div class="col-sm-2">
								<button class="btn btn-success" data-toggle="modal"
									data-target="">Add</button>
							</div>
						</div>
						<div class="form-group" *ngIf="showOnfarm">
							<label for="default" class="col-sm-2 control-label">Onfarm<span
								class="field-wrapper required-field"></span></label>
							<div class="col-sm-8">
								<select class="form-control" name="selectedOnfarm"
									[(ngModel)]="inventory.storageid" id="Onfarm"
									placeholder="eg. wheat,Malt Barley">
									<option *ngFor="let onfarm of OnfarmList"
										[ngValue]="onfarm.STORAGE_ID">{{onfarm.STORAGE_NAME}}</option>
								</select>
							</div>
							<div class="col-sm-2">
								<button class="btn btn-success" data-toggle="modal"
									data-target="">Add</button>
							</div>
						</div>
						<div class="form-group" *ngIf="showPublic">
							<label for="default" class="col-sm-2 control-label">Public<span
								class="field-wrapper required-field"></span></label>
							<div class="col-sm-8">
								<select class="form-control" name="selectedPublic"
									[(ngModel)]="inventory.storageid" id="Public"
									placeholder="eg. wheat,Malt Barley">
									<option *ngFor="let pub of PublicList"
										[ngValue]="pub.STORAGE_ID">{{pub.STORAGE_NAME}}</option>
								</select>
							</div>
							<!-- <div class="col-sm-2">
								<button class="btn btn-success" data-toggle="modal" data-target="#modalOnfarm">Add</button>
							</div> -->
						</div>
						<div class="form-group">
							<label for="default" class="col-sm-2 control-label">Load<span
								class="field-wrapper required-field"></span></label>
							<div class="col-sm-9">
								<select class="form-control " name="selectedCommodity"
									[(ngModel)]="inventory.load_id" id="Commodity"
									placeholder="eg. wheat,Malt Barley">
									<option *ngFor="let load of loadList" [ngValue]="load.ID">{{load.Load_ID}}</option>

								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="default" class="col-sm-2 control-label">Commodity<span
								class="field-wrapper required-field"></span></label>
							<div class="col-sm-9">
								<select class="form-control " name="selectedCommodity"
									(change)="callGrades()" [(ngModel)]="inventory.SCC_C_ID"
									id="Commodity" placeholder="eg. wheat,Malt Barley">
									<option *ngFor="let commodity of commodities"
										[ngValue]="commodity.C_ID">{{commodity.C_NAME}}</option>

								</select>
							</div>
						</div>
						
						<div class="form-group">
						<label for="default" class="col-sm-2 control-label">Crop
							Year</label>
						<div class="col-sm-9">
							<!-- <input type="number" #grade='ngModel' name="grade " [(ngModel)]="inventory.INV_Grade"
						min="0" step="1" value="0" class="form-control" placeholder="Enter Grade" required />  -->
							<select class="form-control" name="selectedCropyear"
								[(ngModel)]="inventory.Cropyear" placeholder="">
								<option *ngFor="let crpyr of cropYearList"
									[ngValue]="crpyr.Crop_ID">{{crpyr.Crop_year}}</option>
							</select>
							<!-- <input required type="text" #unitprice='ngModel' name="unitprice"
							[(ngModel)]="commodity.SCC_AREA_H" 
							pattern="[0-9]*"
							   minlength="5"
							   maxlength="10" 
							class="form-control" id="default" placeholder=""> -->
							<!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
							<!-- class="help-block"> -->
							<!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->
							<!-- <p *ngIf="grade.invalid && !grade.pristine" class="help-block">Grade is required.</p> -->
							<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
							<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
							<!-- </div> -->
						</div>
						</div>
						<div class="form-group">
							<label for="default" class="col-sm-2 control-label">Quantity</label>
							<div class="col-sm-9"
								[ngClass]="{'has-error':quantity.invalid && !quantity.pristine}">
								<input type="number" #quantity='ngModel' name="quantity"
									[(ngModel)]="inventory.quantity" min="0" step="1" value="0"
									class="form-control" placeholder="Enter Quantity" required />

								<!-- <input required type="text" #unitprice='ngModel' name="unitprice"
								[(ngModel)]="commodity.SCC_AREA_H" 
								pattern="[0-9]*"
								   minlength="5"
								   maxlength="10" 
								class="form-control" id="default" placeholder=""> -->
								<!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
								<!-- class="help-block"> -->
								<!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->
								<p *ngIf="quantity.invalid && !quantity.pristine"
									class="help-block">Quantity is required.</p>
								<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
								<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
								<!-- </div> -->
							</div>
						</div>
						<div class="form-group"
							*ngFor="let quality of qualityArray  let i = index">
							<div class="row" *ngIf='i==0'>

								<label for="default" class="col-sm-2 m-l control-label">Quality</label>

								<div class="col-sm-3">
									<select class="form-control" name="qualityName{{i}}"
										(change)="callselectedQuality()"
										[(ngModel)]="quality.quality_name" id="Quality"
										placeholder="eg. wheat,Malt Barley">
										<option *ngFor="let qlty of qualityList"
											[ngValue]="qlty.Q_NAME">{{qlty.Q_NAME}}</option>
									</select>

									<!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
									<!-- class="help-block"> -->
									<!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->
									<!-- <p *ngIf="quality.invalid && !quality.pristine" class="help-block">Quality is required.</p> -->
									<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
									<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
								</div>
								<!-- </div> -->
								<!-- <div class="form-group" > -->
								<label for="default" class="col-sm-2 control-label">Quality
									Value</label>
								<div class="col-sm-2">
									<!-- <div class="col-sm-2" [ngClass]="{'has-error':quality.qualityValue.invalid && !quality.qualityValue.pristine}"> -->

									<input type="number" name="qualityValue{{i}}"
										[(ngModel)]="quality.quality_value" min="0" step="1" value="0"
										class="form-control" placeholder="Quality Value" required />

									<!-- <p *ngIf="quality.qualityValue.invalid && !quality.qualityValue.pristine" class="help-block">Quality Value is required.</p> -->

									<!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
									<!-- class="help-block"> -->
									<!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->

									<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
									<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->

								</div>
								<div class="col-sm-1">
									<button class="btn btn-success"
										(click)="createNewQualityFields(quality, i)">
										<i class="glyphicon glyphicon-plus"></i>
									</button>
								</div>
							</div>
							
							<div class="row" *ngIf='i>0'>
								<label for="default" class="col-sm-2 m-l control-label">Quality</label>

								<div class="col-sm-3">
									<select class="form-control" name="qualityName{{i}}"
										(change)="callselectedQuality()"
										[(ngModel)]="quality.quality_name" id="Quality"
										placeholder="eg. wheat,Malt Barley">
										<option *ngFor="let qlty of qualityList"
											[ngValue]="qlty.Q_NAME">{{qlty.Q_NAME}}</option>
									</select>

									<!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
									<!-- class="help-block"> -->
									<!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->
									<!-- <p *ngIf="quality.invalid && !quality.pristine" class="help-block">Quality is required.</p> -->
									<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
									<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
								</div>
								<!-- </div> -->
								<!-- <div class="form-group" > -->
								<label for="default" class="col-sm-2 control-label">Quality
									Value</label>
								<div class="col-sm-2">
									<!-- <div class="col-sm-2" [ngClass]="{'has-error':quality.qualityValue.invalid && !quality.qualityValue.pristine}"> -->

									<input type="number" name="qualityValue{{i}}"
										[(ngModel)]="quality.quality_value" min="0" step="1" value="0"
										class="form-control" placeholder="Quality Value" required />

									<!-- <p *ngIf="qualityValue{{i}}.invalid && !qualityValue{{i}}.pristine" class="help-block">Quality Value is required.</p> -->

									<!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
									<!-- class="help-block"> -->
									<!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->

									<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
									<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->

								</div>
								<div class="col-sm-1">
									<button class="btn btn-success"
										(click)="removeNewQualityFields(quality, i)">
										<i class="glyphicon glyphicon-minus"></i>
									</button>
								</div>
							</div>

						</div>
						<div class="form-group">
						<label for="default" class="col-sm-2  control-label">Grade</label>
								<div class="col-sm-9">
									<!-- <input type="number" #grade='ngModel' name="grade " [(ngModel)]="inventory.INV_Grade"
								min="0" step="1" value="0" class="form-control" placeholder="Enter Grade" required />  -->
									<select class="form-control" name="selectedGrade"
										[(ngModel)]="inventory.Grade" id="Grade" placeholder="">
										<option *ngFor="let grade of grades" [ngValue]="grade.CG_ID">{{grade.CG_NAME}}</option>
									</select>
									<!-- <input required type="text" #unitprice='ngModel' name="unitprice"
									[(ngModel)]="commodity.SCC_AREA_H" 
									pattern="[0-9]*"
									   minlength="5"
									   maxlength="10" 
									class="form-control" id="default" placeholder=""> -->
									<!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
									<!-- class="help-block"> -->
									<!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->
									<!-- <p *ngIf="grade.invalid && !grade.pristine" class="help-block">Grade is required.</p> -->
									<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
									<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
									<!-- </div> -->
								</div>
								</div>
						
						
						<div class="form-group">
							<label for="default" class="col-sm-2 control-label"><span
								class="field-wrapper required-field"></span>Sold Quantity</label>
							<div class="col-sm-9">
								<input type="number" name="soldValue" (change)=changeUnsold()
									[disabled]="inventory.unsold_quantity==0 || inventory.unsold_quantity==undefined "
									[(ngModel)]="inventory.sold_quantity" min="0" step="1"
									value="0" class="form-control" placeholder="Sold Quantity"
									required />

							</div>
						</div>

						<div class="form-group">
							<label for="default" class="col-sm-2 control-label"><span
								class="field-wrapper required-field"></span>Unsold Quantity</label>
							<div class="col-sm-9">
								<input type="number" name="unsoldValue"
									[(ngModel)]="inventory.unsold_quantity" min="0" step="1"
									value="0" class="form-control" placeholder="Unsold Quantity"
									required />

							</div>
						</div>

						
				
					
						<div class="form-group">
							<label for="default" class="col-sm-2 control-label">Field
								From</label>
							<div class="col-sm-9"
								[ngClass]="{'has-error':fieldFrom.invalid && !fieldFrom.pristine}">
								<!-- <input placeholder="search for location" autocorrect="off" id="location"
																											autocapitalize="off" spellcheck="off" type="text" 
																											#location='ngModel' name='location' [(ngModel)]="inventory.Srch_Location" required> -->

								<!-- <div class="form-group" [ngClass]="{'has-error':address.invalid && !address.pristine}"> -->
								<!-- <label for="addr">Street/Property Address -->
								<!-- <span class="field-wrapper required-field"></span> -->
								<!-- </label> -->
								<input type="text" class="form-control"
									[(ngModel)]="inventory.FieldFrom" #fieldFrom="ngModel"
									name="fieldFrom" placeholder="Enter Field From" required />
								<p *ngIf="fieldFrom.invalid && !fieldFrom.pristine"
									class="help-block">FieldFrom is required.</p>
								<!-- </div> -->
								<!-- <div [hidden]="search.valid || search.pristine" -->
								<!-- class="alert alert-danger"> -->
								<!-- <div [hidden]="!search.hasError('minlength')">Field should be 2 digits</div> -->
								<!-- <div [hidden]="!search.hasError('required')">Field is required</div> -->
								<!-- <div [hidden]="!search.hasError('pattern')">Field should be only numbers</div> -->
								<!-- </div> -->
							</div>
						</div>
						<div class="form-group">
						<label for="default" class="col-sm-2 control-label">Target
							Price</label>
						<div class="col-sm-9"
							[ngClass]="{'has-error':targetprice.invalid && !targetprice.pristine}">
							<input required type="number" #targetprice='ngModel'
								name="targetprice" [(ngModel)]="inventory.INV_TargetPrice"
								class="form-control" id="default" placeholder="Target Price">
							<p *ngIf="targetprice.invalid && !targetprice.pristine"
								class="help-block">Targetprice is required.</p>
							<!-- <div [hidden]="unitprice.valid || unitprice.pristine"
								class="help-block">
									<div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div>
									<div [hidden]="!unitprice.hasError('required')">Field is required</div>
									<div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div>
								</div> -->
						</div>
					</div>
						<div class="form-group">
							<label for="default" class="col-sm-2 control-label">Date
								Harvested</label>
							<div class="col-sm-8"
								[ngClass]="{'has-error':dateHarvested.invalid && !dateHarvested.pristine}">
								<!-- <input placeholder="search for location" autocorrect="off" id="location"
																											autocapitalize="off" spellcheck="off" type="text" 
																											#location='ngModel' name='location' [(ngModel)]="inventory.Srch_Location" required> -->

								<input type="text" class="form-control" #dp1="bsDatepicker"
									#dateHarvested="ngModel" name="dateHarvested" required
									bsDatepicker [(bsValue)]="bsVal"
									[(ngModel)]="inventory.date_harvested"
									placeholder="Select Date Harvested">


								<p *ngIf="dateHarvested.invalid && !dateHarvested.pristine"
									class="help-block">Date Harvested is required.</p>

								<!-- <div [hidden]="search.valid || search.pristine" -->
								<!-- class="alert alert-danger"> -->
								<!-- <div [hidden]="!search.hasError('minlength')">Field should be 2 digits</div> -->
								<!-- <div [hidden]="!search.hasError('required')">Field is required</div> -->
								<!-- <div [hidden]="!search.hasError('pattern')">Field should be only numbers</div> -->
								<!-- </div> -->
							</div>
							<div class="col-sm-2">
								<button class="btn btn-success" (click)="dp1.toggle()">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</div>
						</div>
						<div class="form-group"
							*ngFor="let chem of chemArray  let i = index">
							<div class="row" *ngIf='i==0'>
								<div class=" col-sm-3">
									<label>Fumigation OR Chemical</label>
									<!-- <div class="col-sm-9"> -->
									<select class="form-control" name="fumgnORChem{{i}}"
										[(ngModel)]="chem.chemical_name"
										placeholder="eg. wheat,Malt Barley">
										<option *ngFor="let chmcl of chemicalList"
											[ngValue]="chmcl.CHEM_NAME">{{chmcl.CHEM_NAME}}</option>
									</select>
									<!-- </div> -->
								</div>
								<!-- </div> -->
								<div class=" col-sm-3">
									<label for="default" class="">Chemical Rates Applied</label>
									<!-- <div class="col-sm-9" [ngClass]="{'has-error':chemicalRatesApplied.invalid && !chemicalRatesApplied.pristine}"> -->

									<input type="text" class="form-control"
										[(ngModel)]="chem.chemical_value"
										name="chemicalRatesApplied{{i}}"
										placeholder="Chemical Rates Applied" required />

									<!-- <p *ngIf="chemicalRatesApplied.invalid && !chemicalRatesApplied.pristine" class="help-block">Chemical Rates Applied is required.</p> -->

									<!-- class="alert alert-danger"> -->
									<!-- <div [hidden]="!search.hasError('minlength')">Field should be 2 digits</div> -->
									<!-- <div [hidden]="!search.hasError('required')">Field is required</div> -->
									<!-- <div [hidden]="!search.hasError('pattern')">Field should be only numbers</div> -->
									<!-- </div> -->
									<!-- </div> -->
								</div>
								<div class="col-sm-4">
									<div class="col-sm-10">
										<label for="default" class="">Date Applied</label>
										<!-- <div class="col-sm-7" [ngClass]="{'has-error':dateApplied.invalid && !dateApplied.pristine}"> -->

										<input type="text" class="form-control"
											#chemdp1="bsDatepicker" name="dateApplied{{i}}" required
											bsDatepicker [(ngModel)]="chem.date_applied"
											placeholder="Select Date Applied">

										<!-- <p *ngIf="dateApplied.invalid && !dateApplied.pristine" class="help-block">Date Applied is required.</p> -->
										<!-- </div> -->
										<!-- <div [hidden]="search.valid || search.pristine" -->
										<!-- class="alert alert-danger"> -->
										<!-- <div [hidden]="!search.hasError('minlength')">Field should be 2 digits</div> -->
										<!-- <div [hidden]="!search.hasError('required')">Field is required</div> -->
										<!-- <div [hidden]="!search.hasError('pattern')">Field should be only numbers</div> -->
										<!-- </div> -->
									</div>
									<div class="col-sm-2 m-t25">
										<button class="btn btn-success" (click)="chemdp1.toggle()">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</div>

								</div>
								<!-- <div class="col-sm-2">
							<button class="btn btn-success" (click)="dp2.toggle()"><i class="glyphicon glyphicon-calendar"></i></button>
						</div> -->
								<div class="col-sm-2 m-t25">
									<button class="btn btn-success"
										(click)="createNewChemFields(chem, i)">
										<i class="glyphicon glyphicon-plus"></i>
									</button>
								</div>
							</div>
							<div class="row" *ngIf='i>0'>
								<div class=" col-sm-3">
									<label>Fumigation OR Chemical</label>
									<!-- <div class="col-sm-9"> -->
									<select class="form-control" name="umgnORChem{{i}}"
										[(ngModel)]="chem.chemical_name"
										placeholder="eg. wheat,Malt Barley">
										<option *ngFor="let chmcl of chemicalList"
											[ngValue]="chmcl.CHEM_NAME">{{chmcl.CHEM_NAME}}</option>
									</select>
									<!-- </div> -->
								</div>
								<!-- </div> -->
								<div class=" col-sm-3">
									<label for="default" class="">Chemical Rates Applied</label>
									<!-- <div class="col-sm-9" [ngClass]="{'has-error':chemicalRatesApplied.invalid && !chemicalRatesApplied.pristine}"> -->

									<input type="text" class="form-control"
										[(ngModel)]="chem.chemical_value"
										name="chemicalRatesApplied{{i}}"
										placeholder="Chemical Rates Applied" required />
									<!-- <p *ngIf="chemicalRatesApplied.invalid && !chemicalRatesApplied.pristine" class="help-block">Chemical Rates Applied is required.</p> -->
									<!-- </div> -->

									<!-- class="alert alert-danger"> -->
									<!-- <div [hidden]="!search.hasError('minlength')">Field should be 2 digits</div> -->
									<!-- <div [hidden]="!search.hasError('required')">Field is required</div> -->
									<!-- <div [hidden]="!search.hasError('pattern')">Field should be only numbers</div> -->
									<!-- </div> -->
									<!-- </div> -->
								</div>
								<div class="col-sm-4">
									<div class="col-sm-10">
										<label for="default" class="">Date Applied</label>
										<!-- <div class="col-sm-7" [ngClass]="{'has-error':dateApplied.invalid && !dateApplied.pristine}"> -->

										<!-- <input type="text"
										class="form-control"
										#dp2="bsDatepicker"                                                                                
										name="chem.dateApplied{{i}}" required
										bsDatepicker [(bsValue)]="bsValue2"
										[(ngModel)]="chemArray[i].dateApplied"
										placeholder="Select Date Applied">
											 -->
										<input type="text" class="form-control" #dt="bsDatepicker"
											#dateApplied="ngModel" name="dateApplied{{i}}" required
											bsDatepicker [(ngModel)]="chem.date_applied"
											placeholder="Select Date Applied">
										<!-- <input type="text"
										class="form-control"
										#chemdp2="bsDatepicker"                                                                                
										name="chem.dateApplied{{i}}" required
										bsDatepicker [(bsValue)]="bsValue2"
										[(ngModel)]="chemArray[i].dateApplied"
										placeholder="Select Date Applied"> -->

										<!-- <p *ngIf="dateApplied.invalid && !dateApplied.pristine" class="help-block">Date Applied is required.</p> -->
										<!-- </div> -->
										<!-- <div [hidden]="search.valid || search.pristine" -->
										<!-- class="alert alert-danger"> -->
										<!-- <div [hidden]="!search.hasError('minlength')">Field should be 2 digits</div> -->
										<!-- <div [hidden]="!search.hasError('required')">Field is required</div> -->
										<!-- <div [hidden]="!search.hasError('pattern')">Field should be only numbers</div> -->
										<!-- </div> -->
									</div>
									<div class="col-sm-2 m-t25">
										<button class="btn btn-success" (click)="dt.toggle()">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</div>

								</div>
								<div class="col-sm-2 m-t25">
									<button class="btn btn-success"
										(click)="removeNewChemFields(chem, i)">
										<i class="glyphicon glyphicon-minus"></i>
									</button>
								</div>
							</div>
						</div>

						
					</form>
				</div>


			</div>
			<div class="modal-footer">
				<!-- <div class="btn-group" role="group"> -->
				<button type="button" class="btn btn-default"
					(click)="noBDModal.hide()">Close</button>

				<button type="button" (click)="updateInventory()"
					[disabled]="addInventoryForm.form.invalid" class="btn btn-primary">Update</button>
				<!-- </div> -->
				<!-- /.btn-group -->
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modal3" tabindex="-1" role="dialog" bsModal
	#noBDModal1="bs-modal" [config]="{backdrop: false}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal3Label">
					Storage Details
					<button type="button" class="close" (click)="noBDModal1.hide()"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</h4>
			</div>
			<div class="modal-body">

				<table class="table-responsive-md table-bordered"
					style="margin-top: 20px;">

					<tbody>
						<tr>
							<th scope="row">Storage Name</th>
							<td>{{StorageData.STORAGE_NAME}}</td>

						</tr>
						<tr>
							<th scope="row">Street</th>
							<td>{{StorageData.U_A_STREET}}</td>
						</tr>
						<tr>
							<th scope="row">Postcode</th>
							<td>{{StorageData.U_A_POSTCODE}}</td>
						</tr>
						<tr>
							<th scope="row">City</th>
							<td>{{StorageData.U_A_CITY}}</td>
						</tr>
						<tr>
							<th scope="row">State</th>
							<td>{{StorageData.U_A_STATE}}</td>
						</tr>
						<tr>
							<th scope="row">Country</th>
							<td>{{StorageData.U_A_COUNTRY}}</td>
						</tr>
						<tr>
							<th scope="row">Storage Location Distance</th>
							<td>{{StorageData.STORAGE_LOCA_DISTANCE}}</td>
						</tr>
						<tr>
							<th scope="row">Storage Near Town</th>
							<td>{{StorageData.STORAGE_NEAR_TOWN}}</td>
						</tr>
						<tr>
							<th scope="row">Storage Type</th>
							<td>{{StorageData.STORAGE_TYPE}}</td>
						</tr>
						<tr>
							<th scope="row">GPS</th>
							<td>{{StorageData.STORAGE_LOC_GPS}}</td>
						</tr>
					</tbody>
				</table>

			</div>
			<div class="modal-footer">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-gray btn-wide btn-rounded"
						(click)="noBDModal1.hide()">
						<i class="fa fa-times"></i>Close
					</button>
				</div>
				<!-- /.btn-group -->
			</div>
		</div>
	</div>
</div>
