<div class="main-wrapper">
		<div id="snackbar">Right click on a row and export to excel....</div>
	<app-top-navbar></app-top-navbar>
	<div class="content-wrapper">


		<div class="container-fluid">

			<div class="row page-title-div">
				<div class="col-md-6">
					<h4 class="title">Storage and Inventory</h4>
					<p class="sub-title">One stop solution for farmers!</p>
				</div>
				<!-- /.col-sm-6 -->
				<div class="col-sm-6 right-side"></div>
				<!-- /.col-sm-6 text-right -->
			</div>
			<!-- /.row -->
			<div class="row breadcrumb-div">
				<div class="col-sm-6">
					<ul class="breadcrumb">
						<li><a (click)="gotoHome()" style="cursor: pointer"> <i
								class="fa fa-home"></i> Dashboard
						</a> / Storage and Inventory</li>
					</ul>
				</div>
				<!-- /.col-sm-6 -->
				<div class="col-sm-6 text-right hidden-xs">
					<a style="cursor: pointer"><i class="fa fa-comments"></i> Talk
						to us</a> <a class="pl-20" style="cursor: pointer"><i
						class="fa fa-newspaper-o"></i> Subscription</a>
				</div>
				<!-- /.col-sm-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->

		<section class="section pt-10">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="panel border-primary no-border" data-panel-control>
							<app-ngr-entity-display></app-ngr-entity-display>
							<div class="panel-body">
								<div class="panel-heading p-0">
									<div class="col-md-12 p-l0">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary"
											data-toggle="modal" (click)='openAddStorageModal()'>Add
											on Farm Storage</button>
										<button type="button" class="btn btn-primary"
											data-toggle="modal" (click)="openAddInventory()">Add
											Inventory</button>
										
										
										<button type="button" class="btn btn-primary"
										    data-toggle="modal" (click)="exportInfo()">Export
										</button>
										<button type="button" class="btn btn-primary"
										    data-toggle="modal" (click)="openCommMovementRecord()">View Commodity Movement Record
										</button>	
										<!-- <button type="button" class="btn btn-primary"
                                                data-toggle="modal" data-target="#myModal">Add
                                                Quality</button> -->
										<!-- Modal Add Inventory start-->
										<div class="modal fade modal-full-screen" id="myModal" #myModal="bs-modal"
											bsModal tabindex="-1" role="dialog"
											[config]="{backdrop: false}" aria-labelledby="myModalLabel">
											<div class="modal-dialog  modal-lg" role="document">
												<div class="modal-content"
													style="height: 100vh; overflow: auto;">
													<div class="modal-header">
														<h4 class="modal-title" id="myModalLabel">
															Add Inventory
															<button type="button" class="close"
																(click)="myModal.hide()" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</h4>
													</div>
													<div class="modal-body">
													   
														<!--tabs starts here-->
                                                        <!-- <ul class="nav nav-tabs" role="tablist">
															<li class="nav-item">
																<a class="nav-link active" href="#storageDetails" role="tab" data-toggle="tab">Storage Details</a>
															</li>
															<li class="nav-item">
																<a class="nav-link" href="#commodityDetails" role="tab" data-toggle="tab">Commodity Details</a>
															</li>
															<li class="nav-item">
																<a class="nav-link" href="#marketingDetails" role="tab" data-toggle="tab">Marketing Details</a>
															</li>
														</ul> -->
                                                        <!--tabs ends here-->
														<tabset [justified]="true"> 
														<tab [active]="tabs[0].active" [disabled]="tabs[0].disabled"
															heading="Inventory" >
														<div class="col-md-12">
															<div class="panel">
																<div class="panel-heading text-center">
																	<div class="panel-title">
																		<!-- <h2 style="padding-right: 135px;">User Registration</h2> -->
																	</div>
																</div>
																<div class="panel-body">

																	<div class="content clearfix">
																		<div class="panel-body">

																			<div class="content clearfix">
																				<div class="row step1">
																					<div class="col-md-12 ">
																						<div class="panel1">
																							<div class="panel-body1">
																								<form #addInventoryForm="ngForm" class="form-horizontal">
																									<div class="form-group">
																										<label for="default" class="col-sm-4 control-label">Storage Type
																										</label>
																										<div class="col-sm-5">
																											<!-- <input *ngIf="newStorageType" name="newStorageType" type="text" class="form-control"/> -->
																											<select class="form-control " name="selectedWH"
																											(change)="callStorageDetails()"
																											[(ngModel)]="inventory.Storage_Type" id="Commodity"
																											placeholder="eg. wheat,Malt Barley">
																											<option *ngFor="let wht of WarehouseTypes"
																												[ngValue]="wht.T_NAME">{{wht.T_NAME}}</option>
																											</select>
																										</div>
																									</div>
																									<div class="form-group">
																										<label for="default" class="col-sm-4 control-label">Storage
																											Name
																										</label>
																										<div class="col-sm-5">
																											<select class="form-control" name="selectedStorageType" 
																											[(ngModel)]="inventory.STORAGE" id="StorageType" 
																											title="Select Storage Type" (change)="callStrgFieldDetails()">
																											
																												<option *ngFor="let sdl of storageDetailsList"
																												[ngValue]="sdl">{{sdl.STORAGE_NAME}}</option>
																											</select>
																										</div>
																										<div class="col-sm-3">
																											<button class="btn btn-success" data-toggle="modal"
																											data-target="#modalStorage"
																											>Add on Farm Storage</button>		
																										</div>
																									</div>
																									<div class="form-group">
																										<label for="default" class="col-sm-4 control-label">Storage
																											Name Capacity(tonnes)
																										</label>
																										<div class="col-sm-5"
																											[ngClass]="{'has-error':storageNameCap.invalid && !storageNameCap.pristine}">
																											<input type="text" #storageNameCap='ngModel'
																												name="storageName" readonly
																												[(ngModel)]="inventory.STORAGE_NEAR_TOWN" min="0" step="1"
																												value="0" class="form-control"
																												placeholder="Total Capacity of the Storage" required />
																											
																											<p *ngIf="storageNameCap.invalid && !storageNameCap.pristine"
																												class="help-block">Storage Name is required.</p>
																											<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
																											<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
																											<!-- </div> -->
																										</div>
																									</div>
																									<div class="form-group">
																										<label for="default" class="col-sm-4 control-label">Storage
																											Distance from nearest  City/Town/Suburb (km)
																											
																										</label>
																										<div class="col-sm-5"
																											[ngClass]="{'has-error':storageDistance.invalid && !storageDistance.pristine}">
																											<input type="text" #storageDistance='ngModel' readonly
																												id="strgDistnc" name="dst"
																												[(ngModel)]="inventory.STORAGE_LOCA_DISTANCE" min="0"
																												step="1" value="0" class="form-control"
																												placeholder="Storage Distance" required />
																											
																											<p
																												*ngIf="storageDistance.invalid && !storageDistance.pristine"
																												class="help-block">Storage Distance is required.</p>
																											<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
																											<!-- <div [hidden]="!unitcxvcdfsprice.hasError('pattern')">Field should be only numbers</div> -->
																											<!-- </div> -->
																										</div>
																										<!-- <div class="col-sm-2">
																											<button class="btn btn-success" data-toggle="modal"
																												data-target="#modalGetDistance"
																												(click)="getDistance()">Get Distance</button>
																										</div> -->
																									</div>
																									<div class="form-group">
																										<label for="default" class="col-sm-4 control-label">Storage
																											Direction from nearest  City/Town/Suburb
																											
																										</label>
																										<div class="col-sm-5"
																											[ngClass]="{'has-error':storageDirection.invalid && !storageDirection.pristine}">
																											<input type="text" #storageDirection='ngModel'
																												name="storageDirection" readonly
																												[(ngModel)]="inventory.STORAGE_LOC_DIRECTION" min="0"
																												step="1" value="0" class="form-control"
																												placeholder="Storage Direction" required />
																											
																											<p
																												*ngIf="storageDirection.invalid && !storageDirection.pristine"
																												class="help-block">Storage Direction is required.</p>
																											
																										</div>
																									</div>
																									
																									<!-- <h5 class="mt-30">
																										<strong>Address Details</strong>
																									</h5> -->
										
																									<!-- <div class="row"> -->
																									<!-- <div class="col-md-12"> -->
																									
										
																									<!-- </div> -->
																									<!-- /.col-md-12 -->
																									<!-- </div> -->
																									<!-- <div class="row"> -->
																									<!-- <div class="col-md-6"> -->
																									<div class="form-group">
																										<label for="name13" class="col-sm-4 control-label">City/Town/Suburb</label>
																										<div class="col-sm-5" [ngClass]="{'has-error':invAddress.invalid && !invAddress.pristine}">
																											<input type="text" class="form-control" style="z-index: 9000" [(ngModel)]="inventory.U_A_STREET"
																											readonly #invAddress="ngModel" name="invAddress" #address="ngModel" placeholder="Address" id="autocomplete" ng2-google-place-autocomplete
																											 required />
																											<p *ngIf="invAddress.invalid && !invAddress.pristine" class="help-block">Address is required.</p>
																										</div>
																									</div>
																									<!-- </div> -->
																									<!-- <div class="col-md-6"> -->
																									<div class="form-group">
																										<label for="name13" class="col-sm-4 control-label">State</label>
																										<div class="col-sm-5"
																											[ngClass]="{'has-error':state.invalid && !state.pristine}">
																											<input type="text" class="form-control" readonly
																												[(ngModel)]="inventory.U_A_STATE" name="state"
																												#state="ngModel" required placeholder="Enter State" />
																											<p *ngIf="state.invalid && !state.pristine"
																												class="help-block">State is required.</p>
																										</div>
																									</div>
																									<!-- </div> -->
										
																									<!-- </div> -->
																									<!-- <div class="row"> -->
																									<!-- <div class="col-md-6"> -->
																									<div class="form-group">
																										<label for="country" class="col-sm-4 control-label">Country</label>
																										<div class="col-sm-5"
																											[ngClass]="{'has-error':country.invalid && !country.pristine}">
																											<input class="form-control" type="text" readonly
																												[(ngModel)]="inventory.U_A_COUNTRY"
																												placeholder="Australia" value="Australia"
																												#country='ngModel' name="country">
																											<p *ngIf="country.invalid && !country.pristine"
																												class="help-block">Country is required.</p>
																										</div>
																									</div>
																									<!-- </div> -->
																									<!-- /.col-md-6 -->
										
																									<!-- <div class="col-md-6"> -->
																									<div class="form-group">
																										<label for="zip" class="col-sm-4 control-label">Post/Zip
																											Code
																										</label>
																										
																										<div class="col-sm-5" [ngClass]="{'has-error':zipcode.invalid && !zipcode.pristine}">
																											<input type="text" class="form-control" name="zipcode" readonly
																												[(ngModel)]="inventory.U_A_POSTCODE"
																												placeholder="Postal Code" #zipcode="ngModel" required>
																											<p *ngIf="zipcode.invalid && !zipcode.pristine" class="help-block">Postcode is required</p>
																										</div>
																									</div>
																									<div class="form-group">
																										<label class="col-sm-4 control-label">GPS
																											Location
																										</label>
																										
										
																										<div class="col-sm-5" [ngClass]="{'has-error':gpslocation.invalid && !gpslocation.pristine}">
																											<input type="text" class="form-control" name="gpsloc" readonly
																												#gpslocation="ngModel" id="gpsloctext"
																												[(ngModel)]="inventory.STORAGE_LOC_GPS" required />																	
																											<p *ngIf="gpslocation.invalid && !gpslocation.pristine"
																												class="help-block">GPS Location is required</p>
																										</div>
																										<!-- <div class="col-sm-2">																	
																											<button class="btn btn-success"
																												(click)="setCurrentPosition('fromInvAddStrgDtls')">GPS Location</button>
																										</div> -->
																									</div>
																									<div class="row" class="col-md-12">
																										<button type="submit" (click)='selectNextTab(1)'
																											
																											class="btn btn-primary pull-right">Next</button>
																										
																										<!-- <button type="submit" (click)='selectBackTab(0)'																												
																											class="btn btn-primary pull-right">Back</button> -->
																										</div>
																									<!-- <div #mapDiv id='addInvStrgDtlsMapGPS' class="map"
																										*ngIf="showGPSLocMap"></div> -->
																									<!-- </div> -->
																									<!-- </div> -->  		
																						   		</form>
																							</div>
																						</div>


																					</div>

																				</div>

																			</div>
																		</div>


																	</div>
																</div>


															</div>
															<!-- /.col-md-12 -->
														</div>
														</tab>
														<tab [active]="tabs[1].active" [disabled]="tabs[1].disabled"
															heading="Commodity" >
														<div class="col-md-12">
															<div class="panel">
																<div class="panel-heading text-center">
																	<div class="panel-title">
																		<!-- <h2 style="padding-right: 135px;">User Registration</h2> -->
																	</div>
																</div>
																<div class="panel-body">

																	<div class="content clearfix">
																		<div class="panel-body">

																			<div class="content clearfix">
																				<div class="row step1">
																					<div class="col-md-12 ">
																						<div class="panel1">
																							<div class="panel-body1">
																								<form #addcommodityDetails="ngForm" class="form-horizontal">
																									<div class="form-group">
																										<label for="default" class="col-md-4 control-label">Commodity
																										</label>
																										<div class="col-md-5">
																											<select class="form-control " name="selectedCommodity"
																												(change)="callGrades();getQualities();"
																												[(ngModel)]="inventory.SCC_C_ID" id="Commodity"
																												placeholder="eg. wheat,Malt Barley">
																												<option *ngFor="let commodity of commodities"
																													[ngValue]="commodity.C_ID">{{commodity.C_NAME}}</option>
									
																											</select>
																										</div>
																									</div>
																									<div class="form-group">
																										<label for="default" class="col-md-4 control-label">Grade
																										</label>
																										<div class="col-md-5">
																											<select class="form-control" name="selectedGrade"
																												[(ngModel)]="inventory.GradeCom" placeholder="selected Grade List">
																												<option *ngFor="let grade of grades" [ngValue]="grade.CG_ID">{{grade.CG_NAME}}</option>
																												
																											</select>
																										</div>
																									</div>
																									<div class="form-group">
																										<label for="default" class="col-md-4 control-label">Crop
																											Year
																										</label>
																										<div class="col-md-5">
																											<select class="form-control" name="selectedCropyear"
																												[(ngModel)]="inventory.Cropyear" placeholder="">
																												<option *ngFor="let crpyr of cropYearList"
																													[ngValue]="crpyr.Crop_ID">{{crpyr.Crop_year}}</option>
																											</select>
																										</div>
																									</div>
																									<div class="form-group">
																										<label for="default" class="col-md-4 control-label">Quantity and Quality
																											
																										</label>
																										<div class="col-md-5">
																											<select class="form-control" name="selectedQQ" (change)="addLoad($event)"
																												[(ngModel)]="inventory.QntytQlty" placeholder="Est.Quantity and Avg. Quality">
																												<option *ngFor="let qlty of qualityList" [ngValue]="qlty.q_id" >{{qlty.q_name}}</option>																				
																											</select>
																										</div>
																									</div>
																									<div class="form-group">
																										<label for="default" class="col-md-4 control-label">Field From
																										</label>
																										<div class="col-md-5">
																											<select class="form-control" name="selectedFieldFrom"
																												[(ngModel)]="inventory.FieldFrom" placeholder="selected Field From List">
																										
																										<option *ngFor="let ffl of fieldFromList" [ngValue]="ffl.field_id">{{ffl.field_name}}</option>
																											</select>
																										</div>
																									</div>
																									<div class="form-group">
																										<label for="DateHarvested" class="col-sm-4 control-label">Date Harvested</label>
																										<div class="col-sm-5">
																											<input type="text" class="form-control"
																												bsDatepicker #dp1="bsDatepicker"
																												name="Date Harvested" [(ngModel)]="inventory.DateHarvested"
																												placeholder="Date Harvested" />
																										</div>
																										<div class="col-sm-2">
																											<button class="btn btn-success" (click)="dp1.toggle()">
																												<i class="glyphicon glyphicon-calendar"></i>
																											</button>
																										</div>
																									</div>
																									<div class="form-group">
																										<button class="btn btn-success m-l15" [disabled]="addRowDisable" (click)="addCommGridRow(inventory.quantity)">Add Row</button>
																									</div>
																									<!-- <div class="form-group">
																										<div class="col-md-12">
																											<ag-grid-angular id="grid6" class="ag-blue" #agGrid2 style="height:300px;" [enableFilter]="true" [enableSorting]="true" [enableColResize]="true"
																											(gridReady)="onGridReadyInvComm($event)" [gridOptions]="gridOptionsInvComm"  [columnDefs]="columnDefInvCommodity" 
																											[rowData] = "invCommRowData" [groupUseEntireRow]="true" [cellEditor]= 'richSelect' [defaultColDef]="defaultColDef" [getRowNodeId]="getRowNodeId"
																											> </ag-grid-angular>            
																										</div>	
																									</div> -->
																									<div class="form-group" *ngIf = "wait">
																										<div class="form-group">
																											<div id="quality1{{i+1}}" class="col-md-2" *ngFor="let quality of qualities;trackBy:indexTracker;let i = index;">
																												<label class="truncate" tooltip={{quality.Q_NAME}} for="Quantity">{{quality.Q_NAME}}</label>
																												<input  type="text" class="form-control"
																												name="quality1{{i}}"  [(ngModel)]="quality.qualityVal"
																												placeholder="{{quality.Q_NAME}}"/>	
																											</div>
																											<!-- quantities[i].value																	 -->
																										</div>
																																												
																									</div>
																									<div class="row" class="col-md-12">
																										<button type="submit" (click)='selectNextTab(2)'
																											
																											class="btn btn-primary pull-right">Next</button>
																										
																										<!-- <button type="submit" (click)='selectBackTab(0)'																												
																											class="btn btn-primary pull-right">Back</button> -->
																									</div>
																									
																								</form>
																							</div>
																						</div>


																					</div>

																				</div>

																			</div>
																		</div>


																	</div>
																</div>


															</div>
															<!-- /.col-md-12 -->
														</div>
														</tab>
														<tab [active]="tabs[2].active" [disabled]="tabs[2].disabled"
															heading="Marketing Details" >
														<div class="col-md-12">
															<div class="panel">
																<div class="panel-heading text-center">
																	<div class="panel-title">
																		<!-- <h2 style="padding-right: 135px;">User Registration</h2> -->
																	</div>
																</div>
																<div class="panel-body">

																	<div class="content clearfix">
																		<div class="panel-body">

																			<div class="content clearfix">
																				<div class="row step1">
																					<div class="col-md-12 ">
																						<div class="panel1">
																							<div class="panel-body1">
																								<form #addMarketingDetails="ngForm" class="form-horizontal">
																									<div class="form-group">
																										<label for="SoldQuantity" class="col-md-4 control-label">Sold Quantity</label>
																										<div class="col-md-5">
																											<input type="text" class="form-control"
																												name="SoldQuantity" [(ngModel)]="inventory.SoldQuantity"
																												placeholder="SoldQuantity"/>
																										</div>
																										<div class="col-md-3">
																											<button type="button" class="btn btn-primary" data-toggle="modal" (click)="openFwdSaleModal()"><b>Select forward sale</b></button>
																											<br/><br/>
																											<button type="button" class="btn btn-primary p-6-24">No forward sale</button>					
																										</div>
																									</div>
																									<div class="form-group">
																										<div class="col-md-2">
																											<label for="BuyerName">Buyer Name</label>
																											<input type="text" class="form-control"
																											name="Buyer Name" [(ngModel)]="inventory.BuyerName"
																											placeholder="Buyer Name"/>	
																										</div>
																										<div class="col-md-2">
																											<label for="Grade">Grade</label>
																											<input type="text" class="form-control"
																											name="Grade" [(ngModel)]="inventory.Grade"
																											placeholder="Grade"/>	
																										</div>
																										<div class="col-md-2">
																											<label for="Contract Number">Contract No.</label>
																											<input type="number" class="form-control"
																											name="Contract Number" [(ngModel)]="inventory.ContractNo"
																											placeholder="Contract Number"/>	
																										</div>
																										<div class="col-md-2">
																											<label for="Quantity">Quantity</label>
																											<input type="number" class="form-control"
																											name="Quantity" [(ngModel)]="inventory.Quantity"
																											placeholder="Quantity"/>	
																										</div>
																										<div class="col-md-2">
																											<label for="System Ref No.">System Ref</label>
																											<input type="text" class="form-control"
																											name="System Ref No." [(ngModel)]="inventory.SystemRefNo"
																											placeholder="System Ref No."/>	
																										</div>
																										<div class="col-md-2">
																											<button type="button" class="btn btn-primary m-t25" (click)="removeSelectedFwdSale()">Remove</button>
																										</div>
																									</div>
																									<div class="form-group">
																										<label for="TotalUnsoldQuantity" class="col-md-4 control-label">Total Unsold Quantity</label>
																										<div class="col-md-5">
																											<input type="text" class="form-control"
																												name="TotalUnsoldQuantity" [(ngModel)]="inventory.TotalUnsoldQuantity"
																												placeholder="TotalUnsoldQuantity"/>
																										</div>
																									</div>
																									<div class="form-group">
																										<label for="Total Price" class="col-md-4 control-label">Total Price</label>
																										<div class="col-md-5">
																											<input type="text" class="form-control"
																												name="TotalPrice" [(ngModel)]="inventory.TotalPrice"
																												placeholder="Enter the total price"/>
																										</div>
																									</div>
																									<div *ngFor="let chem of chemArray; let i = index">
																									<div class="form-group">
																										<div class="col-md-3">
																											<label for="FumigationChemical">Fumigation or Chemical</label>
																											<select class="form-control" name="selectedFumigationChemical{{i}}" 
																											id="FarmingRegion" title="Fumigation Chemical" [(ngModel)]="chem.chemical_name">
																											<option *ngFor="let chmcl of chemicalList" [ngValue]="chmcl.CHEM_NAME">{{chmcl.CHEM_NAME}}</option>
																											</select>
																										</div>
																										<div class="col-md-3">
																											<label for="ChemicalRatesApplied">Chemical Rates Applied</label>
																											<input type="text" class="form-control"
																											name="ChemicalRatesApplied{{i}}" [(ngModel)]="chem.chemical_value"
																											placeholder="ChemicalRatesApplied"/>	
																										</div>
																										
																											
																											<div class="col-md-2">
																											<label for="DateApplied">Chemical Date Applied</label>
																											<input type="text" class="form-control col-sm-1"
																											name="DateApplied{{i}}" [(ngModel)]="chem.date_applied"
																											placeholder="DateApplied" bsDatepicker #dp2="bsDatepicker"/>	
																											</div>
																											<div class="col-md-2 m-t25">
																												<button class="btn btn-primary" (click)="dp2.toggle()">
																													<i class="glyphicon glyphicon-calendar"></i>
																												</button>
																											</div>
																									
																										<div class="col-md-2 m-t25" *ngIf="i==0">
																											<button type="button" class="btn btn-primary  p-6-27" (click)="createNewChemFields()">Add Chemical</button>
																										</div>
																										<div class="col-sm-2 m-t25" *ngIf="i>0">
																											<button class="btn btn-primary" (click)="removeNewChemFields(chem, i)">Remove</button>
																										</div>
																									</div>
																									</div>
																									<div class="form-group">
																										<label for="Total Price" class="col-md-4 control-label">Delivery Date</label>
																										<div class="col-md-5">
																											<input type="text" class="form-control" bsDatepicker #dp3="bsDatepicker"
																												name="DeliveryDate" [(ngModel)]="inventory.DeliveryDate"
																												placeholder="Delivery Date"/>
																										</div>
																										<div class="col-sm-2">
																											<button class="btn btn-primary" (click)="dp3.toggle()">
																												<i class="glyphicon glyphicon-calendar"></i>
																											</button>
																										</div>
																									</div>
																									<div class="form-group">
																										<label for="Total Price" class="col-md-4 control-label">Freight Cost - Farm to Investor Location
																											<span class="field-wrapper required-field"></span>
																										</label>
																										<div class="col-md-5">
																											<input type="text" class="form-control"
																												name="FreightCostFIL" [(ngModel)]="inventory.FreightCostFIL"
																												placeholder="Freight Cost - Farm to Investor Location"/>
																										</div>
																									</div>
																									<div class="form-group">
																										<label for="Total Price" class="col-md-4 control-label">Carry & Fumigation Cost
																										</label>
																										<div class="col-md-5">
																											<input type="text" class="form-control"
																												name="carryFumigationCost" [(ngModel)]="inventory.CarryFumigationCost"
																												placeholder="Carry & Fumigation Cost"/>
																										</div>
																									</div>
																									<button type="submit"
																										class="btn btn-primary pull-right"																		
																										(click)="addInventory()">Submit</button>
																								</form>
																							</div>
																						</div>


																					</div>

																				</div>

																			</div>
																		</div>


																	</div>
																</div>


															</div>
															<!-- /.col-md-12 -->
														</div>
														</tab>
														</tabset>
														
													</div>
													<!-- <div class="modal-footer">
														<button type="button" class="btn btn-default">Back</button>
														
														<button type="button"
														class="btn btn-primary">Next</button>	
													</div> -->
												</div>
											</div>
										</div>
										<!-- Modal Add Inventory end-->
										<!-- Modal Add Inhouse start -->
										<div class="modal fade" id="modalInhouse" tabindex="-1"
										#modalExfarm='bs-modal' bsModal role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog" role="document">
												<div class="modal-content"
													style="height: 85vh; overflow: auto;">
													<div class="modal-header">
														<h4 class="modal-title" id="myModalLabel">
															Add Exfarm Warehouse
															<button type="button" class="close" (click)="closeExfarmModal()"
																aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</h4>
													</div>
													<div class="modal-body">
														<div class="alert alert-danger" *ngIf="submitStorage">
															<strong>{{submitStorage}}</strong>
														</div>
														<form #addInhouseForm="ngForm" class="form-horizontal">
															<div class="form-group">
																<label for="default" class="col-sm-4 control-label">Storage
																 	Name</label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':storageName.invalid && !storageName.pristine}">
																	<input type="text" #storageName='ngModel'
																		name="storageName"
																		[(ngModel)]="addStorage.StorageName" min="0" step="1"
																		value="0" class="form-control"
																		placeholder="Enter Storage Name" required />

																	<!-- <input required type="text" #unitprice='ngModel' name="unitprice"
                                                                                        [(ngModel)]="commodity.SCC_AREA_H" 
                                                                                        pattern="[0-9]*"
                                                                                           minlength="5"
                                                                                           maxlength="10" 
                                                                                        class="form-control" id="default" placeholder=""> -->
																	<!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
																	<!-- class="help-block"> -->
																	<!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->
																	<p *ngIf="storageName.invalid && !storageName.pristine"
																		class="help-block">Storage Name is required.</p>
																	<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
																	<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
																	<!-- </div> -->
																</div>
															</div>
															<div class="form-group">
																<label for="default" class="col-sm-4 control-label">Storage
																	Distance</label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':storageDistance.invalid && !storageDistance.pristine}">
																	<input type="text" #storageDistance='ngModel'
																		name="storageDistance"
																		[(ngModel)]="addStorage.StorageDistance" min="0"
																		step="1" value="0" class="form-control"
																		placeholder="Storage Distance" required />

																	<!-- <input required type="text" #unitprice='ngModel' name="unitprice"
                                                                                        [(ngModel)]="commodity.SCC_AREA_H" 
                                                                                        pattern="[0-9]*"
                                                                                           minlength="5"
                                                                                           maxlength="10" 
                                                                                        class="form-control" id="default" placeholder=""> -->
																	<!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
																	<!-- class="help-block"> -->
																	<!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->
																	<p
																		*ngIf="storageDistance.invalid && !storageDistance.pristine"
																		class="help-block">Storage Distance is required.</p>
																	<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
																	<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
																	<!-- </div> -->
																</div>
																<div class="col-sm-2">
																	<button class="btn btn-success" data-toggle="modal"
																		data-target="#modalGetDistance"
																		(click)="getDistance()">Get Distance</button>
																</div>
															</div>
															<div class="form-group">
																<label for="default" class="col-sm-4 control-label">Storage
																	Direction</label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':storageDirection.invalid && !storageDirection.pristine}">
																	<input type="text" #storageDirection='ngModel'
																		name="storageDirection"
																		[(ngModel)]="addStorage.StorageDirection" min="0"
																		step="1" value="0" class="form-control"
																		placeholder="Storage Direction" required />

																	<!-- <input required type="text" #unitprice='ngModel' name="unitprice"
                                                                                        [(ngModel)]="commodity.SCC_AREA_H" 
                                                                                        pattern="[0-9]*"
                                                                                           minlength="5"
                                                                                           maxlength="10" 
                                                                                        class="form-control" id="default" placeholder=""> -->
																	<!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
																	<!-- class="help-block"> -->
																	<!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->
																	<p
																		*ngIf="storageDirection.invalid && !storageDirection.pristine"
																		class="help-block">Storage Direction is required.</p>
																	<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
																	<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
																	<!-- </div> -->
																</div>
															</div>
															<!-- <div *ngIf="showMapPage">
                                                                        <app-google-map></app-google-map>
                                                                    </div> -->

															<!-- <h5 class="mt-30">
                                                                        <strong>Address Details</strong>
                                                                    </h5> -->

															<!-- <div class="row"> -->
															<!-- <div class="col-md-12"> -->
															<div class="form-group">
																<label for="addr" class="col-sm-4 control-label">Storage
																	Location<span class="field-wrapper required-field"></span>
																</label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':address.invalid && !address.pristine}">
																	<input type="text" class="form-control"
																		style="z-index: 9000"
																		[(ngModel)]="addStorage.U_A_STREET"
																		[options]='options' (setAddress)="getAddress($event)"
																		(city)='setCity($event)'
																		(state)='addStorage.U_A_STATE=$event'
																		(country)='addStorage.U_A_COUNTRY=$event'
																		(postal_code)='addStorage.U_A_POSTCODE=$event'
																		#address1="ngModel" name="address" #address="ngModel"
																		placeholder="Address" id="autocomplete"
																		ng2-google-place-autocomplete required />
																	<p *ngIf="address.invalid && !address.pristine"
																		class="help-block">Address is required.</p>
																</div>
															</div>

															<!-- </div> -->
															<!-- /.col-md-12 -->
															<!-- </div> -->
															<!-- <div class="row"> -->
															<!-- <div class="col-md-6"> -->
															<div class="form-group">
																<label for="name13" class="col-sm-4 control-label">City/Town/Suburb<span
																	class="field-wrapper required-field"></span></label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':city.invalid && !city.pristine}">
																	<input type="text" class="form-control"
																		[(ngModel)]="addStorage.U_A_CITY" name="city"
																		#city="ngModel" required placeholder="City" />
																	<p *ngIf="city.invalid && !city.pristine"
																		class="help-block">City is required.</p>
																</div>
															</div>
															<!-- </div> -->
															<!-- <div class="col-md-6"> -->
															<div class="form-group">
																<label for="name13" class="col-sm-4 control-label">State<span
																	class="field-wrapper required-field"></span></label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':state.invalid && !state.pristine}">
																	<input type="text" class="form-control"
																		[(ngModel)]="addStorage.U_A_STATE" name="state"
																		#state="ngModel" required placeholder="Enter State" />
																	<p *ngIf="state.invalid && !state.pristine"
																		class="help-block">State is required.</p>
																</div>
															</div>
															<!-- </div> -->

															<!-- </div> -->
															<!-- <div class="row"> -->
															<!-- <div class="col-md-6"> -->
															<div class="form-group">
																<label for="country" class="col-sm-4 control-label">Country<span
																	class="field-wrapper required-field"></span></label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':country.invalid && !country.pristine}">
																	<input class="form-control" type="text" readonly
																		[(ngModel)]="addStorage.U_A_COUNTRY"
																		placeholder="Australia" value="Australia"
																		#country='ngModel' name="country">
																	<p *ngIf="country.invalid && !country.pristine"
																		class="help-block">Country is required.</p>
																</div>
															</div>
															<!-- </div> -->
															<!-- /.col-md-6 -->

															<!-- <div class="col-md-6"> -->
															<div class="form-group">
																<label for="zip" class="col-sm-4 control-label">Postal
																	Code<span class="field-wrapper required-field"></span>
																</label>
																<!--  -->
																<div class="col-sm-5" [ngClass]="{'has-error':zipcode.invalid && !zipcode.pristine}">
																	<input type="text" class="form-control" name="zipcode"
																		[(ngModel)]="addStorage.U_A_POSTCODE"
																		placeholder="Postal Code" #zipcode="ngModel" required>
																	<p *ngIf="zipcode.invalid && !zipcode.pristine" class="help-block">Postcode is required</p>
																</div>
															</div>
															<div class="form-group">
																<label class="col-sm-4 control-label">Near Town<span
																	class="field-wrapper required-field"></span></label>
																<!--  -->
																<div class="col-sm-5" [ngClass]="{'has-error':neartown.invalid && !neartown.pristine}">
																	<input type="text" class="form-control" name="neartown"
																		[(ngModel)]="addStorage.NEAR_TOWN"
																		placeholder="Near Town" #neartown="ngModel" required>
																	<p *ngIf="neartown.invalid && !neartown.pristine" class="help-block">Near town is required</p>
																</div>
															</div>
															<div class="form-group">
																<label class="col-sm-4 control-label">GPS
																	Location<span class="field-wrapper required-field"></span>
																</label>
																
																<div class="col-sm-5" [ngClass]="{'has-error':gpslocation.invalid && !gpslocation.pristine}">
																	<input type="text" class="form-control"
																		name="gpslocation"
																		[(ngModel)]="addStorage.GPS_LOCATION"
																		placeholder="GPS Location" #gpslocation="ngModel"
																		required>
																	<p *ngIf="gpslocation.invalid && !gpslocation.pristine" class="help-block">GPS Location is required</p>
																</div>
																<div class="col-sm-2">
																	<button class="btn btn-success" 																		
																		(click)="setCurrentPosition('fromExfarm')">Get Location</button>
																</div>
															</div>
															<div #exfarmMapDiv id='exfarmMapGPS' class="map"
																*ngIf="showGPSLocMap"></div>
															<!-- </div> -->
															<!-- </div> -->
														</form>

													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
														(click)="closeExfarmModal()">Close</button>
														<button type="button"
															[disabled]="addInhouseForm.form.invalid"
															(click)="addStorageInfo(null)" class="btn btn-primary">Add</button>
													</div>
												</div>
											</div>
										</div>

										<!-- Modal Add Inhouse end -->
										<!-- Modal Add Onfarm start -->
										<div class="modal fade" id="modalOnfarm" tabindex="-1"
										#modalOnfarm='bs-modal' bsModal role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog" role="document">
												<div class="modal-content"
													style="height: 85vh; overflow: auto;">
													<div class="modal-header">
														<h4 class="modal-title" id="myModalLabel">
															Add Onfarm Warehouse
															<button type="button" class="close" (click)="closeOnfarmModal()"
																aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</h4>
													</div>
													<div class="modal-body">
														<div class="alert alert-danger" *ngIf="submitStorage">
															<strong>{{submitStorage}}</strong>
														</div>
														<form #addOnfarmForm="ngForm" class="form-horizontal">
															<div class="form-group">
																<label for="default" class="col-sm-4 control-label">Storage
																	Name</label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':storageName.invalid && !storageName.pristine}">
																	<input type="text" #storageName='ngModel'
																		name="storageName"
																		[(ngModel)]="addStorage.StorageName" min="0" step="1"
																		value="0" class="form-control"
																		placeholder="Enter Storage Name" required />


																	<!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
																	<!-- class="help-block"> -->
																	<!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->
																	<p *ngIf="storageName.invalid && !storageName.pristine"
																		class="help-block">Storage Name is required.</p>
																	<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
																	<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
																	<!-- </div> -->
																</div>
															</div>
															<div class="form-group">
																<label for="default" class="col-sm-4 control-label">Storage
																	Distance</label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':storageDistance.invalid && !storageDistance.pristine}">
																	<input type="text" #storageDistance='ngModel'
																		name="dst" [(ngModel)]="dst" min="0" step="1"
																		value="0" class="form-control"
																		placeholder="Storage Distance" required />


																	<!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
																	<!-- class="help-block"> -->
																	<!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->
																	<p
																		*ngIf="storageDistance.invalid && !storageDistance.pristine"
																		class="help-block">Storage Distance is required.</p>
																	<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
																	<!-- <div [hidden]="!unitcxvcdfsprice.hasError('pattern')">Field should be only numbers</div> -->
																	<!-- </div> -->
																</div>
																<div class="col-sm-2">
																	<button class="btn btn-success" data-toggle="modal"
																		data-target="#modalGetDistance"
																		(click)="getDistance()">Get Distance</button>
																</div>
															</div>
															<div class="form-group">
																<label for="default" class="col-sm-4 control-label">Storage
																	Direction</label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':storageDirection.invalid && !storageDirection.pristine}">
																	<input type="text" #storageDirection='ngModel'
																		name="storageDirection"
																		[(ngModel)]="addStorage.StorageDirection" min="0"
																		step="1" value="0" class="form-control"
																		placeholder="Storage Direction" required />


																	<!-- <div [hidden]="quantity.invalid || !quantity.pristine" -->
																	<!-- class="help-block"> -->
																	<!-- <div [hidden]="!unitprice.hasError('minlength')">Field should be 5 digits</div> -->
																	<p
																		*ngIf="storageDirection.invalid && !storageDirection.pristine"
																		class="help-block">Storage Direction is required.</p>
																	<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
																	<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
																	<!-- </div> -->
																</div>
															</div>
															<!-- <div *ngIf="showMapPage">
                                                                        <app-google-map></app-google-map>
                                                                    </div> -->

															<!-- <h5 class="mt-30">
                                                                        <strong>Address Details</strong>
                                                                    </h5> -->

															<!-- <div class="row"> -->
															<!-- <div class="col-md-12"> -->
															<div class="form-group">
																<label for="addr" class="col-sm-4 control-label">Storage
																	Location<span class="field-wrapper required-field"></span>
																</label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':address.invalid && !address.pristine}">
																	<input type="text" class="form-control"
																		style="z-index: 9000"
																		[(ngModel)]="addStorage.U_A_STREET"
																		[options]='options' (setAddress)="getAddress($event)"
																		(city)='setCity($event)'
																		(state)='addStorage.U_A_STATE=$event'
																		(country)='addStorage.U_A_COUNTRY=$event'
																		(postal_code)='addStorage.U_A_POSTCODE=$event'
																		#address1="ngModel" name="address" #address="ngModel"
																		placeholder="Address" id="autocomplete"
																		ng2-google-place-autocomplete required />
																	<p *ngIf="address.invalid && !address.pristine"
																		class="help-block">Address is required.</p>
																</div>
															</div>

															<!-- </div> -->
															<!-- /.col-md-12 -->
															<!-- </div> -->
															<!-- <div class="row"> -->
															<!-- <div class="col-md-6"> -->
															<div class="form-group">
																<label for="name13" class="col-sm-4 control-label">City/Town/Suburb<span
																	class="field-wrapper required-field"></span></label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':city.invalid && !city.pristine}">
																	<input type="text" class="form-control"
																		[(ngModel)]="addStorage.U_A_CITY" name="city"
																		#city="ngModel" required placeholder="City" />
																	<p *ngIf="city.invalid && !city.pristine"
																		class="help-block">City is required.</p>
																</div>
															</div>
															<!-- </div> -->
															<!-- <div class="col-md-6"> -->
															<div class="form-group">
																<label for="name13" class="col-sm-4 control-label">State<span
																	class="field-wrapper required-field"></span></label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':state.invalid && !state.pristine}">
																	<input type="text" class="form-control"
																		[(ngModel)]="addStorage.U_A_STATE" name="state"
																		#state="ngModel" required placeholder="Enter State" />
																	<p *ngIf="state.invalid && !state.pristine"
																		class="help-block">State is required.</p>
																</div>
															</div>
															<!-- </div> -->

															<!-- </div> -->
															<!-- <div class="row"> -->
															<!-- <div class="col-md-6"> -->
															<div class="form-group">
																<label for="country" class="col-sm-4 control-label">Country<span
																	class="field-wrapper required-field"></span></label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':country.invalid && !country.pristine}">
																	<input class="form-control" type="text" readonly
																		[(ngModel)]="addStorage.U_A_COUNTRY"
																		placeholder="Australia" value="Australia"
																		#country='ngModel' name="country">
																	<p *ngIf="country.invalid && !country.pristine"
																		class="help-block">Country is required.</p>
																</div>
															</div>
															<!-- </div> -->
															<!-- /.col-md-6 -->

															<!-- <div class="col-md-6"> -->
															<div class="form-group">
																<label for="zip" class="col-sm-4 control-label">Postal
																	Code<span class="field-wrapper required-field"></span>
																</label>
																<!-- [ngClass]="{'has-error':zipcode.invalid && !zipcode.pristine}" -->
																<div class="col-sm-5">
																	<input type="text" class="form-control" name="zipcode"
																		[(ngModel)]="addStorage.U_A_POSTCODE"
																		placeholder="Postal Code" #zipcode="ngModel" required>
																	<!-- <p *ngIf="zipcode.invalid && !zipcode.pristine" class="help-block">Postcode is required</p> -->
																</div>
															</div>
															<div class="form-group">
																<label class="col-sm-4 control-label">Near Town<span
																	class="field-wrapper required-field"></span></label>
																
																<div class="col-sm-5" [ngClass]="{'has-error':neartown.invalid && !neartown.pristine}">
																	<input type="text" class="form-control" name="neartown"
																		[(ngModel)]="addStorage.NEAR_TOWN"
																		placeholder="Near Town" #neartown="ngModel" required>
																	<p *ngIf="neartown.invalid && !neartown.pristine" class="help-block">Near town is required</p>
																</div>
															</div>
															<div class="form-group">
																<label class="col-sm-4 control-label">GPS
																	Location<span class="field-wrapper required-field"></span>
																</label>
																
																<div class="col-sm-5" [ngClass]="{'has-error':gpslocation.invalid && !gpslocation.pristine}">
																	<input type="text" class="form-control"
																		#gpslocation="ngModel" name="gpslocation"
																		[(ngModel)]="addStorage.GPS_LOCATION"
																		placeholder="GPS Location" required>
																	<p *ngIf="gpslocation.invalid && !gpslocation.pristine" class="help-block">GPS Location is required</p>
																</div>
																<div class="col-sm-2">
																	<button class="btn btn-success" 																		
																		(click)="setCurrentPosition('fromOnfarm')">Get Location</button>
																</div>
															</div>
															<div #onfarmMapDiv id='onfarmMapGPS' class="map"
																*ngIf="showGPSLocMap"></div>
															<!-- </div> -->
															<!-- </div> -->
														</form>

													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
														(click)="closeOnfarmModal()">Close</button>
														<button type="button"
															[disabled]="addOnfarmForm.form.invalid"
															(click)="addStorageInfo(null)" class="btn btn-primary">Add</button>
													</div>
												</div>
											</div>
										</div>
										<!-- Modal Add Onfarm end -->

										<!--Model For Forward Sale History-->
										<div class="modal fade" id="modalForwardSaleHistory" tabindex="-1"
											#ForwardSaleHistory='bs-modal' [config]="{backdrop: false}" bsModal
											role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog modal-lg" role="ForwardSaleHistory">
												<div class="modal-content" style="height: 85vh; overflow: auto;">
												  <div class="modal-header">
													<h4 class="modal-title" id="myModalLabel">
														Forward Sale History
														<button type="button" class="close"
															 aria-label="Close" (click)="closeFwdSaleModal()">
															<span aria-hidden="true">&times;</span>
														</button>
													</h4>
												  </div>
												  <div class="modal-body">
													<!--first row starts here-->
													<div class="row">
														<div class="col-md-12">
                                                          Select the forward sale that you want to associate the inventory with  
														</div>
													</div>	
													<!--first row starts here-->

													<!--second row starts here-->
													<div class="row">
														<div class="col-md-12">
															<ag-grid-angular id="grid7" #agGrid3 style="height:300px;"
															class="ag-blue"  [columnDefs]="columnDefs3" [enableFilter]="true" [enableSorting]="true" [enableColResize]="true"
															(gridReady) = "onGridReadyForwardSell($event)" [groupUseEntireRow]="true" [getRowNodeId]="getRowNodeId" (rowSelected)="onSelectionForwardSell($event)" [rowData]="historyByBrokerIDRowData" [groupUseEntireRow]="true"> </ag-grid-angular>
														</div>
													</div>
													<!--second row starts here-->
												  </div>  
												  <div class="modal-footer">
													<!-- <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalNewForwardSaleHistory">New Forward Sale</button> -->
													<button type="button" class="btn btn-primary" (click)="closeFwdSaleModal()">Next</button>
												   </div>
											    </div>  
											</div>
										</div>

										<!--Model For New Forward Sale History-->
										<div class="modal fade" id="modalNewForwardSaleHistory" tabindex="-1"
											#ForwardSaleHistory='bs-modal' [config]="{backdrop: false}" bsModal
											role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog modal-lg" role="ForwardSaleHistory">
												<div class="modal-content" style="height: 85vh; overflow: auto;">
												  <div class="modal-header">
													<h4 class="modal-title" id="myModalLabel">
														Forward Sale History
														<button type="button" class="close"
															 aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</h4>
												  </div>
												  <div class="modal-body">
													<!--first row starts here-->
													<div class="row">
														<div class="col-md-12">
														  <span class="alert-colorRed">
															Do you want to select one of these forward sales to your inventory record?		  
														  </span>	
                                                        </div>
													</div>	
													<!--first row starts here-->

													<!--second row starts here-->
													<div class="row">
														<div class="col-md-12">
															<ag-grid-angular id="grid8" #agGrid4 style="height:300px;"
															class="ag-blue"  [enableFilter]="true" [enableSorting]="true" [enableColResize]="true"
															 [groupUseEntireRow]="true"> </ag-grid-angular>
														</div>
													</div>
													<!--second row starts here-->
												  </div>  
												  <div class="modal-footer">
													<button type="button" class="btn btn-default">Yes</button>
													<button type="button" class="btn btn-primary">No</button>
												  </div>
											    </div>  
											</div>
										</div>
										
										<!-- Modal Add Storage start -->
										<div class="modal fade" id="modalStorage" tabindex="-1"
											#AddStorage='bs-modal' [config]="{backdrop: false}" bsModal
											role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog modal-lg" role="document">
												<div class="modal-content"
													style="height: 85vh; overflow: auto;">
													<div class="modal-header">
														<h4 class="modal-title" id="myModalLabel">
															Add Storage
															<button type="button" class="close"
																(click)="closeAddStorageModal()" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</h4>
													</div>
													<div class="modal-body">
														<div class="alert alert-danger" *ngIf="submitStorage">
															<strong>{{submitStorage}}</strong>
														</div>
														<form #addStorageForm="ngForm" class="form-horizontal">
															<div class="form-group">
																<label for="default" class="col-sm-4 control-label">Storage
																	Name<span class="field-wrapper required-field"></span>
																</label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':storageName.invalid && !storageName.pristine}">
																	<input type="text" #storageName='ngModel'
																		name="storageName"
																		[(ngModel)]="addStorage.StorageName" min="0" step="1"
																		value="0" class="form-control"
																		placeholder="Enter Storage Name" required />
																	
																	<p *ngIf="storageName.invalid && !storageName.pristine"
																		class="help-block">Storage Name is required.</p>
																	<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
																	<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
																	<!-- </div> -->
																</div>
															</div>
															<div class="form-group">
																<label for="default" class="col-sm-4 control-label">Farming Region
																</label>
																<div class="col-sm-5">
																	
																	<select  class="form-control" name="selectedFarmingRegion" [(ngModel)]="addStorage.FarmingRegion" id="FarmingRegion" title="Select Farm">
																		<option *ngFor="let farm of farmDetails" [ngValue]="farm.FarmingRegion_Name">{{farm.FarmingRegion_Name}}</option>
																		
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label for="default" class="col-sm-4 control-label">Storage
																	Name Capacity(tonnes)<span class="field-wrapper required-field"></span>
																</label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':storageName.invalid && !storageName.pristine}">
																	<input type="text" #storageName='ngModel'
																		name="storageName"
																		[(ngModel)]="addStorage.StorageNameCapacity" min="0" step="1"
																		value="0" class="form-control"
																		placeholder="Total Capacity of the Storage" required />
																	
																	<p *ngIf="storageName.invalid && !storageName.pristine"
																		class="help-block">Storage Name is required.</p>
																	<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
																	<!-- <div [hidden]="!unitprice.hasError('pattern')">Field should be only numbers</div> -->
																	<!-- </div> -->
																</div>
															</div>
															<div class="form-group">
																<label for="default" class="col-sm-4 control-label">Storage
																	Distance from nearest  City/Town/Suburb (km)
																    <span class="field-wrapper required-field"></span>
																</label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':storageDistance.invalid && !storageDistance.pristine}">
																	<input type="text" #storageDistance='ngModel'
																		id="strgDistnc" name="dst"
																		[(ngModel)]="addStorage.StorageDistance" min="0"
																		step="1" value="0" class="form-control"
																		placeholder="Storage Distance" required />
																	
																	<p
																		*ngIf="storageDistance.invalid && !storageDistance.pristine"
																		class="help-block">Storage Distance is required.</p>
																	<!-- <div [hidden]="!quantity.hasError('required')">Field is required</div> -->
																	<!-- <div [hidden]="!unitcxvcdfsprice.hasError('pattern')">Field should be only numbers</div> -->
																	<!-- </div> -->
																</div>
																<div class="col-sm-2">
																	<button class="btn btn-success" data-toggle="modal"
																		data-target="#modalGetDistance"
																		(click)="getDistance()">Get Distance</button>
																</div>
															</div>
															<div class="form-group">
																<label for="default" class="col-sm-4 control-label">Storage
																	Direction from nearest  City/Town/Suburb
																    <span class="field-wrapper required-field"></span>
																</label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':storageDirection.invalid && !storageDirection.pristine}">
																	<input type="text" #storageDirection='ngModel'
																		name="storageDirection"
																		[(ngModel)]="addStorage.StorageDirection" min="0"
																		step="1" value="0" class="form-control"
																		placeholder="Storage Direction" required />
																	
																	<p
																		*ngIf="storageDirection.invalid && !storageDirection.pristine"
																		class="help-block">Storage Direction is required.</p>
																	
																</div>
															</div>
															
															<!-- <h5 class="mt-30">
                                                                <strong>Address Details</strong>
                                                            </h5> -->

															<!-- <div class="row"> -->
															<!-- <div class="col-md-12"> -->
															<div class="form-group">
																<label for="addr" class="col-sm-4 control-label">Storage
																	Location<span class="field-wrapper required-field"></span>
																</label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':address.invalid && !address.pristine}">
																	<input type="text" class="form-control"
																		style="z-index: 9000"
																		[(ngModel)]="addStorage.U_A_STREET"
																		[options]='options' (setAddress)="getAddress($event)"
																		(city)='setCity($event)'
																		(state)='addStorage.U_A_STATE=$event'
																		(country)='addStorage.U_A_COUNTRY=$event'
																		(postal_code)='addStorage.U_A_POSTCODE=$event'
																		#address1="ngModel" name="address" #address="ngModel"
																		placeholder="Address" id="autocomplete"
																		ng2-google-place-autocomplete required />
																	<p *ngIf="address.invalid && !address.pristine"
																		class="help-block">Address is required.</p>
																</div>
															</div>

															<!-- </div> -->
															<!-- /.col-md-12 -->
															<!-- </div> -->
															<!-- <div class="row"> -->
															<!-- <div class="col-md-6"> -->
															<div class="form-group">
																<label for="name13" class="col-sm-4 control-label">City/Town/Suburb<span
																	class="field-wrapper required-field"></span></label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':city.invalid && !city.pristine}">
																	<input type="text" class="form-control"
																		[(ngModel)]="addStorage.U_A_CITY" name="city"
																		#city="ngModel" required placeholder="City" />
																	<p *ngIf="city.invalid && !city.pristine"
																		class="help-block">City is required.</p>
																</div>
															</div>
															<!-- </div> -->
															<!-- <div class="col-md-6"> -->
															<div class="form-group">
																<label for="name13" class="col-sm-4 control-label">State<span
																	class="field-wrapper required-field"></span></label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':state.invalid && !state.pristine}">
																	<input type="text" class="form-control"
																		[(ngModel)]="addStorage.U_A_STATE" name="state"
																		#state="ngModel" required placeholder="Enter State" />
																	<p *ngIf="state.invalid && !state.pristine"
																		class="help-block">State is required.</p>
																</div>
															</div>
															<!-- </div> -->

															<!-- </div> -->
															<!-- <div class="row"> -->
															<!-- <div class="col-md-6"> -->
															<div class="form-group">
																<label for="country" class="col-sm-4 control-label">Country<span
																	class="field-wrapper required-field"></span></label>
																<div class="col-sm-5"
																	[ngClass]="{'has-error':country.invalid && !country.pristine}">
																	<input class="form-control" type="text" readonly
																		[(ngModel)]="addStorage.U_A_COUNTRY"
																		placeholder="Australia" value="Australia"
																		#country='ngModel' name="country">
																	<p *ngIf="country.invalid && !country.pristine"
																		class="help-block">Country is required.</p>
																</div>
															</div>
															<!-- </div> -->
															<!-- /.col-md-6 -->

															<!-- <div class="col-md-6"> -->
															<div class="form-group">
																<label for="zip" class="col-sm-4 control-label">Post/Zip
																	Code<span class="field-wrapper required-field"></span>
																</label>
																
																<div class="col-sm-5" [ngClass]="{'has-error':zipcode.invalid && !zipcode.pristine}">
																	<input type="text" class="form-control" name="zipcode"
																		[(ngModel)]="addStorage.U_A_POSTCODE"
																		placeholder="Postal Code" #zipcode="ngModel" required>
																	<p *ngIf="zipcode.invalid && !zipcode.pristine" class="help-block">Postcode is required</p>
																</div>
															</div>
															<div class="form-group">
																<label class="col-sm-4 control-label">Near Town<span
																	class="field-wrapper required-field"></span></label>
																
																<div class="col-sm-5" [ngClass]="{'has-error':neartown.invalid && !neartown.pristine}">
																	<input type="text" class="form-control" name="neartown"
																		[(ngModel)]="addStorage.NEAR_TOWN"
																		placeholder="Near Town" #neartown="ngModel" required>
																	<p *ngIf="neartown.invalid && !neartown.pristine" class="help-block">Near town is required</p>
																</div>
															</div>
															<div class="form-group">
																<label class="col-sm-4 control-label" for="default">Truck Access
																</label>
																<div class="col-sm-5">
																	
																	<select  class="form-control" name="selectedTruckAccess" [(ngModel)]="addStorage.TruckAccess" id="TruckAccess" title="Select Truck Access">
																		<option *ngFor="let truck of truckDetails" [ngValue]="truck.TRUCK_TYPE">{{truck.TRUCK_TYPE}}</option>
																		
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label class="col-sm-4 control-label">GPS
																	Location<span class="field-wrapper required-field"></span>
																</label>
																

																<div class="col-sm-5" [ngClass]="{'has-error':gpslocation.invalid && !gpslocation.pristine}">
																	<input type="text" class="form-control" name="gpsloc"
																		#gpslocation="ngModel" id="gpsloctext"
																		[(ngModel)]="addStorage.GPS_LOCATION" required />																	
																	<p *ngIf="gpslocation.invalid && !gpslocation.pristine"
																		class="help-block">GPS Location is required</p>
																</div>
																<div class="col-sm-2">																	
																	<button class="btn btn-success"
																		(click)="setCurrentPosition('fromAddStorage')">GPS Location</button>
																</div>
															</div>
															<div #mapDiv id='addstorageMapGPS' class="map"
																*ngIf="showGPSLocMap"></div>
															<!-- </div> -->
															<!-- </div> -->
														</form>

													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal" (click)="closeAddStorageModal()">Close</button>
														<button type="button"
															[disabled]="addStorageForm.form.invalid"
															(click)="addStorageInfo(null)" class="btn btn-primary">Add Storage</button>
													</div>

												</div>
											</div>
										</div>
										<!-- Modal Add Storage end -->
										<!-- Modal Get Distance start -->
										<div class="modal fade" id="modalGetDistance" tabindex="-1"
											role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog" role="document">
												<div class="modal-content"
													style="height: 55vh; overflow: auto;">
													<div class="modal-header">
														<h4 class="modal-title" id="myModalLabel">
															Get Distance
															<button type="button" class="close" data-dismiss="modal"
																aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</h4>
													</div>
													<div class="modal-body">
														<form #getDistanceForm="ngForm" class="form-horizontal">
														
															<div class="container-fluid">
																<!-- <div class="row"> -->
																<label class="col-sm-4 control-label">Source</label>
																<div class="form-group col-sm-7">

																	<input [(ngModel)]="srcsrch" id="source-input"
																		#sourceSearch class="form-control col-sm-4"
																		type="text" name='ss' placeholder="Enter source">
																</div>
																<label class="col-sm-4 control-label">Destination</label>
																<div class="form-group col-sm-7">

																	<input [(ngModel)]="destsrch" id="destination-input"
																		#destiSearch class="form-control col-sm-4" name='dst'
																		type="text" placeholder="Enter destination">
																	<!-- <input  [(ngModel)]="destsrch" id="destination-input" #destiSearch class="form-control" name='dst' type="text" placeholder="Enter destination"> -->
																	<!-- </div> -->
																	<!-- <div class="form-group col-sm-7"> -->
																	<button class="form-control m-t" type="button"
																		(click)="setCurrentPosition('')">Calculate
																		Distance</button>
																	<!-- </div> -->
																</div>
																<!-- <div class="row"> -->
																<div class="col-md-9 form-group">
																	<label>Result:</label>
																	<div id="output"></div>
																</div>
																<!-- </div> -->
																<!-- <div id="distancemap"></div> -->
															</div>
															<!-- </tab> -->
															<!-- </tabset> -->
														</form>
													</div>													
												</div>
											</div>
										</div>
										<!-- Modal Get Distance end -->
										<!-- Modal GPS Location start -->
										<div class="modal fade" id="modalGPSLocation" tabindex="-1"
											role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog" role="document">
												<div class="modal-content"
													style="height: 55vh; overflow: auto;">
													<div class="modal-header">
														<h4 class="modal-title" id="myModalLabel">
															GPS Location
															<button type="button" class="close" data-dismiss="modal"
																aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</h4>
													</div>
													<!-- <div class="modal-body">
                                                                <div #mapDiv id='map' class="map">
                                                                </div>                                                            
                                                        </div> -->
													<!-- <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            <button type="button" [disabled]="addOnfarmForm.form.invalid" class="btn btn-primary">Add</button>
                                                        </div> -->
												</div>
											</div>
										</div>
										<!-- Modal GPS Location end -->
									</div>
								</div>
							</div>
							<div class="panel-body p-t0">
								<!-- <div id="prod-chart" [style.width.%]="100" [style.height.px]="500"></div> -->
								<app-storage-inventory-grid
									(pushInventory)="updateSummary($event)"></app-storage-inventory-grid>
							</div>

						</div>
						<!-- /.panel -->
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</section>

	</div>

</div>





<div class="modal fade bd-example-modal-lg" id="noBDModaSummary"
	tabindex="-1" role="dialog" bsModal #noBDModaSummary="bs-modal"
	[config]="{backdrop: false}">
	<div class="modal-dialog  modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal3Label">
					Summary
					<button type="button" class="close"
						(click)="noBDModaSummary.hide()" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-info" *ngIf="summaryArr.length==0">
					 Select at-least one Inventory to view its summary.
				</div>
				<table class="table table-hover table-bordered"
					*ngFor="let summary of summaryArr"
					style="width: 45%; float: left; margin-left: 10px; margin-top: 40px; margin-bottom: 10px;">

					<tbody>
						<tr>
							<th>Field From</th>
							<td>{{summary.data.field_from}}</td>
						</tr>
						<tr>
							<th>Storage Name</th>
							<td>{{summary.data.storage_name}}</td>
						</tr>
						<tr>
							<th>Commodity Name</th>
							<td>{{summary.data.comm_name}}</td>

						</tr>

						<tr>
							<th>Grade</th>
							<td>{{summary.data.grade_name}}</td>
						</tr>
						<tr>
							<th>Sold Quantity</th>
							<td>{{summary.data.soldInventory}}</td>
						</tr>
						<tr>
							<th>Unsold Quantity</th>
							<td>{{summary.data.unsoldQuantity}}</td>
						</tr>
						<!-- <tr>
							<th>Qualities</th>
							<td tooltip={{summary.data.qualities}} placement="top">{{summary.data.qualities.length>20?summary.data.qualities.substring(0,20):summary.data.qualities}}</td>
						</tr>
						<tr>
							<th>Chemicals</th>
							<td tooltip={{summary.data.chemicals}} placement="top">{{summary.data.chemicals.length>20?summary.data.chemicals.substring(0,20):summary.data.chemicals}}</td>
						</tr>
 -->
					</tbody>
				</table>

			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>

<div class="modal fade" id="modal3" tabindex="-1" role="dialog" bsModal
	#commMovmntRecordModel="bs-modal" [config]="{backdrop: false}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal3Label">
					Commodity Movement Record
					<button type="button" class="close" (click)="closeCommMovementRecord()"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</h4>
			</div>
			<div class="modal-body">

				<div class="row m-t25" >
					<div class="col-md-12">
					  <ag-grid-angular id="grid5" #agGrid1 style="height:300px;" class="ag-blue" [gridOptions]="gridOptions" [columnDefs]="commMvmtReccolumnDef"
						[rowData]="commMovRecordRowData"  [rowSelection]="rowSelection" [enableMenu]="true" [enableFilter]="true" [enableSorting]="true"> </ag-grid-angular>
					</div>
				  </div>
				

			</div>
			<div class="modal-footer">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-gray btn-wide btn-rounded"
						(click)="closeCommMovementRecord()">
						<i class="fa fa-times"></i>Close
					</button>
				</div>
				<!-- /.btn-group -->
			</div>
		</div>
	</div>
</div>