.m-t{
    margin-top: 50px;
}

.m-t25{
    margin-top: 25px;
}

.m-b27{
    margin-bottom: 27px;
}

.m-l{
    margin-left: 10px;
}

.m-r{
    margin-right: 15px;
}

.t-al{
    text-align: left;
}
 
.map {
    width: 100%;
    height: 50vh;
}

.panel-body .p-l0{
    padding-left:0;
}

.panel-body .p-0 {
    padding:0;
}

.p-t0{
    padding-top: 0;
}

.p-6-24{
    padding:6px 24px;
}

.p-6-27{
    padding: 6px 27px;
}

.nav-tabs > li.active > a {
    background-color: #ddd;
}

.alert-colorRed {
    color:red;
}
// .ag-bl-full-height{
//   overflow: hidden;
// }

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 100000!important;
    left: 50%;
    bottom: 50px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.truncate {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 50px; opacity: 100;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 100;}
}

@-webkit-keyframes fadeout {
    from {bottom: 50px; opacity: 100;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 50px; opacity: 100;}
    to {bottom: 0; opacity: 0;}
}