<div class="alert alert-success" *ngIf="saveMessage">
  <strong>{{saveMessage}}</strong>
</div>
   <ag-grid-angular id="grid1" #agGrid style="height:300px;width:99%;"
   [enableFilter]="true" [enableSorting]="true" [enableColResize]="true"
     class="ag-blue" [gridOptions]="gridOptions" [defaultColDef]="defaultColDef" [context]="context"
     [columnDefs]="columnDefs" [getRowNodeId]="getRowNodeId" (gridReady)="onGridReady($event)"
     [rowData]="rowData" [frameworkComponents]="frameworkComponents" [groupUseEntireRow]="true"> </ag-grid-angular>
   