.font{
    font-size: 10px;
     // height: 2em;
 //    width: 2em;
 }
 
 .r-m{
     margin-right: 20px;
 }
 
 .m-l{
     margin-left: 15px;
 }
 
 .m-l45{
     margin-left: 45px;
 }
 
 .m-b{
     margin-bottom: 15px;
 }
 
 .m-b{
     margin-left: 25px;
 }
 
 .p-l0{
     padding-left:0;
 }
 
 .t-al{
     text-align: left;
 }
 
 .required-field::before { 		
     content: "*";		
     float: left;		
    color: red;		
     }	
     .m-t25{
      margin-top: 25px;
  }
  .map {
      width: 100%;
      height: 50vh;
    }