<div class="alert alert-success" *ngIf="saveMessage">
	<strong>{{saveMessage}}</strong>
</div>
<ag-grid-angular id="grid4" #agGrid style=" height: 220px;width: 99%;"
	class="ag-blue" [gridOptions]="gridOptions"
	 [defaultColDef]="defaultColDef"
	[columnDefs]="columnDefs" [getRowNodeId]="getRowNodeId"
	(gridReady)="onGridReady($event)"
	[enableColResize]="true"	
	(selectionChanged)="onSelectionChanged($event)"
	[enableFilter]="true" [enableSorting]="true" [enableColResize]="true"
	[rowData]="rowData" [context]="context"
	[frameworkComponents]="frameworkComponents" 
	(cellClicked)="onCellClicked($event)"
	[nameDetailsFrameworkComponents]="nameDetailsFrameworkComponents"
	[groupUseEntireRow]="true">
</ag-grid-angular>

<!-- Modal -->
<div class="modal fade" id="contactAndFavEditModel" bsModal
#contactAndFavEditModel="bs-modal" tabindex="-1"
role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog  modal-lg" role="document">
	<div class="modal-content"
		style="height: 100vh; overflow: auto;">
		<div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">
				Edit Contact And Favourite
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close" (click)="closeModal()">
					<span aria-hidden="true">&times;</span>
				</button>
			</h4>
		</div>
		<div class="modal-body">

			<div class="panel-body">
				<div class="alert alert-success" *ngIf="submitContactAndFav">
					<strong>{{submitContactAndFavEditModel}}</strong>
				</div>
				<form #addContactForm="ngForm" class="form-horizontal">
					<tabset [justified]="true"> 
						<tab [active]="tabs[0].active" [disabled]="tabs[0].disabled"
						heading="Registration Details" >
					<div class="col-md-12">
						<div class="panel">
							<div class="panel-heading text-center">
								<div class="panel-title">
									<!-- <h2 style="padding-right: 135px;">User Registration</h2> -->
								</div>
							</div>
							<div class="panel-body">

								<div class="content clearfix">
									<div class="panel-body">

										<div class="content clearfix">
											<div class="row step1">
												<div class="col-md-12 ">
													<div class="panel1">
														<div class="panel-body1">
															
															
															<form #userform="ngForm">

																<div class="row">
																			<div class="col-md-5">
																				<div class="form-group"
																					[ngClass]="{ 'has-error' : fname.invalid  && !fname.pristine }">
																					<label for="USERname13">First Name
																					<span class="required-field"></span>
																					</label> <input type="text" class="form-control"
																						id="USERname13" #fname="ngModel"
																						name="Fname" [(ngModel)]="USER.first_name"
																						placeholder="Enter Firstname" required>
																					<p
																						*ngIf="fname.invalid && !fname.pristine"
																						class="help-block">First Name is
																						required.</p>

																				</div>
																			</div>
																			<div class="col-md-5 m-l45">
																				<div class="form-group">
																						<label for="USERname13">Street/Property
																								Address
																								<!-- <span class="required-field"></span> -->
																						</label>																	
																					<div class="col-sm-2">
																						<div class="radio " >
																								<label ><input type="radio"
																								name="emailnotifyname" 
																								[(ngModel)]="sameAdd" [value]="true"
																								(change)="radioSameAddChange($event)">
																								</label>
																						</div>
																					</div>
																					<span>
																					<label for="default" style="margin-top: 5px;"
																						class=" t-al">Same as Registered Entity
																					</label></span>
																				</div>
																				</div>																

																</div>
																<div class="row">
																		<div class="col-md-5">
																	<div class="form-group"
																		[ngClass]="{ 'has-error' : lname.invalid  && !lname.pristine }">
																		<label for="USERname13">Last Name
																		<span class="required-field"></span>
																		</label> <input type="text" class="form-control"
																			id="USERname13" #lname="ngModel"
																			name="lname" [(ngModel)]="USER.last_name"
																			placeholder="Enter LastName" required>
																		<p
																			*ngIf="lname.invalid && !lname.pristine"
																			class="help-block">Last Name is
																			required.</p>

																	</div>
																	</div>

																		<!-- -->
																			<div class="col-md-5 m-l45">
																					<div class="form-group">
																						<label for="USERname13">Street/Property
																								Address
																								<!-- <span class="required-field"></span> -->
																							</label>																																																				
																						<div class="col-sm-2">
																							<div class="radio">
																								<label > <input type="radio"
																									name="emailnotifyname"
																									(change)="radioDiffAddChange($event)"
																									[(ngModel)]="sameAdd" [value]="false">
																								</label>
																							</div>
																						</div>
																						<span>
																						<label for="default" style="margin-top: 5px;"
																							class=" t-al">Different Address
																						</label></span>
																					</div>
																					</div>																							</div>
																<div class="row">
																	<div class="col-md-5">
																		<div class="form-group"
																		[ngClass]="{ 'has-error' : roletitle.invalid  && !roletitle.pristine }">
																		<label for="USERname13">Role Title
																		<span class="required-field"></span>
																		</label> <input type="text" class="form-control"
																			id="USERname13" #roletitle="ngModel"
																			name="roletitle" [(ngModel)]="USER.role_title"
																			placeholder="Enter LastName" required>
																		<p *ngIf="roletitle.invalid && !roletitle.pristine"
																			class="help-block">Role Title is
																			required.</p>
																		</div>
																	</div>

																	
																			<div class="col-md-5 m-l45">
																					<div class="form-group"
																						[ngClass]="{'has-error':address.invalid && !address.pristine}">
																						<label for="addr">
																							Address<span class="required-field"></span>
																						</label><input type="text" class="form-control"
																							[(ngModel)]="USER.address"
																							[options]='options'
																							(setAddress)="getAddress($event)"
																							(city)='setCity($event)'
																							(state)='USER.U_A_STATE=$event'
																							(country)='USER.U_A_COUNTRY=$event'
																							(postal_code)='USER.U_A_POSTCODE=$event'
																							#address1="ngModel" name="address"
																							#address="ngModel" id="autocomplete"
																							ng2-google-place-autocomplete required />
																						<p
																							*ngIf="address.invalid && !address.pristine"
																							class="help-block">Address is
																							required.</p>
																					</div>
																				</div>
																	
																</div>
																<div class="row">
																		<div class="col-md-5">
																				<div class="form-group"
																					[ngClass]="{ 'has-error' : accountmanager.invalid  && !accountmanager.pristine }">
																					<label for="USERname13">Account
																						Manager<span class="required-field"></span>
																					</label> <input type="text" class="form-control"
																						id="USERname13" #accountmanager="ngModel"
																						name="AccountManger" [(ngModel)]="USER.account_mgr"
																						placeholder="Enter Account Manager" required>
																					<p
																						*ngIf="accountmanager.invalid && !accountmanager.pristine"
																						class="help-block">Account Manager is required
																				</div>
																			</div> 	
																	<!-- -->
																			<div class="col-md-5 m-l45">
																					<div class="form-group"
																						[ngClass]="{'has-error':city.invalid && !city.pristine}">
																						<label for="name13">City/Town/Suburb<span
																							class="required-field"></span></label><input
																							type="text" class="form-control"
																							[(ngModel)]="USER.city" name="city"
																							#city="ngModel" required
																							placeholder="Enter City" />
																						<p *ngIf="city.invalid && !city.pristine"
																							class="help-block">City is required.</p>
																					</div>
																				</div>
																																													
																</div>
																<div class="row">
																		<div class="col-md-5">
																				<div class="form-group"
																					[ngClass]="{ 'has-error' : ngr.invalid  && !ngr.pristine }">
																					<label for="USERname13">NGR
																						<span class="required-field"></span>
																					</label> <input type="text" class="form-control"
																						id="USERname13" #ngr="ngModel"
																						name="NGR" [(ngModel)]="USER.ngr"
																						placeholder="Enter Account Manager" required>
																					<p
																						*ngIf="ngr.invalid && !ngr.pristine"
																						class="help-block">NGR is required
																				</div>
																			</div> 	
																		<!--  -->
																			<div class="col-md-5 m-l45">
																					<div class="form-group"
																						[ngClass]="{'has-error':state.invalid && !state.pristine}">
																						<label for="name13">State<span
																							class="required-field"></span>
																						</label> <input type="text" class="form-control"
																							[(ngModel)]="USER.state"
																							name="state" #state="ngModel" required
																							placeholder="Enter State" />
																						<p
																							*ngIf="state.invalid && !state.pristine"
																							class="help-block">State is
																							required.</p>
																					</div>
																				</div>																																

																</div>
																<div class="row">
																		
																			<p class='has-error'>Telephone or Mobile is Required</p>
																		<div class="col-md-5">
																				<div class="form-group" [ngClass]="{'has-error':mnumt1.invalid && !mnumt1.pristine}" >
																					<label for="contact132">office phone
																						<span *ngIf="mnumt1.dirty"
																						class="required-field"></span>
																					</label>
																					<div style="padding-left: 0px;">
																						<input type="text" class="form-control"																																		
																							placeholder="55-5555-5555" maxlength=12
																							(keypress)="keyPress($event)"
																							[(ngModel)]="USER.office_ph"
																							name="mnumt1" 
																							#mnumt1="ngModel"																																		
																							aria-label="Search for..."> 
																							<p *ngIf="telephoneRequired"																																
																							class="help-block">Office phone is
																							required.</p>
																					</div>																																
																				</div>
																			</div>
																		
																<div class="col-md-5 m-l45">
																		<div class="form-group">
																			<label for="country">Country<span
																				class="required-field"></span></label> <input
																				class="form-control" type="text" readonly
																				[(ngModel)]="USER.country"
																				placeholder="Australia" value="Australia"
																				name="country">
																		</div>
																	</div>
																	</div>
																<div class="row">
																		<div class="col-md-5">																																
																							<div class="form-group" [ngClass]="{'has-error':officefax.invalid && !officefax.pristine}" >
																								<label for="contact132">office fax
																									<span *ngIf="officefax.dirty"
																									class="required-field"></span>
																								</label>
																								<div style="padding-left: 0px;">
																									<input type="text" class="form-control"																																		
																										placeholder="55-5555-5555" maxlength=12
																										(keypress)="keyPress($event)"
																										[(ngModel)]="USER.office_fax"
																										name="officefax" 
																										#officefax="ngModel"																																		
																										aria-label="Search for..."> 
																										<div
																											[hidden]="officefax.valid || officefax.pristine"
																											class="alert alert-danger">
																											<div
																												[hidden]="!officefax.hasError('minlength')">Field
																												should be 6 digits</div>
																											
																											<div
																												[hidden]="!officefax.hasError('pattern')">Field
																												should be only numbers</div>
																										</div>
																								</div>																																
																							</div>
																						
																					
																		</div>	
																	<div class="col-md-5 m-l45">
																				<div class="form-group"
																					[ngClass]="{'has-error':zipcode.invalid && !zipcode.pristine}">
																					<label for="zip">Postal Code<span
																						class="required-field"></span></label> <input
																						type="text" class="form-control" id="zip"
																						name="zipcode" #zipcode="ngModel"
																						[(ngModel)]="USER.postcode"
																						placeholder="Postal Code"
																						#zipcode="ngModel" required>
																					<p
																						*ngIf="zipcode.invalid && !zipcode.pristine"
																						class="help-block">Postcode is
																						required</p>
																				</div>
																			</div>
																			
																	
																</div>
																<div class="row">
																		
																		<div class="col-md-5">																																
																						<div class="form-group" [ngClass]="{'has-error':homephone.invalid && !homephone.pristine}" >
																							<label for="contact132">Home phone
																								<span *ngIf="homephone.dirty"
																								class="required-field"></span>
																							</label>
																							<div style="padding-left: 0px;">
																								<input type="text" class="form-control"																																		
																									placeholder="55-5555-5555" maxlength=12
																									(keypress)="keyPress($event)"
																									[(ngModel)]="USER.home_ph"
																									name="homephone" 
																									#homephone="ngModel"																																		
																									aria-label="Search for..."> 
																									<p *ngIf="telephoneRequired"																																
																									class="help-block">Home phone is
																									required.</p>
																							</div>																										
																						</div>
																		</div>
																	<div class="col-sm-5 m-l45">
																		<!-- <div class="col-md-12"> -->
																		<div class="form-group "
																			[ngClass]="{'has-error':farmregion.invalid && !farmregion.pristine}">
																			<label for="zip">Farming Region<span
																				class="required-field"></span></label> <select
																				class="form-control"
																				[(ngModel)]="USER.region"
																				name="farmregion" #farmregion="ngModel"
																				[required]="farmregion!=''"
																				(change)="selectedRegion()">
																				<option *ngFor="let obj of farmRegions"
																					[ngValue]="obj.RegionID">{{obj.RegionName}}</option>
																			</select>
																			<p
																				*ngIf="farmregion.invalid && !farmregion.pristine"
																				class="help-block">Farming Region is
																				required</p>
																		</div>
																		<!-- </div> -->
																	</div>
																	<div class="col-sm-1 m-t25">
																		<button class="btn btn-success"
																			data-toggle="modal"
																			data-target="#modalFindRegion">Find
																			Region</button>
																	</div>
																</div>
																
																<div class="row">
																		<div class="col-md-5">
																				<div class="form-group" [ngClass]="{'has-error':homefax.invalid && !homefax.pristine}" >
																						<label for="contact132">Home fax
																							<span *ngIf="homefax.dirty"
																							class="required-field"></span>
																						</label>
																						<div style="padding-left: 0px;">
																							<input type="text" class="form-control"																																		
																								placeholder="55-5555-5555" maxlength=12
																								(keypress)="keyPress($event)"
																								[(ngModel)]="USER.home_fax"
																								name="homefax"  pattern="[0-9]*"
																								minlength="6" maxlength="10"
																								#homefax="ngModel"																																		
																								> 
																								
																								<div
																									[hidden]="homefax.valid || homefax.pristine"
																									class="alert alert-danger">
																									<div
																										[hidden]="!homefax.hasError('minlength')">Field
																										should be 6 digits</div>
																									
																									<div
																										[hidden]="!homefax.hasError('pattern')">Field
																										should be only numbers</div>
																								</div>
																						</div>																																
																					</div>
																		</div>
																		<div class="col-md-5 m-l45">
																				<div class="form-group"
																					[ngClass]="{'has-error':uhf.invalid && !uhf.pristine}">
																					<label for="zip">UHF<span
																						class="required-field"></span></label> <input
																						type="text" class="form-control" id="zip"
																						name="uhf" #uhf="ngModel"
																						[(ngModel)]="USER.UHF"
																						placeholder="UHF"
																						#uhf="ngModel" required>
																					<p
																						*ngIf="uhf.invalid && !uhf.pristine"
																						class="help-block">UHF is
																						required</p>
																				</div>
																		</div>
																	<!-- /.col-md-6 -->
																</div>
																
																<div class="row">
																		<div class="col-md-5">
																				<div class="form-group " [ngClass]="{'has-error':mnum11.invalid && !mnum11.pristine}">
																					<label for="contact131">Work Mobile
																						<span *ngIf="mnum11.dirty"
																						class="required-field"></span>
																					</label>
																					<div style="padding-left: 0px;"
																						>
																						<input type="text" class="form-control"
																						(keypress)="keyPress($event)"																																	
																							placeholder="5555-555-555"
																							maxlength=12 name="mnum11"
																							[(ngModel)]="USER.work_mobile"
																							#mnum11="ngModel"
																							aria-label="Search for..."> 
																					</div>
																					<p
																					*ngIf="mobileRequired"
																					class="help-block">Work mobile is
																					required.</p>
																				</div>
																			</div> 
																		<div class="col-md-5 m-l45">
																				
																		</div>
																	<!-- /.col-md-6 -->
																</div>
																<div class="row">
																		<div class="col-md-5">
																				<div class="form-group " [ngClass]="{'has-error':personalmobile.invalid && !personalmobile.pristine}">
																					<label for="contact131">Personal Mobile
																						<span *ngIf="mnum11.dirty"
																						class="required-field"></span>
																					</label>
																					<div style="padding-left: 0px;"
																						>
																						<input type="text" class="form-control"
																						(keypress)="keyPress($event)"																																	
																							placeholder="5555-555-555"
																							maxlength=12 name="personalmobile"
																							[(ngModel)]="USER.personal_mobile"
																							#personalmobile="ngModel"
																							aria-label="Search for..."> 
																					</div>
																					<p
																					*ngIf="mobileRequired"
																					class="help-block">Personal mobile is
																					required.</p>
																				</div>
																			</div> 
																		<div class="col-md-5 m-l45">
																				
																		</div>
																	<!-- /.col-md-6 -->
																</div>
																<div class="row">
																		<div class="col-md-5">
																				<div class="form-group"
																					style="position: relative"
																					[ngClass]="{ 'has-error' : email.invalid && !email.pristine || userStatusRes.Status=='ACTIVE' || userStatusRes.Status=='INACTIVE' ,'has-success':email.valid && userStatusRes.Status=='NOT EXISTS'}">
																					<label for="exampleInputEmail13">Work Email<span
																						class="required-field"></span>
																					</label> <input type="email" #email="ngModel"
																						name="email"
																						[(ngModel)]="USER.work_email"
																						class="form-control"
																						id="exampleInputEmail13"
																						(blur)="checkUserStatus()" email
																						placeholder="Enter Your Email Id"
																						required> <span
																						style="color: green; position: absolute; bottom: 7px; float: right; right: 2px"
																						*ngIf="userStatusRes.Status=='NOT EXISTS' && !checking && hideValid"><i
																						class="fa fa-2x fa-check-circle"
																						aria-hidden="true"></i></span> <span
																						*ngIf="checking"
																						style="position: absolute; bottom: 1px; float: right; right: 2px"><i
																						class="fa fa-2x fa-spinner fa-spin"
																						aria-hidden="true"></i></span>
																					<p
																						*ngIf="email.invalid && !email.pristine"
																						class="help-block">You have not given
																						a correct e-mail address</p>
																					<p *ngIf="userStatusRes.Status=='ACTIVE'"
																						class="help-block">User already
																						registered.</p>
																					<p
																						*ngIf="userStatusRes.Status=='INACTIVE'"
																						class="help-block">User registration
																						under approval and not active yet.</p>
																				</div>
																			</div>
																		<div class="col-md-5 m-l45">
																				
																		</div>
																	<!-- /.col-md-6 -->
																</div>
																<button type="button" style="margin-top:25px"
																	(click)='selectNextTab(1)'
																	[disabled]="userform.form.invalid"
																	class="btn btn-primary pull-right">Next</button>
																			
															</form>
														</div>
													</div>


												</div>

											</div>

										</div>
									</div>


								</div>
							</div>


						</div>
						<!-- /.col-md-12 -->
					</div>
					</tab> 
					<tab heading="Personal Details" [active]="tabs[1].active" [disabled]="tabs[1].disabled">
					<div class="col-md-12">
						<div class="panel">
							<div class="panel-heading text-center">
								<div class="panel-title">
									<!-- <h2 style="padding-right: 135px;">User Registration</h2> -->
								</div>
							</div>
							<div class="panel-body">

								<div class="content clearfix">
									<div class="panel-body">

										<div class="content clearfix">
											<div class="row step1">
												<div class="col-md-12 ">
													<div class="panel1">
														<div class="panel-body1">

															<form #addContactForm="ngForm"
																class="form-horizontal">
															<div class="row" class="col-md-6">	
																<div class="row">
																	<div class="col-md-4">
																		<div class="form-group">
																			<label for="titl">Title</label> <select
																				class="form-control"
																				[(ngModel)]="USER.add_title"
																				name="title11" #title11="ngModel"
																				[required]="title11!=''">
																				<option *ngFor="let obj of titleList"
																					[ngValue]="obj.title">{{obj.title}}</option>
																			</select>
																		</div>
																	</div>
																	</div>
																	<div class="row">
																	<div class="col-md-10 ">
																		<div class="form-group"
																			>

																			<label for="sporpartner">Spouse/Partner
																				<!-- <span class="required-field"></span> -->
																			</label> <input required type="text"
																				#sporpartner="ngModel" name="sporpartner"
																				[(ngModel)]="USER.partner_name"
																				class="form-control" id="default"
																				placeholder="">
																			
																		</div>
																	</div>
																	</div>
																	<div class="row">
																	<div class="col-md-10 ">
																		<div class="form-group"
																			>

																			<label for="spemail">Spouse Email</label>
																			<input required type="text" name="spemail"
																				#spemail='ngModel'
																				[(ngModel)]="USER.spouse_email"
																				class="form-control" id="autocomplete"
																				placeholder="" autocomplete="off">
																			
																		</div>
																	</div>
																	</div>
																

																<div class="row">
																	<div class="col-md-10">
																		<div class="form-group"
																			>

																			<label for="hmph">Home Phone</label> <input
																				required type="text" name="hmph"
																				#hmph='ngModel' pattern="[0-9]*"
																				minlength="10" maxlength="10"
																				[(ngModel)]="USER.add_homephone"
																				class="form-control" id="default"
																				placeholder="">
																			<div
																				[hidden]="hmph.valid || hmph.pristine"
																				class="alert alert-danger">
																				<div
																					[hidden]="!hmph.hasError('minlength')">Field
																					should be 10 digits</div>
																				
																				<div [hidden]="!hmph.hasError('pattern')">Field
																					should be only numbers</div>
																			</div>
																		</div>
																	</div>
																	
																</div>
																<div class="row">
																	<div class="col-md-10">
																		<div class="form-group"
																			>

																			<label for="hmfax">Home Fax</label> <input
																				required type="text" name="hmfax"
																				#hmfax='ngModel' pattern="[0-9]*"
																				minlength="6" maxlength="10"
																				[(ngModel)]="USER.add_homefax"
																				class="form-control" id="autocomplete"
																				placeholder="" autocomplete="on">
																			<div
																				[hidden]="hmfax.valid || hmfax.pristine"
																				class="alert alert-danger">
																				<div
																					[hidden]="!hmfax.hasError('minlength')">Field
																					should be 6 digits</div>
																				
																				<div
																					[hidden]="!hmfax.hasError('pattern')">Field
																					should be only numbers</div>
																			</div>
																		</div>
																	</div>
																	<!-- <div class="col-sm-5 m-l45">
																		<div class="form-group"
																			>

																			<label for="offfax">Office Fax</label> <input
																				required type="text" name="offfax"
																				#offfax='ngModel' pattern="[0-9]*"
																				minlength="6" maxlength="10"
																				[(ngModel)]="contacts.c_offfax"
																				class="form-control" id="autocomplete"
																				placeholder=" " autocomplete="off">
																		</div>
																		<div
																			[hidden]="offfax.valid || offfax.pristine"
																			class="alert alert-danger">
																			<div
																				[hidden]="!offfax.hasError('minlength')">Field
																				should be 6 digits</div>
																			
																			<div
																				[hidden]="!offfax.hasError('pattern')">Field
																				should be only numbers</div>
																		</div>
																	</div> -->
																</div>
																<div class="row">
																	<div class="form-group">

																		<div class="col-md-10">
																			<label for="mob">Mobile</label> <input
																				 type="text" name="mob"
																				#mob='ngModel'
																				[(ngModel)]="USER.add_partnermobile"
																				class="form-control" id="autocomplete"
																				placeholder=" " autocomplete="off">
																			<!-- <p *ngIf="mob.invalid && !mob.pristine"
																				class="help-block">Mobile is
																				required.</p> -->
																		</div>
																	</div>
																</div>
															</div>
															<div class="row" class="col-md-6">
																	<div class="form-group">

																			<div class="col-md">
																				<label for="mob">Additional Notes</label>
																				 <textarea
																					 type="text" name="mob"
																					#notes='ngModel' rows="22"
																					[(ngModel)]="USER.add_notes"
																					class="form-control" id="autocomplete"
																					placeholder=" " autocomplete="off">
																				</textarea>
																				<!-- <p *ngIf="mob.invalid && !mob.pristine"
																					class="help-block">Mobile is
																					required.</p> -->
																			</div>
																		</div>
															</div>


																
																<div class="row" class="col-md-12">
																<button type="submit" (click)='selectNextTab(5)'
																	
																	class="btn btn-primary pull-right">Next</button>
																
																<!-- <button type="submit" (click)='selectBackTab(0)'																												
																	class="btn btn-primary pull-right">Back</button> -->
																</div>
															</form>
														</div>
													</div>

												</div>

											</div>

										</div>
									</div>


								</div>
							</div>


						</div>

					</div>
					</tab>
					 <!-- <tab heading="Commodities" [active]="tabs[2].active" [disabled]="tabs[2].disabled">
					<div class="col-md-12">
						<div class="panel">
							<div class="panel-heading text-center">
								<div class="panel-title">
									
								</div>
							</div>
							<div class="panel-body">

								<div class="content clearfix">
									<div class="panel-body">

										<div class="content clearfix">
											<div class="row step1">
												<div class="col-md-12 ">
													<div class="panel1">
														<div class="panel-body1">


															<div class="form-group"
																*ngFor="let commodity of commodities let i = index"
																style="margin-left: 0px;">
																<div class="form-group">
																	<label for="default"
																		class="col-sm-2 control-label">{{commodity.C_NAME}}
																	</label>
																	<div class="col-sm-1">
																		<div class="checkbox">
																			<label> <input type="checkbox"
																				(change)=produced($event,commodity.check,commodity)
																				[(ngModel)]="commodity.check"
																				#checkPro='ngModel' name="checkPro{{i}}"
																				required>
																			</label>
																		</div>
																	</div>
																</div>
															</div>
															

															<button type="submit" (click)='selectNextTab(3)'
															class="btn btn-primary pull-right">Next</button>

										
														</div>
													</div>

												</div>

											</div>

										</div>
									</div>


								</div>
							</div>
						</div>



				
					</div>
					</tab>  -->
					<!-- <tab heading="Favourites" [active]="tabs[3].active" [disabled]="tabs[3].disabled">
					<div class="col-md-12">
						<div class="panel">
							<div class="panel-heading text-center">
								<div class="panel-title">
									
								</div>
							</div>
							<div class="panel-body">

								<div class="content clearfix">
									<div class="panel-body">

										<div class="content clearfix">
											<div class="row step1">
												<div class="col-md-12 ">
													<div class="panel1">
														<div class="panel-body1">

															<div class="form-group"
																*ngFor="let commodityFav of commoditiesFav let i = index"
																style="margin-left: 0px;">

																<div class="form-group">
																	<label for="default"
																		class="col-sm-2 control-label">{{commodityFav.C_NAME}}
																	</label>
																	<div class="col-sm-1">
																		<div class="checkbox">
																			<label> <input type="checkbox"
																				(change)=favorites($event,commodityFav.check,commodityFav)
																				[(ngModel)]="commodityFav.check"
																				#checkFav='ngModel' name="checkFav{{i}}"
																				required>
																			</label>
																		</div>
																	</div>
																</div>
																
															</div>
															

															<button type="submit" (click)='selectNextTab(4)'
																class="btn btn-primary pull-right">Next</button>

																
														</div>
													</div>

												</div>

											</div>

										</div>
									</div>


								</div>
							</div>
						</div>
					</div>

					</tab>  -->
					<!-- <tab heading="Notification" [active]="tabs[4].active" [disabled]="tabs[4].disabled">

					<div class="col-md-12">

						<div class="" style="height: 350px">
							<div class="panel-heading text-center">
								<div class="panel-title">
									
								</div>
							</div>
							<div class="panel-body">

								<div class="content clearfix">
									<div class="panel-body">

										<div class="content clearfix">
											<div class="row step1">
												<div class="col-md-12 ">
													<div class="panel1">
														<div class="panel-body1">
															

															<div class="form-group">
																<label for="default"
																	class="col-sm-2 control-label t-al">Email
																</label>
																<div class="col-sm-1">
																	<div class="checkbox">
																		<label> <input type="checkbox"
																			name="emailnotifyname"
																			[(ngModel)]="emailNotify">
																		</label>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<label for="default"
																	class="col-sm-2 control-label t-al">SMS

																</label>
																<div class="col-sm-1">
																	<div class="checkbox">
																		<label> <input type="checkbox" [disabled]='true'
																			name="sms" [(ngModel)]="smsNotify">
																		</label>
																	</div>
																</div>
															</div>
															
														</div>
													</div>

												</div>

											</div>

										</div>
									</div>


								</div>
							</div>
						</div>

						<button type="submit" (click)='selectNextTab(5)'
						class="btn btn-primary pull-right">Next</button>
						

					</div>

					</tab>  -->
					<tab heading="Finish" [active]="tabs[5].active" [disabled]="tabs[5].disabled">
						<!-- <form #userform="ngForm"> -->
						<div class="col-md-12">
						<div class="" style="height: 350px">
							<div class="panel-heading text-center">
								<div class="panel-title">
									<!-- <h2 style="padding-right: 135px;">User Registration</h2> -->
								</div>
							</div>
							<div class="form-group">
								<label for="default"
									class="col-sm-9 control-label t-al"> Thanks
									for registering your details. Please click on submit
									to finish registration </label>

							</div>
							<div class="form-group">
							<label for="terms"> 																		
								<input type="checkbox" 
								(change)="onFilterChange($event)" 
								name="check"															
								required>
								<!-- <mat-checkbox (change)="onFilterChange($event)">I agreeTerms & Conditions</mat-checkbox> -->
								<span
								style="vertical-align: 3px;"> I accept the <a
								data-toggle="modal" data-target="#modalTrmsndcondtn" class="color-primary">Terms & Conditions</a>
								
								
							</span>
							</label>
							<!-- <p *ngIf="checkTC.invalid && !checkTC.pristine" class="help-block">Terms and condition is required</p> -->
						</div>
						</div>
						
						<button type="submit"
							class="btn btn-primary pull-right"
							[disabled]="disableSubmit"
							(click)="postContact()">Submit</button>
<!-- 
							<button type="submit" (click)='selectBackTab(4)'
							class="btn btn-primary pull-right">Back</button> -->

					</div>
					</tab> </tabset>
				</form>
			</div>
		</div>
		<!-- <div class="modal-footer">
			<button type="button" class="btn btn-default"
				data-dismiss="modal" (click)="closeModal()">Close</button>
			<button type="button" (click)="updateContactAndFav()" [disabled]="contactAndFavForm.form.invalid"
				class="btn btn-primary">Add</button>
		</div> -->
	</div>
</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" bsModal #viewContactDetails="bs-modal" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="height: 55vh; overflow: auto;">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">
					View Contact
					<button type="button" class="close" (click)="closeViewContact()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</h4>
			</div>
			<div class="modal-body">

				<table class="table-responsive-md table-bordered" style="margin-top: 20px;">

					<tbody>
						<tr>
							<th scope="row">Name</th>
							<td>{{condetails.first_name}} {{condetails.last_name}}</td>
						</tr>
						<tr>
							<th scope="row">Email</th>
							<td>{{condetails.work_email}}</td>
						</tr>
						<tr>
							<th scope="row">NGR</th>
							<td>{{condetails.ngr}}</td>
						</tr>
						<tr>
							<th scope="row">Phone No.</th>
							<td>{{condetails.office_ph}}</td>
						</tr>

					</tbody>
				</table>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" (click)="closeViewContact()">Close</button>

			</div>
		</div>
	</div>
</div>

 <!--Del Model-->									
 <div class="modal fade" id="delModal" tabindex="-1" bsModal #delModal="bs-modal" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="overflow: auto;">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">
					Are you sure you want to delete it?
				</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" (click)="closeDeleteDialog($event)">No</button>
				<button type="button" class="btn btn-default" (click)="deleteContact()">Yes</button>
			</div>
		</div>
	</div>
</div>

<!---->