<div class="main-wrapper">
    <app-top-navbar></app-top-navbar>

    <!-- ========== WRAPPER FOR BOTH SIDEBARS & MAIN CONTENT ========== -->
    <div class="content-wrapper">
        <div class="content-container">

            <!-- ========== LEFT SIDEBAR ========== -->
            <!-- <div class="left-sidebar box-shadow"
                    [class.fixed-sidebar]="fixedSidebar"
                    [class.small-nav]="smallSidebar"
                    [class.bg-black-300]="bgBlack300"
                    [class.bg-primary]="bgPrimary"
                    [class.bg-danger]="bgDanger"
                    [class.bg-success]="bgSuccess"
                    [class.bg-warning]="bgWarning"
                    [class.bg-gray-500]="bgLight"
                    >
                <div class="sidebar-content">
                    <div class="user-info closed">
                        <img src="http://placehold.it/90/c2c2c2?text=User" alt="John Doe" class="img-circle profile-img">
                        <h6 class="title">John Doe</h6>
                        <small class="info">PHP Developer</small>
                    </div>
                    /.user-info

                    <div class="sidebar-nav">
                        <ul class="side-nav " [class.color-gray]="!bgLight">
                            <li class="nav-header">
                                <span class="">Dashboard</span>
                            </li>
                            <li class="has-children">
                                <a [routerLink]="['/approot',{outlets:{innercont:'dashboard2'}}]"><i class="fa fa-dashboard"></i> <span>Dashboard</span> </a>
                                <ul class="child-nav">
                                    <li routerLinkActive="active"><a [routerLink]="['/approot',{outlets:{innercont:'dashboard'}}]"><i class="fa fa-bolt"></i> <span>Layout 1</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'dashboard-2'"><i class="fa fa-bookmark"></i> <span>Layout 2</span></a></li>
                                </ul>
                            </li> 

                            <li class="has-children">
                                <a href="#"><i class="fa fa-paint-brush"></i> <span>Business Area</span> <i class="fa fa-angle-right arrow"></i></a>
                                <ul class="child-nav">
                                    <li routerLinkActive="active"><a ><i class="fa fa-bank"></i> <span>Inventory</span></a></li>
                                    <li routerLinkActive="active"><a ><i class="fa fa-bell"></i> <span>Commodity</span></a></li>
                                    <li routerLinkActive="active"><a ><i class="fa fa-check"></i> <span>Cash Flow</span></a></li>
                                    <li routerLinkActive="active"><a ><i class="fa fa-info"></i> <span>Transportation</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'color-info'"><i class="fa fa-signal"></i> <span>Info Color</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'color-black'"><i class="fa fa-search-plus"></i> <span>Black Color</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'color-gray'"><i class="fa fa-glass"></i> <span>Gray Color</span></a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#"><i class="fa fa-bar-chart-o"></i> <span>Growth Charts</span> <i class="fa fa-angle-right arrow"></i></a>
                                <ul class="child-nav">
                                    <li routerLinkActive="active"><a [routerLink]="'chart-column-bar'"><i class="fa fa-barcode"></i> <span>Column & Bar Charts</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'chart-line-area'"><i class="fa fa-line-chart"></i> <span>Line & Area Charts</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'chart-pie-chart'"><i class="fa fa-pie-chart"></i> <span>Pie Charts</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'chart-funnel'"><i class="fa fa-area-chart"></i> <span>Funnel Chart</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'chart-others'"><i class="fa fa-comments"></i> <span>Other Charts</span></a></li>
                                </ul>
                            </li>
                            
                            <li class="has-children">
                                <a href="#"><i class="fa fa-magic"></i> <span>UI Components</span> <span class="label label-success ml-5">Hot</span> <i class="fa fa-angle-right arrow"></i></a>
                                <ul class="child-nav">
                                    <li routerLinkActive="active"><a [routerLink]="'ui-buttons'"><i class="fa fa-plane"></i> <span>Buttons</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'ui-panels'"><i class="fa fa-puzzle-piece"></i> <span>Panels</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'ui-modals'"><i class="fa fa-random"></i> <span>Modals</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'ui-page-headers'"><i class="fa fa-road"></i> <span>Page Headers</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'ui-confirmation'"><i class="fa fa-info"></i> <span>Confirmation</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'ui-dropdown-menu'"><i class="fa fa-sitemap"></i> <span>Dropdown Menu</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'ui-media-objects'"><i class="fa fa-photo"></i> <span>Media Objects</span></a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#"><i class="fa fa-bars"></i> <span>Bootstrap Components</span> <i class="fa fa-angle-right arrow"></i></a>
                                <ul class="child-nav">
                                    <li routerLinkActive="active"><a [routerLink]="'bt-accordions'"><i class="fa fa-bar-chart"></i> <span>Accordions</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'bt-alerts'"><i class="fa fa-info-circle"></i> <span>Alerts</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'bt-button-dropdown'"><i class="fa fa-bookmark"></i> <span>Button Dropdown</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'bt-button-groups'"><i class="fa fa-bomb"></i> <span>Button Groups</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'bt-buttons'"><i class="fa fa-bug"></i> <span>Buttons</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'bt-carousel'"><i class="fa fa-bullseye"></i> <span>Carousel</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'bt-code'"><i class="fa fa-code"></i> <span>Code</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'bt-collapse'"><i class="fa fa-plane"></i> <span>Collapse</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'bt-dropdowns'"><i class="fa fa-calendar"></i> <span>Dropdowns</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'bt-grid'"><i class="fa fa-th"></i> <span>Grid</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'bt-helpers'"><i class="fa fa-hand-o-right"></i> <span>Helpers</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'bt-labels-badges'"><i class="fa fa-signal"></i> <span>Labels & Badges</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'bt-pagination'"><i class="fa fa-video-camera"></i> <span>Pagination</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'bt-popover'"><i class="fa fa-camera"></i> <span>Popover</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'bt-tabs'"><i class="fa fa-cloud"></i> <span>Tabs</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'bt-tooltips'"><i class="fa fa-crop"></i> <span>Tooltips</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'bt-typography'"><i class="fa fa-text-width"></i> <span>Typography</span></a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#"><i class="fa fa-comments-o"></i> <span>Tables</span> <i class="fa fa-angle-right arrow"></i></a>
                                <ul class="child-nav">
                                    <li routerLinkActive="active"><a [routerLink]="'table-basic'"><i class="fa fa-lock"></i> <span>Basic Tables</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'table-10k-rows'"><i class="fa fa-list"></i> <span>10k Rows</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'table-inline-edit'"><i class="fa fa-pencil"></i> <span>Inline Edit</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'table-filter'"><i class="fa fa-filter"></i> <span>Filtering</span></a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#"><i class="fa fa-bar-chart-o"></i> <span>Charts</span> <i class="fa fa-angle-right arrow"></i></a>
                                <ul class="child-nav">
                                    <li routerLinkActive="active"><a [routerLink]="'chart-column-bar'"><i class="fa fa-barcode"></i> <span>Column & Bar Charts</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'chart-line-area'"><i class="fa fa-line-chart"></i> <span>Line & Area Charts</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'chart-pie-chart'"><i class="fa fa-pie-chart"></i> <span>Pie Charts</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'chart-funnel'"><i class="fa fa-area-chart"></i> <span>Funnel Chart</span></a></li>
                                    <li routerLinkActive="active"><a [routerLink]="'chart-others'"><i class="fa fa-comments"></i> <span>Other Charts</span></a></li>
                                </ul>
                            </li>

                            <li class="nav-header">
                                <span class="">Forms</span>
                            </li>
                            <li routerLinkActive="active"><a [routerLink]="'form-basic'"><i class="fa fa-cloud"></i> <span>Basic Forms</span></a></li>
                            <li routerLinkActive="active"><a [routerLink]="'form-layouts'"><i class="fa fa-bars"></i> <span>Form Layouts</span></a></li>
                            <li routerLinkActive="active"><a [routerLink]="'form-validations'"><i class="fa fa-info"></i> <span>Form Validations</span></a></li>
                            <li class="has-children">
                                <a href="#"><i class="fa fa-bar-chart-o"></i> <span>Form Components</span> <i class="fa fa-angle-right arrow"></i></a>
                                <ul class="child-nav">
                                    <li class=""><a href="form-checkbox"><i class="fa fa-check"></i> <span>Checkboxes</span></a></li>
                                    <li class=""><a href="form-bt-switches"><i class="fa fa-bullhorn"></i> <span>Bootstrap Switch</span></a></li>
                                    <li class=""><a href="form-input-groups"><i class="fa fa-bullseye"></i> <span>Input Groups</span></a></li>
                                    <li class=""><a href="form-select2"><i class="fa fa-arrows-alt"></i> <span>Select 2</span></a></li>
                                    <li class=""><a href="form-switches"><i class="fa fa-check-square-o"></i> <span>Switches</span></a></li>
                                    <li class=""><a href="form-tags"><i class="fa fa-history"></i> <span>Tags</span></a></li>
                                </ul>
                            </li>
                            <li class=""><a href="form-editable"><i class="fa fa-pencil"></i> <span>Editable Form</span></a></li>
                            <li class=""><a href="form-steps"><i class="fa fa-server"></i> <span>Steps</span></a></li>
                            <li class=""><a href="form-dropzone"><i class="fa fa-bullseye"></i> <span>Dropzone</span></a></li>
                            <li class="has-children">
                                <a href="#"><i class="fa fa-paperclip"></i> <span>Editors</span> <i class="fa fa-angle-right arrow"></i></a>
                                <ul class="child-nav">
                                    <li class=""><a href="form-editor-ckeditor"><i class="fa fa-check"></i> <span>CKEditor</span></a></li>
                                    <li class=""><a href="form-editor-summernote"><i class="fa fa-bullhorn"></i> <span>Summernote</span></a></li>
                                </ul>
                            </li>

                            <li class="nav-header">
                                <span class="">Pages</span>
                            </li>
                            <li class="has-children">
                                <a href="#"><i class="fa fa-lock"></i> <span>Login</span> <i class="fa fa-angle-right arrow"></i></a>
                                <ul class="child-nav">
                                    <li><a href="pages-login"><i class="fa fa-lock"></i> <span>Option 1</span></a></li>
                                    <li><a href="pages-login-2"><i class="fa fa-sign-in"></i> <span>Option 2</span></a></li>
                                    <li><a href="pages-login-3"><i class="fa fa-sign-out"></i> <span>Option 3</span></a></li>
                                    <li><a href="pages-login-4"><i class="fa fa-lock"></i> <span>Option 4</span></a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#"><i class="fa fa-sign-out"></i> <span>Register</span> <i class="fa fa-angle-right arrow"></i></a>
                                <ul class="child-nav">
                                    <li><a href="pages-register"><i class="fa fa-lock"></i> <span>Option 1</span></a></li>
                                    <li><a href="pages-register-2"><i class="fa fa-sign-in"></i> <span>Option 2</span></a></li>
                                </ul>
                            </li>
                            <li routerLinkActive="active"><a [routerLink]="'error-404'"><i class="fa fa-info"></i> <span>Error 404</span></a></li>
                            <li routerLinkActive="active"><a [routerLink]="'error-500'"><i class="fa fa-info-circle"></i> <span>Error 500</span></a></li>
                            <li routerLinkActive="active"><a [routerLink]="'pages-profile'"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                            <li routerLinkActive="active"><a [routerLink]="'pages-pricing'"><i class="fa fa-user-secret"></i> <span>Pricing</span></a></li>
                        </ul>
                        /.side-nav
                        <div class="purchase-btn hidden-sm hidden-xs">
                            <a href="#" class="btn btn-success btn-labeled">Purchase Now<span class="btn-label btn-label-right"><i class="fa fa-check"></i></span></a>
                        </div>
                    </div>
                    /.sidebar-nav
                </div>
                /.sidebar-content
            </div>
            /.left-sidebar
 -->
            <div class="main-page">

                <router-outlet name="innercont"></router-outlet>

            </div>
            <!-- /.main-page -->

            <div class="right-sidebar bg-white fixed-sidebar">
                <div class="sidebar-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Useful Sidebar <i class="fa fa-times close-icon"></i></h4>
                                <p>Code for help is added within the main page. Check for code below the example.</p>
                                <p>You can use this sidebar to help your end-users. You can enter any HTML in this sidebar.</p>
                                <p>This sidebar can be a 'fixed to top' or you can unpin it to scroll with main page.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <!-- /.col-md-12 -->

                            <div class="text-center mt-20">
                                <button type="button" class="btn btn-success btn-labeled">Purchase Now<span class="btn-label btn-label-right"><i class="fa fa-check"></i></span></button>
                            </div>
                            <!-- /.text-center -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- /.sidebar-content -->
            </div>
            <!-- /.right-sidebar -->

        </div>
        <!-- /.content-container -->
    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /.main-wrapper -->


<!-- <div class="app-settings" [class.settings-open]="settingsOpen" >
    <div class="settings-handle" (click)="settingsOpen = !settingsOpen">
        <i class="fa fa-cog"></i>
    </div>

    <div class="settings-wrapper">
        <label>Fixed Sidebar:</label>
        <ui-switch [(ngModel)]="fixedSidebar" size="small"></ui-switch>

        <div class="mt-15 mb-15">
            <label>Sidebar Color:</label>
            <span class="side-color-box bg-primary" (click)="setSidebarColor('primary')"></span>
            <span class="side-color-box bg-danger" (click)="setSidebarColor('danger')"></span>
            <span class="side-color-box bg-success" (click)="setSidebarColor('success')"></span>
            <span class="side-color-box bg-warning" (click)="setSidebarColor('warning')"></span>
            <span class="side-color-box bg-gray-500" (click)="setSidebarColor('light')"></span>
            <span class="side-color-box bg-black-300" (click)="setSidebarColor('default')"></span>
            <p><small class="text-muted">More options coming soon..</small></p>
        </div>

        <label>Small Sidebar:</label>
        <ui-switch [(ngModel)]="smallSidebar" size="small"></ui-switch>
    </div>
    /.settings-wrapper
</div>
 --><!-- /.app-settings -->
