<app-top-navbar></app-top-navbar>
<div class="content-wrapper">
    <div class="container-fluid">
        <article id="post-10292" class="left-only post-10292 page type-page status-publish hentry">
            <div class="page-content no-image">
                <h2>
                    <span style="color: #000000;">Products</span>
                  </h2>
          <h1><span style="color: #000000;">On farm storage solutions to solve your harvest problems</span></h1>
    <p><span style="color: #000000;"> </span></p>
    <h2><span style="color: #000080;">Kwik Kleen Grain Cleaners</span></h2>
    <p><img class="alignleft" src="https://agvantagecommodities.com.au/wp-content/uploads/2013/08/thumbs_kwik-kleen-grain-cleaner-in-action.jpg" alt="thumbs_kwik-kleen-grain-cleaner-in-action" width="185" height="120" /><span style="color: #000000;">THE KWIK KLEEN GRAIN CLEANER is an exceptional way for any grain grower to add value to their harvest before sale. Wheat, barley, canola, corn, chick peas … you will be amazed at how the Kwik Kleen Grain Cleaner can remove weed seeds, dirt, small and pinched grain at up to 100 tonnes per hour! There are two Models of the Kwik Kleen Grain Cleaner available – Model 572 and Model 772. Click in the KWIK KLEEN Grain Cleaners link below to find out more information on this very efficient &amp; cost effective tool in managing your grain quality.</span></p>
    <h3></h3>
    <h3><span style="color: #000000;">Here&#8217;s how the Kwik Kleen Grain Cleaner can make your grain  more profitable:</span></h3>
    <p><span style="color: #000000;"><strong>Wheat</strong> &#8211; 13/14  1000t &#8211; protein 14.9%, screenings 7%, TW 78Kg/hl (stack ave).  </span></p>
    <p><span style="color: #000000;">Value &#8211; $275/t AUH2 delivered Narrabri packer.</span></p>
    <p><span style="color: #000000;">After cleaning @ 40t/hr through Model 572 Kwik Kleen: Protein 14.5%, screenings 3%, TW 80Kg/t (stacked  ave). </span></p>
    <p><span style="color: #000000;"> Value &#8211; $300/t APH1 delivered Narrabri packer.</span></p>
    <p><span style="color: #000000;"><em>Net return 960t @ $25/t = $24,000    Machine cost $ 16,590 (ex GST).</em></span></p>
    <p><span style="color: #000000;"><strong>Chickpeas</strong> &#8211; 13/14  1000t &#8211; defectives 6% (stack ave) rejected due to soil (unmillable material) &amp; weed seeds.  </span></p>
    <p><span style="color: #000000;">Value &#8211; $265/t delivered as stockfeed.  </span></p>
    <p><span style="color: #000000;">After cleaning @ 30t/hr through Model 572 Kwik Kleen: 950t cleaned, defectives 2% (stack ave).  </span></p>
    <p><span style="color: #000000;">Value &#8211; $350/t CHKP1 delivered Narrabri packer.</span></p>
    <p><span style="color: #000000;"><em>Net return 950t @ $85/t = $80,750    Machine cost $ 16,590 (ex GST).</em></span></p>
    <h3><span style="color: #000000;">Not only does the Kwik Kleen Grain Cleaner more than pay for itself it relieves stress and worry associated with delivering grain.</span></h3>
    <p>&nbsp;</p>
    <h3><span style="color: #008000;">Click here to open our <a href="https://agvantagecommodities.com.au/wp-content/uploads/2013/08/Kwick-Kleen-flyer.pdf"><span style="color: #008000;">Kwik Kleen flyer</span></a></span></h3>
    <h3><span style="color: #008000;"><a title="Kwik Kleen Grain Cleaner" href="http://www.youtube.com/watch?v=QN19glNK1hk" target="_blank" rel="noopener noreferrer"><span style="color: #008000;">Click here to see the Kwik Kleen in action</span></a></span></h3>
    <p>&nbsp;</p>
    <h2><span style="color: #000080;">Grain Testing Equipment</span></h2>
    <p><span style="color: #000000;"><img class="wp-image-10347 alignleft" src="https://agvantagecommodities.com.au/wp-content/uploads/2013/08/cropscan.jpg" alt="crop scan" width="90" height="122" />With the increase in on-farm storage over recent years, AgVantage sees the importance in providing on-farm storage solutions for growers to extract the most value from their investment. AgVantage now provides all the equipment required to test your grain at harvest which is invaluable when making blending &amp; segrigation decisions in order to extract the most value from your grain. Click on the Harvest Package link below to see our harvest special where you can get all the grain testing equipment required to get start &amp; save yourselves $3,500. </span></p>
    <h3><span style="text-decoration: underline;"><a href="https://agvantagecommodities.com.au/wp-content/uploads/2013/08/2013_Harvest_Package_AgV.pdf" target="_blank" rel="noopener noreferrer"><span style="color: #000000; text-decoration: underline;">Click here to read more on </span><span style="color: #000000; text-decoration: underline;"><span style="color: #000000; text-decoration: underline;">Grain Testing Equipment</span></span></a></span></h3>
    <p><span style="color: #000000;"> </span></p>
    <h2></h2>
    <p><span style="color: #40ae49;"> </span></p>
    <h2><span style="color: #40ae49;">Call Us 02 6792 2962</span></h2>
                
            <div class="share-btns wire-pad alignnone vertical">
        <div class="fake-btns">
              </div><!-- / .fake-btns -->
        <div class="real-btns">
              </div><!-- / .real-btns -->
        <div class="clearfix"></div>
      </div><!-- / .wire-pad -->
    
    
          </div><!-- .entry-content -->
    
          </article>
</div>
</div>
<app-footer ></app-footer>