<div class="main-wrapper">
	<app-header></app-header>
	<div class="col-md-7 col-md-offset-2 signupCont ">
		<div class="panel">
			<div class="panel-heading text-center">
				<div class="panel-title">
					<h2 style="padding-right: 135px;">User Registration</h2>
				</div>
			</div>
			<div class="panel-body">

				<div class="content clearfix">
					<div class="panel-body">

						<div class="content clearfix">
							<div class="row step1">

								<div class="col-md-10 ">
									<div class="panel1">
										<div class="panel-body1">
											<div *ngIf="showAlert" class="alert alert-danger" role="alert">
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
												<strong>{{abnErrorMsg}}</strong>
											</div>
											<form #userform="ngForm" (ngSubmit)="createUser()">
												<div class="row">
													<div class="col-md-6" [ngClass]="{'has-error':abn.invalid && !abn.pristine}">
														<label for="ABN Number">ABN
															<span class="field-wrapper required-field"></span>
														</label>
														<div class="input-group  form-group">
															<input type="text" [(ngModel)]="USER.U_ABN" class="form-control" name="abn" #abn="ngModel" required (keypress)="keyPress1($event)"
															 (blur)="abnLookUp()" placeholder="Give ABN Number" aria-describedby="basic-addon6">
															<span class="input-group-addon" (click)="abnLookUp()" id="basic-addon6">
																<i class="fa fa-search"></i>
															</span>
														</div>
														<p *ngIf="abn.invalid && !abn.pristine" class="help-block">ABN is required.</p>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="Trading name">Trading name</label>
															<input type="text" class="form-control" id="Trading name" name="Tradingname" [(ngModel)]="USER.U_TRADING_NAME" placeholder="Trading name"
															 disabled>
														</div>
													</div>

												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label for="name13">User Type
																<span class="field-wrapper required-field"></span>
															</label>
															<select class="selectpicker1" data-style="btn-primary" [(ngModel)]="USER.U_TYPE" name="type" (change)="watchtype()" title="User Type">
																<option value="VENDOR">Data/Software Managing Company </option>
																<option value="SUPERADMIN">Superadmin</option>
																<option value="SELLERS">Producer/Grower</option>
																<option value="BUYERS">Consumer/Trader</option>
																<option value="BROKER">Broker/Consultant</option>

															</select>
														</div>

													</div>
													<div class="col-md-6" *ngIf="showbox">

														<div class="form-group" *ngIf="showNGRTextBox" [ngClass]="{ 'has-error' :  NGRStatus=='INACTIVE' || NGRStatus=='ACTIVE' || (ngr.invalid && !ngr.pristine) }">
															<label for='NGR'>NGR
																<span class="field-wrapper required-field"></span> <!--(blur)="checkNgr()"-->
															</label>
															<div class="input-group  form-group">
																<input (keypress)="keyPress1($event)" type='text' class="form-control"  id='NGR' name='ngr' #ngr="ngModel"
																 [(ngModel)]="USER.U_NGR" placeholder="NGR Number" required>
																<span class="input-group-addon" id="basic-addon6">
																	<i class="fa fa-search"></i>
																</span>
															</div>
															<p *ngIf="NGRStatus=='HOLD'" class="help-block">Migrated User from ACT, Not registered yet.</p>
															<p *ngIf="NGRStatus=='INACTIVE'" class="help-block">Under approval, not active yet.</p>
															<p *ngIf="NGRStatus=='ACTIVE'" class="help-block">Current user is already registered</p>
															<p *ngIf="NGRStatus=='NOT EXISTS'" class="text-primary">User Valid.
															</p>
															<p *ngIf="ngr.invalid && !ngr.pristine" class="help-block">NGR is required.</p>
														</div>
														<div class="form-group" *ngIf="showNGRDDL" [ngClass]="{'has-error': NGRStatus=='INACTIVE' || NGRStatus=='ACTIVE' || (ngrDDL.invalid && !ngrDDL.pristine)}">

															<label for='NGR'>NGR
																<span class="field-wrapper required-field"></span>
															</label>
															<div class="input-group  form-group" dropdown [isOpen]="status.isopen" (isOpenChange)="change($event)" placement="top">
																<input dropdownToggle type="text" [(ngModel)]="USER.U_NGR" name="ngrDDL" #ngrDDL="ngModel" class="form-control dropdown-toggle"
																 [required]="title11!=''">

																<ul *dropdownMenu class="dropdown-menu" role="menu">
																	<li role="menuitem" *ngFor="let obj of ngrlist">
																		<a class="dropdown-item" (click)="selectedNGR(obj.NGR)">{{obj.NGR}}</a>
																	</li>
																</ul>
																<span class="input-group-addon" (click)="checkNgr()" id="basic-addon6">
																	<i class="fa fa-search"></i>
																</span>
																<span class="input-group-addon " (click)="toggleDropdown($event)" id="basic-addon6">
																	<i class="fa fa-caret-down"></i>
																</span>
																<!-- <button type="button" class="btn btn-primary col-sm-3" (click)="toggleDropdown($event)"><span class="caret"></span></button>			 -->
															</div>



															<!-- <select class="form-control selectpicker1"
																						data-style="btn-primary"
																							 [(ngModel)]="USER.NGRDDL"
																							name="ngrDDL" #ngrDDL = "ngModel"
																							(change)="selectedNGR()">
																							<option *ngFor="let obj of ngrlist"
																							[ngValue]="obj.NGR">{{obj.NGR}}</option>
																						</select>
																				 -->
															<p *ngIf="NGRStatus=='HOLD'" class="help-block">Migrated User from ACT, Not registered yet.</p>
															<p *ngIf="NGRStatus=='INACTIVE'" class="help-block">Under approval, not active yet.</p>
															<p *ngIf="NGRStatus=='ACTIVE'" class="help-block">Current user is already registered</p>
															<p *ngIf="NGRStatus=='NOT EXISTS'" class="text-primary">User Valid.
															</p>
															<p *ngIf="ngrDDL.invalid && !ngrDDL.pristine" class="help-block">NGR is required.</p>

														</div>

													</div>

												</div>
												<div class="row">
													<div class="col-sm-2">
														<div class="form-group ">
															<label for="name13">Title
																<span class="field-wrapper required-field"></span>
															</label>
															<select class="form-control" [(ngModel)]="USER.U_TITLE" name="title11" #title11="ngModel" [required]="title11!=''">
																<option *ngFor="let obj of titleList" [ngValue]="obj.title">{{obj.title}}</option>
															</select>
														</div>
													</div>

													<!-- /.col-md-6 -->

													<div class="col-md-5">
														<div class="form-group" [ngClass]="{ 'has-error' : firstname.invalid  && !firstname.pristine }">
															<label for="USERname13">Christian Name
																<span class="field-wrapper required-field"></span>
															</label>
															<input type="text" class="form-control" id="USERname13" #firstname="ngModel" name="fn" [(ngModel)]="USER.U_FNAME" placeholder="Enter Firstname"
															 required>
															<p *ngIf="firstname.invalid && !firstname.pristine" class="help-block">Your firstname is required.</p>
															<!-- <div [hidden]="firstname.valid || firstname.pristine"
																		class="alert alert-danger">

																			 <div [hidden]="!firstname.hasError('required')">Field is required</div>

																		 </div> -->
														</div>
													</div>
													<div class="col-md-5">
														<div class="form-group" [ngClass]="{ 'has-error' : lastname.invalid && !lastname.pristine}">
															<label for="USERname13">Surname
																<span class="field-wrapper required-field"></span>
															</label>
															<input type="text" class="form-control" #lastname="ngModel" id="USERname13" name="ln" [(ngModel)]="USER.U_LNAME" placeholder="Enter Lastname"
															 required>
															<p *ngIf="lastname.invalid && !lastname.pristine" class="help-block">Your surname is required.</p>
														</div>
													</div>
													<!-- /.col-md-6 -->
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group" style="position: relative" [ngClass]="{ 'has-error' : email.invalid && !email.pristine || userStatusRes.Status=='ACTIVE' || userStatusRes.Status=='INACTIVE' ,'has-success':email.valid && userStatusRes.Status=='NOT EXISTS'}">
															<label for="exampleInputEmail13">Username(Should be Email address)
																<span class="field-wrapper required-field"></span>
															</label>
															<input type="email" #email="ngModel" name="email" [(ngModel)]="USER.U_USERNAME" class="form-control" id="exampleInputEmail13"
															 (blur)="checkUserStatus()"  placeholder="Enter Your Email Id" required>
															<span style="color: green; position: absolute; bottom: 1px; float: right; right: 2px" *ngIf="userStatusRes.Status=='NOT EXISTS' && !checking && hideValid">
																<i class="fa fa-2x fa-check-circle" aria-hidden="true"></i>
															</span>
															<span *ngIf="checking" style="position: absolute; bottom: 1px; float: right; right: 2px">
																<i class="fa fa-2x fa-spinner fa-spin" aria-hidden="true"></i>
															</span>
															<p *ngIf="email.invalid && !email.pristine" class="help-block">You have not given a correct e-mail address</p>
															<p *ngIf="userStatusRes.Status=='ACTIVE'" class="help-block">User already registered.</p>
															<p *ngIf="userStatusRes.Status=='INACTIVE'" class="help-block">User registration under approval and not active yet.</p>
														</div>
													</div>
													<!-- /.col-md-6 -->
												</div>



												<div class="row">
													<div class="col-md-6" style="">
														<div class="form-group ">
															<label for="contact131">Mobile
																<span class="field-wrapper required-field"></span>
															</label>
															<div style="padding-left: 0px;" [ngClass]="{ 'has-error' : mnum11.value=='' && !mnum11.pristine }">
																<input type="text" class="form-control" (keypress)="keyPress($event)" placeholder="5555-555-555" required maxlength=12 name="mnum1"
																 [(ngModel)]="USER.U_MOBILE" #mnum11="ngModel" aria-label="Search for...">
																<span class="help-block" *ngIf="mnum11.value=='' ">Number required
																</span>
															</div>

														</div>




													</div>
													<div class="col-md-6">
														<div class="form-group ">
															<label for="contact132">Telephone
																<span class="field-wrapper required-field"></span>
															</label>
															<div style="padding-left: 0px;" [ngClass]="{ 'has-error' : mnumt11.value=='' && !mnumt11.pristine  }">
																<input type="text" class="form-control" (keypress)="keyPress($event)" placeholder="55-5555-5555" maxlength=12 name="mnumt1"
																 [(ngModel)]="USER.U_TELEPHONE" #mnumt11="ngModel" required aria-label="Search for...">
																<span class="help-block" *ngIf="mnumt11.value=='' ">Number required
																</span>
															</div>
														</div>
													</div>

													<!-- /.col-md-6 -->
												</div>
												<div class="row" [hidden]="!(USER.U_TYPE=='BROKER' || USER.U_TYPE=='SUPERADMIN')">
														<div class="col-md-6">
																<label for="bk">Broker/Consultant Office
																		<span class="field-wrapper required-field"></span>
																	</label>
																	<select class="form-control " name="bo"

																			[(ngModel)]="USER.U_BROKER_OFFICE" id="Commodity"
																			title="Select BulkHandler">
																			<option *ngFor="let bo of brokerOffices.broker_office 	 	"
																				[ngValue]="bo.office_name">{{bo.office_name}}</option>

																		</select>
														</div>


													</div>
												<h5 class="mt-30">
													<strong>Address Details</strong>
												</h5>

												<div class="row">
													<div class="col-md-12">
														<div class="form-group" [ngClass]="{'has-error':address.invalid && !address.pristine}">
															<label for="addr">Street/Property Address
																<span class="field-wrapper required-field"></span>
															</label>
															<input type="text" class="form-control" [(ngModel)]="USER.U_A_STREET" [options]='options' (setAddress)="getAddress($event)"
															 (city)='setCity($event)' (state)='USER.U_A_STATE=$event'  (postal_code)='USER.U_A_POSTCODE=$event'
															 #address1="ngModel" name="address" #address="ngModel" id="autocomplete" ng2-google-place-autocomplete required
															/>
															<p *ngIf="address.invalid && !address.pristine" class="help-block">Address is required.</p>
														</div>

													</div>
													<!-- /.col-md-12 -->
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group" [ngClass]="{'has-error':city.invalid && !city.pristine}">
															<label for="name13">City/Town/Suburb{{USER.U_A_CITY}}
																<span class="field-wrapper required-field"></span>
															</label>
															<input type="text" class="form-control" [(ngModel)]="USER.U_A_CITY" name="city" #city="ngModel" required placeholder="Enter City"
															/>
															<p *ngIf="city.invalid && !city.pristine" class="help-block">City is required.</p>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group" [ngClass]="{'has-error':state.invalid && !state.pristine}">
															<label for="name13">State
																<span class="field-wrapper required-field"></span>
															</label>
															<input type="text" class="form-control" (blur)="getBulkHandler()"  [(ngModel)]="USER.U_A_STATE" name="state" #state="ngModel" required placeholder="Enter State"
															/>
															<p *ngIf="state.invalid && !state.pristine" class="help-block">State is required.</p>
														</div>
													</div>

												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label for="country">Country
																<span class="field-wrapper required-field"></span>
															</label>
															<input class="form-control" type="text" readonly [(ngModel)]="USER.U_A_COUNTRY" placeholder="Australia" value="Australia"
															 name="country">
														</div>
													</div>
													<!-- /.col-md-6 -->

													<div class="col-md-6">
														<div class="form-group" [ngClass]="{'has-error':zipcode.invalid && !zipcode.pristine}">
															<label for="zip">Postal Code
																<span class="field-wrapper required-field"></span>
															</label>
															<input type="text" class="form-control" id="zip" name="zipcode" #zipcode="ngModel" [(ngModel)]="USER.U_A_POSTCODE" placeholder="Postal Code"
															 #zipcode="ngModel" required>
															<p *ngIf="zipcode.invalid && !zipcode.pristine" class="help-block">Postcode is required</p>
														</div>
													</div>

												</div>
												<!-- <div class="form-group row">

													<div class="col-sm-6" [ngClass]="{'has-error':farmregion.invalid && !farmregion.pristine}">
														<label for="zip">Farming Region
															<span class="field-wrapper required-field"></span>
														</label>
														<select class="form-control" [(ngModel)]="USER.U_Farm_Region" name="farmregion" #farmregion="ngModel" [required]="farmregion!=''"
														 (change)="selectedRegion()">
															<option *ngFor="let obj of farmRegions" [ngValue]="obj.RegionName">{{obj.RegionName}}</option>
														</select>
														<p *ngIf="farmregion.invalid && !farmregion.pristine" class="help-block">Farming Region is required</p>
													</div>
													<div class="col-sm-3 m-t25">
														<button class="btn btn-success" data-toggle="modal" data-target="#modalFindRegion">Find Region</button>
													</div>

												</div> -->
												<div class="form-group row" [hidden]="!(USER.U_TYPE=='SELLERS')">
													<div class="col-md-6">
															<label for="bk">Select Nearest Bulk Handler
																	<span class="field-wrapper required-field"></span>
																</label>
																<select class="form-control " name="selectedCommodity"

																			[(ngModel)]="USER.U_NEAR_BULK_HANDLER" id="Commodity"
																			title="Select BulkHandler">
																			<option *ngFor="let bh of bulkHandlers"
																				[ngValue]="bh.Name">{{bh.Name}}</option>

																		</select>
													</div>


												</div>

												<div class="form-group row" style="margin-left: 0px;">
													<label for="terms">
														<input type="checkbox" [(ngModel)]="check" name="check" required>
														<span style="vertical-align: 3px;"> I accept the
															<a data-toggle="modal" data-target="#modalTrmsndcondtn" class="color-primary">Terms & Conditions</a>
														</span>
													</label>
													<!-- <p *ngIf="checkTC.invalid && !checkTC.pristine" class="help-block">Terms and condition is required</p> -->
												</div>

												<!-- [disabled]="userform.form._status==='INVALID' || !check"	 -->
												<!-- (click)="createUser()" -->
												<button type="submit" class="btn btn-primary pull-right">Submit</button>

												<button type="cancel" (click)="login()" class="btn btn-primary pull-right">Cancel</button>
												<!-- /.col-md-6 -->


											</form>
										</div>
									</div>

								</div>

							</div>

						</div>
					</div>


				</div>
			</div>


		</div>
		<!-- /.col-md-12 -->
	</div>

	<div class="col-md-3 pulldownsidebar">
		<div class="panel panel-info " data-panel-control data-sortable="true">
			<div class="panel-heading">
				<div class="panel-title">
					<h4>Reason our customer choose us</h4>
				</div>
			</div>
			<div class="panel-body">
				<div *ngFor="let reason of reasons" style="margin-top: 10px;">
					<span>
						<i class={{reason.img}}></i>
					</span>
					<span style="padding-left: 5px;">{{reason.why}}</span>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</div>

<div class="modal fade" id="modal3" tabindex="-1" role="dialog" bsModal #noBDModal="bs-modal" [config]="{backdrop: false}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal3Label">
					Server Error
					<button type="button" class="close" (click)="noBDModal.hide()" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</h4>
			</div>
			<div class="modal-body">Error-Message is:Server failed to process your request.Please enter unique NGR and ABN number.</div>
			<div class="modal-footer">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-gray btn-wide btn-rounded" (click)="noBDModal.hide()">
						<i class="fa fa-times"></i>Close
					</button>
				</div>
				<!-- /.btn-group -->
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalTrmsndcondtn" tabindex="-1" role="dialog" bsModal #modalTrmsndcondtn="bs-modal" [config]="{backdrop: false}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal3Label">
					Terms & Conditions
					<button type="button" class="close" (click)="noBDModal.hide()" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</h4>
			</div>
			<div class="modal-body">
				<p>
					As a condition of use, you promise not to use the Services for any purpose that is unlawful or prohibited by these Terms,
					or any other purpose not reasonably intended.
				</p>
			</div>
			<div class="modal-footer">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-gray btn-wide btn-rounded" data-dismiss="modal">
						<i class="fa fa-times"></i>Close
					</button>
				</div>
				<!-- /.btn-group -->
			</div>
		</div>
	</div>
</div>
<!-- Modal Find Region start -->
<div class="modal fade" id="modalFindRegion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="height: 80vh; overflow: auto;">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">
					Find Region
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</h4>
			</div>
			<div class="modal-body">
				<form #findRegionForm="ngForm" class="form-horizontal">
					<div class="form-group">
						<div class=" col-sm-8">
							<!-- <label for="zip">Farming Region<span
													class="field-wrapper required-field"></span></label>  -->
							<select class="form-control" [(ngModel)]="U_FINDREGN" name="findregion" title="Select Region">
								<option *ngFor="let obj of farmRegions" [ngValue]="obj.RegionID">{{obj.RegionName}}</option>
							</select>
							<!-- <p *ngIf="zipcode.invalid && !zipcode.pristine" class="help-block">Postcode is required</p> -->
						</div>

						<div class="col-sm-3">
							<button class="btn btn-success" (click)='setSelectedRegion()'>Select Region</button>
						</div>
					</div>
					<div class="">
						<div class="form-group">
							<div #mapDiv id='map' class="map">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<!-- <button type="button" [disabled]="findRegionForm.form.invalid" class="btn btn-primary">Add</button> -->
			</div>
		</div>
	</div>
</div>

<!-- Modal Find Region end -->
