<app-header></app-header>

<div class="main-wrapper logincont">

	<div class="login-bg">
		<div class="row">

			<div class="col-md-4 col-md-offset-2 ">
				<div class="login-box">
					<h2 class="text-center mt-10 mb-20">Reset Password  ! </h2>

					<form #resetform="ngForm" novalidate>
						<div class="alert alert-info" *ngIf="outcomeMsg">
							<strong>{{showOutcome}}</strong>
							<button type="button" (click)="gotoLogin()"
									class="btn btn-success btn-labeled pull-right">
								Sign in<span class="btn-label btn-label-right"><i
								class="fa fa-check"></i></span>
							</button>
						</div>
						<div class="form-group" [ngClass]="{'has-error':username.invalid && !username.pristine}" >
							<label for="exampleInputEmail1">Username(Should be email address)</label>
							<input type="email" class="form-control input-lg" email #username="ngModel"
								   [(ngModel)]="USER.UserName" name="email" placeholder="Enter Username" required
								   autocomplete="off">
							<p *ngIf="username.invalid && !username.pristine" class="help-block">Username is required
								and must be valid.</p>
						</div>
						<div class="form-group" [ngClass]="{'has-error':oldpswrd.invalid && !oldpswrd.pristine}">
							<label for="exampleInputEmail1">Old Password</label>
							<input type="password" #oldpswrd="ngModel" class="form-control input-lg" required
								   [(ngModel)]="USER.OldPassword" name="oldpswrd1" placeholder="Enter Password"
								   autocomplete="off">
							<p *ngIf="oldpswrd.invalid && !oldpswrd.pristine" class="help-block">Old password is
								required.</p>

						</div>
						<div class="form-group" [ngClass]="{'has-error':newpswrd.invalid && !newpswrd.pristine}">
							<label for="exampleInputEmail1">New Password</label>

							<input type="password" #newpswrd="ngModel" class="form-control input-lg" required
								   [(ngModel)]="USER.NewPassword" name="newpswrd1" placeholder="Re-enter Password"
								   autocomplete="off">
							<p *ngIf="newpswrd.invalid && !newpswrd.pristine" class="help-block">New password is
								required.</p>

						</div>
						<div class="clearfix"></div>
						<div class="form-group mt-20">
							<div class="">

								<!--  <a ui-sref="signup" class="form-link"><small class="muted-text">Register?</small></a> -->
								<button type="button" (click)="showMsg()" [disabled]="resetform.form.invalid"
										class="btn btn-success btn-labeled pull-left">Submit<span
									class="btn-label btn-label-right"><i class="fa fa-check"></i></span></button>
								<div class="clearfix"></div>
							</div>
						</div>
					</form>


				</div>
				<!-- /.login-box -->
			</div>
			<!-- /.col-md-6 col-md-offset-3 -->

			<div class="col-md-offset-1 col-md-3  paneldesign" style="margin-top: 100px;">
				<div class="panel panel-info" data-panel-control data-sortable="true">
					<div class="panel-heading">
						<div class="panel-title">
							<h4>Reason our customer choose us </h4>
						</div>
					</div>
					<div class="panel-body">
						<div *ngFor="let reason of  reasons" class="spacing">
							<span><i class={{reason.img}}></i></span><span
							style="padding-left: 5px;">{{reason.why}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /. -->

</div>
<!-- /.main-wrapper -->
<app-footer></app-footer>
