
<div class="main-wrapper">
	<app-top-navbar></app-top-navbar>
</div>

<div class="content-wrapper">


	<div class="container-fluid">

		<div class="row page-title-div">
			<div class="col-md-6">
				<h4 class="title">Freight Calculator</h4>
				<p class="sub-title"></p>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6 right-side"></div>
			<!-- /.col-sm-6 text-right -->
		</div>
		<!-- /.row -->
		<div class="row breadcrumb-div">
			<div class="col-sm-6">
				<ul class="breadcrumb">
					<li><a (click)="gotoHome()" style="cursor: pointer"><i
							class="fa fa-home"></i> Dashboard</a> / Freight Calculator</li>
				</ul>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6 text-right">
				<a  style="cursor: pointer"><i class="fa fa-comments"></i> Talk to us</a>
			
				<a  class="pl-20" style="cursor: pointer"><i class="fa fa-newspaper-o"></i> Subscription</a>
			</div>
			<!-- /.col-sm-6 -->
		</div>
		<!-- /.row -->
	</div>


	<section class="section pt-10">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel"
						data-panel-control>
						<div class="panel-heading">
							<div class="panel-title text-center">
								<h4>Freight Calculator</h4>
							</div>
						</div>

						<div class="panel-body">
							<div class="panel">
								<div class="panel-heading">
									<div class="col-md-12">
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary"
											data-toggle="modal" data-target="#myModal">
                      Freight Calculator</button>
                      
                      
										<!-- Modal -->
										<div class="modal fade" id="myModal" tabindex="-1"
										bsModal	#myModal="bs-modal" 
											role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog" role="document">
												<div class="modal-content"
													style="height: 86vh; overflow: auto;">
													<div class="modal-header">
														<h4 class="modal-title" id="myModalLabel">
															Freight Calculator
															<button type="button" class="close" data-dismiss="modal"
																aria-label="Close" (click)="closeModal()">
																<span aria-hidden="true">&times;</span>
															</button>
														</h4>
													</div>
													<div class="modal-body">

														<div class="panel-body">
															<!-- <div class="alert alert-success">
																<strong></strong>
															</div> -->
															<form #freightCalcform="ngForm" >
                                                              
                                <div class="container-fluid ">             
                                  <!-- <label class="col-sm-4 control-label">Source</label> -->
                                  <div class="form-group col-sm-12">
                                      <label>Source</label>
                                    <input [(ngModel)]="srcsrch" id="source-input"
                                      #sourceSearch class="form-control col-sm-7"
                                      type="text" name='ss' placeholder="Enter source">
                                  </div>   
                                  <!-- <label class="col-sm-4 control-label">Destination</label> -->
																<div class="form-group col-sm-12">
                                    <label>Destination</label>
																	<input [(ngModel)]="destsrch" id="destination-input"
																		#destiSearch class="form-control col-sm-7" name='dst'
																		type="text" placeholder="Enter destination">
																	<!-- <input  [(ngModel)]="destsrch" id="destination-input" #destiSearch class="form-control" name='dst' type="text" placeholder="Enter destination"> -->
																	<!-- </div> -->
																	<!-- <div class="form-group col-sm-7"> -->
																	<button class="form-control m-t" type="button"
																		(click)="calDistance()">Calculate
																		Distance</button>
																	<!-- </div> -->
																</div>      
                                <!-- <label class="col-sm-4 control-label">Distance</label> -->
                                <div class="form-group col-sm-12">
                                    <label>Distance</label>
                                  <input  [(ngModel)]="freightCalc.distance" readonly
                                    #distance class="form-control col-sm-12" name='distance'
                                    type="text" name='distance' placeholder="Distance">
                                </div> 
                                <!-- <label class="col-sm-4 control-label">TransMethod<span
                                  class="required-field"></span></label> -->
                                <div class="form-group col-sm-12">     
                                    <label>TransportationMethod<span
                                      class="required-field"></span></label>                              
                                    <select
                                    class="form-control col-sm-12"
                                    [(ngModel)]="freightCalc.transMethod" 
                                    [required]="transmethod!=''"
                                    name="transmethod" 
                                    (change)="callDetails()"
                                    #transmethod = "ngModel"                                    
                                     title="Transportation Method">
                                    <option *ngFor="let tm of TransMethodList"
																				[ngValue]="tm.id">{{tm.name}}</option>
                                  </select>
                                </div>                                                                                 
                                <!-- <label class="col-sm-4 control-label">TransDetails<span
                                  class="required-field"></span></label> -->
                                <div class="form-group col-sm-12">     
                                    <label>TransportationDetails<span
                                      class="required-field"></span></label>                              
                                    <select
                                    class="form-control col-sm-12" 
                                    [(ngModel)]="freightCalc.transDetails" 
                                    [required]="transdetails!=''"
                                    name="transdetails" 
                                    #transdetails = "ngModel"                                    
                                    (change)="transDetails(td)" title="Transportaions Details">
                                    <option *ngFor="let td of TransDetailsList"
																				[ngValue]="td.unit_rate">{{td.type}}</option>
                                  </select>
                                </div> 
                                
                                  <div class="form-group col-sm-12">
                                      <label >Calculated Freight 
                                        </label>
                                    <input  [(ngModel)]="freightCalc.freight" readonly
                                      #freight class="form-control col-sm-12" name='freight'
                                      type="text" name='freight' placeholder="Freight">
                                  </div>                                                                              
                                                                                
                                </div>
                                <div class="row">
                                    <!-- <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="name13">Truck Type<span
                                            class="required-field"></span></label> 
                                            <select
                                            class="form-control" 
                                            [(ngModel)]="freightCalc.truckType" 
                                            [required]="trucktype!=''"
                                            name="trucktype" 
                                            #trucktype = "ngModel"
                                            [required]="trucktype!=''"
                                            (change)="trucktype()" title="trucktype Type">
                                            <option value="P">Pickup</option>
                                            <option value="B">Heavy</option>
                                          </select>
                                        </div>                                          
                                      </div> -->
                                      <!-- <div class="row"> -->
                                        <!-- <div class="col-md-6 m-l45">
                                            <div class="form-group" [ngClass]="{'has-error':unit.invalid && !unit.pristine}">
                                              <label for="name13">Unit<span
                                                class="required-field"></span>
                                              </label> 
                                                <input
                                                type="number" min='0' class="form-control"
                                                [(ngModel)]="freightCalc.unit" name="unit"
                                                #unit="ngModel" required
                                                placeholder="Unit" />
                                          <p *ngIf="unit.invalid && !unit.pristine" class="help-block">Unit is required.</p>
                                            </div>
                                          </div> -->
                                    <!-- </div> -->
                                      
                                      
                                      
                                </div>
                                <!-- <div class="row">
                                  <div class="col-md-6 m-l45">
                                        <div class="form-group"
                                          [ngClass]="{'has-error':address.invalid && !address.pristine}">
                                          <label for="addr">Street/Property Address<span
                                            class="required-field"></span></label><input
                                            type="text" class="form-control"
                                            [(ngModel)]="freightCalc.U_A_STREET" [options]='options'
                                            (setAddress)="getAddress($event)"
                                            (city)='freightCalc.U_A_CITY=$event'
                                            (state)='freightCalc.U_A_STATE=$event'
                                            (country)='freightCalc.U_A_COUNTRY=$event'
                                            (postal_code)='freightCalc.U_A_POSTCODE=$event'
                                            #address1="ngModel" name="address" #address="ngModel"
                                            id="autocomplete" ng2-google-place-autocomplete required />
                                          <p *ngIf="address.invalid && !address.pristine"
                                            class="help-block">Address is required.</p>
                                        </div>                                      
                                      </div>
                                      <div class="col-md-6 m-l45">
                                        <div class="form-group"
                                          [ngClass]="{'has-error':city.invalid && !city.pristine}">
                                          <label for="name13">City/Town/Suburb<span
                                            class="required-field"></span></label><input
                                            type="text" class="form-control"
                                            [(ngModel)]="freightCalc.U_A_CITY" name="city" #city="ngModel"
                                            required placeholder="Enter City" />
                                          <p *ngIf="city.invalid && !city.pristine"
                                            class="help-block">City is required.</p>
                                        </div>
                                      </div>                                                             
                                  
                                </div>
                                <div class="row">
                                
                                          <div class="col-md-6">
                                              <div class="form-group" [ngClass]="{'has-error':state.invalid && !state.pristine}">
                                                <label for="name13">State<span
                                                  class="required-field"></span>
                                                </label> 
                                                  <input
                                                  type="text" class="form-control"
                                                  [(ngModel)]="freightCalc.U_A_STATE" name="state"
                                                  #state="ngModel" required
                                                  placeholder="Enter State" />
                                            <p *ngIf="state.invalid && !state.pristine" class="help-block">State is required.</p>
                                              </div>
                                            </div>
                                
                                  <div class="col-md-6 m-l45">
                                      <div class="form-group" [ngClass]="{'has-error':zipcode.invalid && !zipcode.pristine}">
                                        <label for="zip">Postal Code<span
                                          class="required-field"></span></label> <input
                                          type="text" class="form-control" id="zip" name="zipcode" #zipcode = "ngModel"
                                          [(ngModel)]="freightCalc.U_A_POSTCODE"
                                          placeholder="Postal Code" #zipcode="ngModel" required>
                                          <p *ngIf="zipcode.invalid && !zipcode.pristine" class="help-block">Postcode is required</p>
                                      </div>
                                    </div> 
                                  
                                </div> -->
        
                                <!-- [disabled]="freightCalcform.form._status==='INVALID' || !check"	 -->
                                <!-- (click)="createfreightCalc()" "tabs[1].contactactive = true"-->
                                <div class="row" style="text-align: center">
                                  <div class="col-md-12">
                                <button type="button" class="col-md-6" (click)= 'calculateFreight()' 
                                   class="btn btn-primary">Calculate Freight</button>
                                  </div>
                                </div>
                                <!-- <button type="cancel" (click)="login()"
                                  class="btn btn-primary pull-right">Cancel</button> -->
                                <!-- /.col-md-6 -->                       
        
                              </form>

														</div>


													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal" (click)="closeModal()">Close</button>
														<!-- <button type="button" (click)="addBrakevenForcast()" [disabled]="addBrkevenfrcstForm.form.invalid"
															class="btn btn-primary">Add</button> -->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="panel-body"> -->
									<!-- <div id="prod-chart" [style.width.%]="100" [style.height.px]="500"></div> -->
									<!-- <app-addedcommoditylist></app-addedcommoditylist> -->
								<!-- </div> -->
								<!-- <app-break-even-forcast-grid></app-break-even-forcast-grid> -->
							</div>
						</div>
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-md-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.section -->

</div>