<div class="main-wrapper"> 
  <app-top-navbar></app-top-navbar> 
  <div class="content-wrapper"> 
  
   
  <div class="container-fluid">
  
      <div class="row page-title-div">
          <div class="col-md-6">
              <h4 class="title">Documents</h4>
              <p class="sub-title">One stop solution for farmers!</p>
          </div>
          
          <div class="col-sm-6 right-side">
          </div>
          
      </div>
      
      <div class="row breadcrumb-div">
          <div class="col-sm-6">
              <ul class="breadcrumb">
                  <li><a  style="cursor:pointer">
                      <i class="fa fa-home"></i> Dashboard</a> / Documents</li>
              </ul>
          </div>
          
          <div class="col-sm-6 text-right hidden-xs">
              <a  style="cursor: pointer"><i class="fa fa-comments"></i> Talk to us</a>
              <a  class="pl-20" style="cursor: pointer"><i class="fa fa-newspaper-o"></i> Subscription</a>
          </div>
          
      </div>
      
  </div>
  <!-- /.container-fluid -->
  
  <section class="section pt-10">
    <!-- <div class="container-fluid"> -->
      <div class="row">
        <div class="col-md-12">
          <!-- <div class="panel border-primary no-border border-3-top"
            data-panel-control> -->
            <!-- <div class="panel-heading">
              <div class="panel-title text-center">
                <h5>Documents</h5>
              </div>
                      </div> -->
                      <app-ngr-entity-display></app-ngr-entity-display>
                      <div class="panel-body">
                          <button type="button" (click)="addDocModal()" class="btn btn-primary">Add Documents
                          </button>
                          
                         
                      </div>
            <div class="panel-body">
              <app-documents-grid></app-documents-grid>
            </div>
          <!-- </div> -->
          <!-- /.panel -->
        </div>
        <!-- /.col-md-6 -->
  
      </div>
      <!-- /.row -->
    <!-- </div> -->
    <!-- /.container-fluid -->
  </section>
  <!-- /.section -->
  

  <!--addDocView popup--> 
  <div class="modal fade bd-example-modal-lg" id="addDoc" tabindex="-1" bsModal #addDocModel="bs-modal" role="dialog"  [config]="{backdrop: false}" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">
            Add Documents
          </h4>
          <button type="button" class="close" (click)="addDocModel.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
                <div class="radio">
                  <label><input type="radio" name="optradio">
                    Add Documents to the user
                    <br/>
                    Click on Browse document and upload it.
                  </label>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="radio">
                  <label><input type="radio" name="optradio">
                    Select the sale that you want to associate the document with.
                  </label>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <ag-grid-angular id="grid1" #agGrid style="height:300px;"
                class="ag-blue" [gridOptions]="gridOptions"  [columnDefs]="columnDefs" 
                [rowData]="saleHistoryData" (gridReady)="onGridReady($event)"   [groupUseEntireRow]="true"> </ag-grid-angular>    
            </div>
          </div>
          <div class="row" *ngIf="uploadSuccesfull">
            <div class="col-md-12 alert alert-success">
                <h4 class="modal-title" id="myModalLabel">
                   {{selectedfile.name}}  uploaded
                </h4>    
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="browseDocument()">Browse Document</button>
          <button type="button" class="btn btn-primary"  >Submit</button>
        </div>
        </div>
      </div>
    </div>
    
  <!--browseDocument popup--> 
  <div class="modal fade bd-example-modal-lg" id="browseDocument" tabindex="-1" bsModal #browseDocumentModel="bs-modal" role="dialog"  [config]="{backdrop: false}" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">
            Documents
          </h4>
        </div>
  
        <div class="modal-body">
          <!-- <div class="row">
            <div class="col-md-12">
                
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                  
            </div>
          </div> -->
          <form #addffForm="ngForm" class="form-horizontal">

            <!-- <div class="form-group">
              <label for="default" class="col-sm-3 control-label">Documents Name
                <span class="field-wrapper required-field"></span>
              </label>
              <div class="col-sm-9">
               
                <select class="form-control" name="selectedDocuments" [(ngModel)]="documentName" id="docname" title="Select Document Name">
                  <option>test documents1</option>
                  <option>test documents2</option>
                  <option>test documents3</option>
                </select>
              </div>
            </div>
            <div class="form-group">
                <label for="default" class="col-sm-3 control-label">Documents Format
                  <span class="field-wrapper required-field"></span>
                </label>
                <div class="col-sm-9">
                  
                  <select class="form-control" name="selectedDocuments" [(ngModel)]="docFormat" id="docformat" title="Select Dpcument Format">
                    <option>PDF</option>
                    <option>Word</option>
                    <option>Excel</option>
                  </select>
                </div>
            </div> -->
            <div class="form-group">
              <label for="default" class="col-sm-3 control-label">Document Location
              </label>
              <div class="col-sm-9 has-feedback has-search">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  <input type="file"  #docfile (change)="selectedFile($event)" id="docfileid"  class="form-control" placeholder="Search">
                <!-- <p *ngIf="fmarea.invalid && !fmarea.pristine" class="help-block">Area is required.</p> -->
              </div>
            </div>
              
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="uploadDoc()" >Upload Document</button>
        </div>
        </div>
      </div>
    </div>





  
  </div> 
  
  </div> 