.map {
  width: 100%;
  height: 80vh;
}
 
.search-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  margin-top:10px;  
  margin-left: 20%;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.m-t{
  margin-top: 25px;
}

#distancemap {
  height: 60vh;
  width: 100%;
}

#output {
  font-size: 16px;
}