<div class="main-wrapper">
	<app-top-navbar></app-top-navbar>
</div>

<div class="content-wrapper">


	<div class="container-fluid">

		<div class="row page-title-div">
			<div class="col-md-6">
				<h4 class="title">Direction</h4>
				<p class="sub-title"></p>
			</div>
			<!-- /.col-sm-6 -->
			<div class="col-sm-6 right-side"></div>
			<!-- /.col-sm-6 text-right -->
		</div>
		<!-- /.row -->
		<div class="row breadcrumb-div">
			<div class="col-sm-6">
				<ul class="breadcrumb">
					<li>
						<a (click)="gotoHome()" style="cursor: pointer">
							<i class="fa fa-home"></i> Dashboard </a> / Direction</li>
				</ul>
			</div>
			<!-- col-sm-6 -->
			<div class="col-sm-6 text-right hidden-xs">
				<!-- <ul class="breadcrumb txt-align"> -->
					<!-- <li> -->
						<a style="cursor: pointer">
							<i class="fa fa-comments"></i> Talk to us
						</a>
					<!-- </li> -->
					<!-- <li> -->
						<a class="pl-20" style="cursor: pointer">
							<i class="fa fa-newspaper-o"></i> Subscription
						</a>
					<!-- </li> -->
				<!-- </ul> -->
			</div>
			<!-- /.col-sm-6 -->
		</div>
		<!-- /.row -->
	</div>
	<tabset #staticTabs>
		<tab heading="Search Nearby Ports">
			<div class="container">

				<div>
					<input id="pac-input" #search class="form-control search-input" type="text" placeholder="Search Box">
				</div>

				<div class="form-group">
					<div #mapDiv id='map' class="map">
					</div>
				</div>
			</div>
		</tab>
		<tab heading="Calculate Commodity Warehouse distance">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<label>Source</label>
						<input [(ngModel)]="srcsrch" id="source-input" #sourceSearch class="form-control " type="text" name='ss' placeholder="Enter source">
					</div>
					<div class="col-lg-3">
						<label>Destination</label>
						<input [(ngModel)]="destsrch" id="destination-input" #destiSearch class="form-control" name='dst' type="text" placeholder="Enter destination">
						<!-- <input  [(ngModel)]="destsrch" id="destination-input" #destiSearch class="form-control" name='dst' type="text" placeholder="Enter destination"> -->
					</div>
					<div class="col-lg-3">
						<button class="form-control m-t" type="button" (click)="initMap()">Calculate Distance</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-9">
						<label>Result:</label>
						<div id="output"></div>
					</div>
				</div>
				<div id="distancemap"></div>
			</div>
		</tab>
	</tabset>
</div>